object 'Z_WT::ZLSTAB' : InterfaceWindow {
  Title = 'Табель учета рабочего времени (Май 2012, по всем подразделениям)';
  Centered = True;
  object WORKINGTABLEBROWSE : Browser {
    object 'c_WORKINGTABLEBROWSE_SWRKTABLE.STRTABN_Таб.N' : Column {
      Visible = False;
    } // c_WORKINGTABLEBROWSE_SWRKTABLE.STRTABN_Таб.N : Column
  } // WORKINGTABLEBROWSE : Browser
  object JUMPWINDOW : InterfaceWindow {
    Centered = True;
  } // JUMPWINDOW : InterfaceWindow
  object WORKINGTABLEWINDOW : InterfaceWindow {
    Centered = True;
    object RANGEBROWSE : Browser {
      object c_RANGEBROWSE_RANGESTR : Column {
        Title = ^C'05/2012';
        HelpLine = 'Рабочий диапазон учётного периода: "о" - основной, "п" - переход';
      } // c_RANGEBROWSE_RANGESTR : Column
    } // RANGEBROWSE : Browser
    object WORKINGTABLESCREEN : Screen {
      object 'L_WORKINGTABLESCREEN_Режим_работы' : Label {
        Origin_X = 9;
        Origin_Y = 85;
      } // L_WORKINGTABLESCREEN_Режим_работы : Label
      object 'i_WORKINGTABLESCREEN_KATPODR.NAME' : PanelInputLine {
        PickButton = False;
        StatusCtx = 6901;
        Size_X = 582;
      } // i_WORKINGTABLESCREEN_KATPODR.NAME : PanelInputLine
      object 'i_WORKINGTABLESCREEN_KLREJIM.NREJIM' : PanelInputLine {
        PickButton = False;
        StatusCtx = 6901;
        Origin_X = 100;
        Origin_Y = 83;
      } // i_WORKINGTABLESCREEN_KLREJIM.NREJIM : PanelInputLine
    } // WORKINGTABLESCREEN : Screen
    object WORKERINFOSCREEN : Screen {
      object 'i_WORKERINFOSCREEN_KLKATEGO.NAIKAT' : PanelInputLine {
        PickButton = False;
        StatusCtx = 6901;
      } // i_WORKERINFOSCREEN_KLKATEGO.NAIKAT : PanelInputLine
      object 'i_WORKERINFOSCREEN_CATALOGS.NAME' : PanelInputLine {
        PickButton = False;
        StatusCtx = 6901;
      } // i_WORKERINFOSCREEN_CATALOGS.NAME : PanelInputLine
      object i_WORKERINFOSCREEN_SPECIALTAXATIONTREATMENT : PanelInputLine {
        PickButton = False;
        StatusCtx = 6901;
      } // i_WORKERINFOSCREEN_SPECIALTAXATIONTREATMENT : PanelInputLine
      object 'i_WORKERINFOSCREEN_LSTAB.DAYCHOTS[1]' : PanelInputLine {
        Protect = True;
      } // i_WORKERINFOSCREEN_LSTAB.DAYCHOTS[1] : PanelInputLine
      object i_WORKERINFOSCREEN_BRIGADESTR : PanelInputLine {
        PickButton = False;
        StatusCtx = 6901;
      } // i_WORKERINFOSCREEN_BRIGADESTR : PanelInputLine
      object i_WORKERINFOSCREEN_PERSONALACCOUNTMPF : PanelInputLine {
        Protect = True;
      } // i_WORKERINFOSCREEN_PERSONALACCOUNTMPF : PanelInputLine
      object 'i_WORKERINFOSCREEN_KLSISOPL.NASISOPL' : PanelInputLine {
        PickButton = False;
        StatusCtx = 6901;
      } // i_WORKERINFOSCREEN_KLSISOPL.NASISOPL : PanelInputLine
      object i_WORKERINFOSCREEN_TARIFF : PanelInputLine {
        StatusCtx = 6901;
      } // i_WORKERINFOSCREEN_TARIFF : PanelInputLine
      object 'i_WORKERINFOSCREEN_KLVAL.SIMVOLV' : PanelInputLine {
        PickButton = False;
        StatusCtx = 6901;
      } // i_WORKERINFOSCREEN_KLVAL.SIMVOLV : PanelInputLine
      object i_WORKERINFOSCREEN_CORRECTIVEFACTOR : PanelInputLine {
        Protect = True;
        Skip = True;
      } // i_WORKERINFOSCREEN_CORRECTIVEFACTOR : PanelInputLine
    } // WORKERINFOSCREEN : Screen
    object EXTRANALITIK : Screen {
      object i_EXTRANALITIK_ACCOUNTSTR : PanelInputLine {
        PickButton = False;
        StatusCtx = 6901;
      } // i_EXTRANALITIK_ACCOUNTSTR : PanelInputLine
      object i_EXTRANALITIK_CONTROLACCOUNTSTR : PanelInputLine {
        PickButton = False;
        StatusCtx = 6901;
      } // i_EXTRANALITIK_CONTROLACCOUNTSTR : PanelInputLine
      object i_EXTRANALITIK_ANALYTICSSTR : PanelInputLine {
        PickButton = False;
        StatusCtx = 6901;
      } // i_EXTRANALITIK_ANALYTICSSTR : PanelInputLine
      object 'i_EXTRANALITIK_HOZOPER.NAME1' : PanelInputLine {
        PickButton = False;
        StatusCtx = 6901;
      } // i_EXTRANALITIK_HOZOPER.NAME1 : PanelInputLine
      object i_EXTRANALITIK_STANDARDBUSINESSTRANSACTIONPARAMETER : PanelInputLine {
        Protect = True;
        PickButton = False;
        StatusCtx = 6901;
      } // i_EXTRANALITIK_STANDARDBUSINESSTRANSACTIONPARAMETER : PanelInputLine
      object i_EXTRANALITIK_NAMEXTRKAU : PanelInputLine {
        PickButton = False;
        StatusCtx = 6901;
      } // i_EXTRANALITIK_NAMEXTRKAU : PanelInputLine
    } // EXTRANALITIK : Screen
  } // WORKINGTABLEWINDOW : InterfaceWindow
} // Z_WT::ZLSTAB : InterfaceWindow
//-----------------------------------------------------------------------------
