//Добавлен внешний атрибут в интерфейсе редактирования алгоритмов нормативного расхода ГСМ (табл.GSMALG)-
//для отчета по форме 03 (м.УТ-Отчеты пользователя)
object 'M_TRANSP::GET_GSAL' : InterfaceWindow {
  object GSM_ALG : InterfaceWindow {
      // Информация: объект "'ExtAttr: GSMALG,88664617663857328'" типа PanelInputLine не найден в базовой конфигурации!
    object GSMALGSCR : Screen {
      object 'ExtAttr: GSMALG,88664617663857328' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = False;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        PickButton = False;
        CalcButton = False;
        Calendar = False;
        LessNull = False;
        StatusCtx = 145;
        Strings = ( // Список строк
        )
        StringsNull = 0;
        HelpLine = 'Название для формы 03 (м.УТ-Отчеты пользователя)';
        FieldName = 'ExtAttr: GSMALG,88664617663857328';
        DefaultValue = '';
        Origin_X = 10;
        Origin_Y = 70;
        Size_X = 167;
        Size_Y = 14;
        TextAlign = 0;
        SpinButton = False;
        SpinInc = 0.0;
        SpinMin = 0.0;
        SpinMax = 0.0;
        NoStatic = False;
        EnumValues = ( // Список целых
        )
        PassiveFormat = '';
        Points = 0;
        MaxLen = 255;
        PrecisionVarName = '';
        HistoryID = 0;
        DropTarget = False;
        DropSource = False;
      } // ExtAttr: GSMALG,88664617663857328 : PanelInputLine
      // Информация: объект "'LbExtAttr: GSMALG,88664617663857328'" типа Label не найден в базовой конфигурации!
      object 'LbExtAttr: GSMALG,88664617663857328' : Label {
        Original = False;
        Title = 'Название для формы 03 (м.УТ-Отчеты пользователя)';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 185;
        Origin_Y = 70;
        Size_X = 329;
        Size_Y = 14;
      } // LbExtAttr: GSMALG,88664617663857328 : Label
      // Информация: объект "'ExtAttr: GSMALG,88664617663857332'" типа PanelInputLine не найден в базовой конфигурации!
      object 'ExtAttr: GSMALG,88664617663857332' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = False;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        PickButton = False;
        CalcButton = False;
        Calendar = False;
        LessNull = False;
        StatusCtx = 145;
        Strings = ( // Список строк
        )
        StringsNull = 0;
        HelpLine = 'формула для расчета значения показателя';
        FieldName = 'ExtAttr: GSMALG,88664617663857332';
        DefaultValue = '';
        Origin_X = 355;
        Origin_Y = 44;
        Size_X = 100;
        Size_Y = 14;
        TextAlign = 0;
        SpinButton = False;
        SpinInc = 0.0;
        SpinMin = 0.0;
        SpinMax = 0.0;
        NoStatic = False;
        EnumValues = ( // Список целых
        )
        PassiveFormat = '';
        Points = 0;
        MaxLen = 255;
        PrecisionVarName = '';
        HistoryID = 0;
        DropTarget = False;
        DropSource = False;
      } // ExtAttr: GSMALG,88664617663857332 : PanelInputLine
      // Информация: объект "'LbExtAttr: GSMALG,88664617663857332'" типа Label не найден в базовой конфигурации!
      object 'LbExtAttr: GSMALG,88664617663857332' : Label {
        Original = False;
        Title = 'Показатель значение';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 355;
        Origin_Y = 20;
        Size_X = 100;
        Size_Y = 14;
      } // LbExtAttr: GSMALG,88664617663857332 : Label
    } // GSMALGSCR : Screen
  } // GSM_ALG : InterfaceWindow
} // M_TRANSP::GET_GSAL : InterfaceWindow
//-----------------------------------------------------------------------------
