object 'M_TRANSP::KAR_SHI' : InterfaceWindow {
  Centered = True;
  object BRPNKAR_SHI : Browser {
    object 'c_BRPNKAR_SHI_MARSHIN.NMSHIN_Наименование_марки' : Column {
      Index = 2;
    } // c_BRPNKAR_SHI_MARSHIN.NMSHIN_Наименование_марки : Column
    // Информация: объект "'Field: MARSHIN.MODSHIN'" типа Column не найден в базовой конфигурации!
    object 'Field: MARSHIN.MODSHIN' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 16;
      PickButton = False;
      CalcButton = False;
      Calendar = False;
      Title = 'Мод. шин.';
      HelpLine = 'Мод. шин.';
      FieldName = 'Field: MARSHIN.MODSHIN';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Index = 3;
      DefaultWidth = 21;
      TextAlign = 0;
      SpinButton = False;
      SpinInc = 0.0;
      SpinMin = 0.0;
      SpinMax = 0.0;
      NoAutoSize = False;
      EnumValues = ( // Список целых
      )
      PassiveFormat = '';
      Points = 0;
      MaxLen = 20;
      PrecisionVarName = '';
      HistoryID = 0;
      DropTarget = False;
      DropSource = False;
    } // Field: MARSHIN.MODSHIN : Column
    // Информация: объект "'Field: MARSHIN.IZGNAME'" типа Column не найден в базовой конфигурации!
    object 'Field: MARSHIN.IZGNAME' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = False;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 16;
      PickButton = False;
      CalcButton = False;
      Calendar = False;
      Title = 'Р-р шины';
      HelpLine = '';
      FieldName = 'Field: MARSHIN.IZGNAME';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Index = 4;
      DefaultWidth = 19;
      TextAlign = 0;
      SpinButton = False;
      SpinInc = 0.0;
      SpinMin = 0.0;
      SpinMax = 0.0;
      NoAutoSize = False;
      EnumValues = ( // Список целых
      )
      PassiveFormat = '';
      Points = 0;
      MaxLen = 80;
      PrecisionVarName = '';
      HistoryID = 0;
      DropTarget = False;
      DropSource = False;
    } // Field: MARSHIN.IZGNAME : Column
    object 'c_BRPNKAR_SHI_SHINAF.XARAF17_Пробег_общий_с_уч.коэф.' : Column {
      Index = 5;
    } // c_BRPNKAR_SHI_SHINAF.XARAF17_Пробег_общий_с_уч.коэф. : Column
    object 'c_BRPNKAR_SHI_SHINAF.PROBEGALL_Пробег_общий' : Column {
      Index = 6;
    } // c_BRPNKAR_SHI_SHINAF.PROBEGALL_Пробег_общий : Column
    object 'c_BRPNKAR_SHI_SHINAF.GARPR_Пробег_гарант.' : Column {
      Index = 7;
    } // c_BRPNKAR_SHI_SHINAF.GARPR_Пробег_гарант. : Column
    object 'c_BRPNKAR_SHI_SHINAF.IKSPR_Пробег_экспл.' : Column {
      Index = 8;
    } // c_BRPNKAR_SHI_SHINAF.IKSPR_Пробег_экспл. : Column
    object 'c_BRPNKAR_SHI_TRANSP.NOMER_Гос._номер' : Column {
      Index = 9;
    } // c_BRPNKAR_SHI_TRANSP.NOMER_Гос._номер : Column
    object 'c_BRPNKAR_SHI_TRANSP.GARNOM_Гаражный_номер' : Column {
      Index = 10;
    } // c_BRPNKAR_SHI_TRANSP.GARNOM_Гаражный_номер : Column
    object 'c_BRPNKAR_SHI_WRDVI_Тип_открепления' : Column {
      Index = 11;
    } // c_BRPNKAR_SHI_WRDVI_Тип_открепления : Column
    object 'c_BRPNKAR_SHI_SHINAF.DATZAK_Дата_закрепления' : Column {
      Index = 12;
    } // c_BRPNKAR_SHI_SHINAF.DATZAK_Дата_закрепления : Column
    object 'c_BRPNKAR_SHI_SHINAF.DATSP_Дата_заверш.' : Column {
      Index = 13;
    } // c_BRPNKAR_SHI_SHINAF.DATSP_Дата_заверш. : Column
  } // BRPNKAR_SHI : Browser
  object WNDKAR_SHI_EDIT_OLD : InterfaceWindow {
    Centered = True;
      // Информация: объект "'Field: MARSHIN.MODSHIN#1'" типа Column не найден в базовой конфигурации!
    object BRKAR_SHI_EDIT_OLD : Browser {
      object 'Field: MARSHIN.MODSHIN#1' : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        StatusCtx = 16;
        PickButton = False;
        CalcButton = False;
        Calendar = False;
        Title = 'Модель шины';
        HelpLine = '';
        FieldName = 'Field: MARSHIN.MODSHIN';
        DefaultValue = '';
        Strings = ( // Список строк
        )
        StringsNull = 0;
        Index = 3;
        DefaultWidth = 18;
        TextAlign = 0;
        SpinButton = False;
        SpinInc = 0.0;
        SpinMin = 0.0;
        SpinMax = 0.0;
        NoAutoSize = False;
        EnumValues = ( // Список целых
        )
        PassiveFormat = '';
        Points = 0;
        MaxLen = 20;
        PrecisionVarName = '';
        HistoryID = 0;
        DropTarget = False;
        DropSource = False;
      } // Field: MARSHIN.MODSHIN#1 : Column
      // Информация: объект "'Field: MARSHIN.IZGNAME#1'" типа Column не найден в базовой конфигурации!
      object 'Field: MARSHIN.IZGNAME#1' : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = False;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        StatusCtx = 16;
        PickButton = False;
        CalcButton = False;
        Calendar = False;
        Title = 'Р-р шины';
        HelpLine = '';
        FieldName = 'Field: MARSHIN.IZGNAME';
        DefaultValue = '';
        Strings = ( // Список строк
        )
        StringsNull = 0;
        Index = 4;
        DefaultWidth = 17;
        TextAlign = 0;
        SpinButton = False;
        SpinInc = 0.0;
        SpinMin = 0.0;
        SpinMax = 0.0;
        NoAutoSize = False;
        EnumValues = ( // Список целых
        )
        PassiveFormat = '';
        Points = 0;
        MaxLen = 80;
        PrecisionVarName = '';
        HistoryID = 0;
        DropTarget = False;
        DropSource = False;
      } // Field: MARSHIN.IZGNAME#1 : Column
      object 'c_BRKAR_SHI_EDIT_OLD_TRANSP.NOMER_Гос._номер' : Column {
        Index = 5;
      } // c_BRKAR_SHI_EDIT_OLD_TRANSP.NOMER_Гос._номер : Column
      object 'c_BRKAR_SHI_EDIT_OLD_TRANSP.GARNOM_Гаражный_номер' : Column {
        Index = 6;
      } // c_BRKAR_SHI_EDIT_OLD_TRANSP.GARNOM_Гаражный_номер : Column
      object 'c_BRKAR_SHI_EDIT_OLD_WRDVI_Тип_открепления' : Column {
        Index = 7;
      } // c_BRKAR_SHI_EDIT_OLD_WRDVI_Тип_открепления : Column
      object 'c_BRKAR_SHI_EDIT_OLD_SHINAF.MINPOKAZ_Min_показатель' : Column {
        Index = 8;
      } // c_BRKAR_SHI_EDIT_OLD_SHINAF.MINPOKAZ_Min_показатель : Column
      object 'c_BRKAR_SHI_EDIT_OLD_SHINAF.MAXPOKAZ_Max_показатель' : Column {
        Index = 9;
      } // c_BRKAR_SHI_EDIT_OLD_SHINAF.MAXPOKAZ_Max_показатель : Column
      object 'c_BRKAR_SHI_EDIT_OLD_SHINAF.DATZAK_Дата_выполн.' : Column {
        Index = 10;
      } // c_BRKAR_SHI_EDIT_OLD_SHINAF.DATZAK_Дата_выполн. : Column
      object 'c_BRKAR_SHI_EDIT_OLD_SHINAF.DATSP_Дата_заверш.' : Column {
        Index = 11;
      } // c_BRKAR_SHI_EDIT_OLD_SHINAF.DATSP_Дата_заверш. : Column
      object 'c_BRKAR_SHI_EDIT_OLD_SHINAF.PGP_Глубина_протектора' : Column {
        Index = 12;
      } // c_BRKAR_SHI_EDIT_OLD_SHINAF.PGP_Глубина_протектора : Column
      object 'c_BRKAR_SHI_EDIT_OLD_SHINAF.NORMAIZ_Норма_износа' : Column {
        Index = 13;
      } // c_BRKAR_SHI_EDIT_OLD_SHINAF.NORMAIZ_Норма_износа : Column
      object 'c_BRKAR_SHI_EDIT_OLD_SHINAF.XARAF4_Стоимость_первоначальная' : Column {
        Index = 14;
      } // c_BRKAR_SHI_EDIT_OLD_SHINAF.XARAF4_Стоимость_первоначальная : Column
    } // BRKAR_SHI_EDIT_OLD : Browser
  } // WNDKAR_SHI_EDIT_OLD : InterfaceWindow 
} // M_TRANSP::KAR_SHI : InterfaceWindow
//-----------------------------------------------------------------------------
