object 'F_OSOPER::MOVEOS' : InterfaceWindow {
    // Информация: объект "'Field: MOVEOS.DESGR'" типа Column не найден в базовой конфигурации!
  object PMOVEOS : Browser {
    object 'Field: MOVEOS.DESGR' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 9024;
      PickButton = False;
      CalcButton = False;
      Calendar = False;
      Title = 'Гр.дескр';
      HelpLine = '';
      FieldName = 'Field: MOVEOS.DESGR';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Index = 2;
      DefaultWidth = 5;
      TextAlign = 0;
      SpinButton = False;
      SpinInc = 0.0;
      SpinMin = 0.0;
      SpinMax = 0.0;
      NoAutoSize = False;
      EnumValues = ( // Список целых
      )
      PassiveFormat = '';
      Points = 0;
      MaxLen = 4;
      PrecisionVarName = '';
      HistoryID = 0;
      DropTarget = False;
      DropSource = False;
      FontBold = 'Значение не определено или не известно.';
      FontItalic = 'Значение не определено или не известно.';
      FontColor = 'Значение не определено или не известно.';
      FontBackColor = 'Значение не определено или не известно.';
      InputMask = 'Значение не определено или не известно.';
    } // Field: MOVEOS.DESGR : Column
    object 'c_PMOVEOS_MOVEOS.NODOC_Номер' : Column {
      Index = 3;
    } // c_PMOVEOS_MOVEOS.NODOC_Номер : Column
    object 'c_PMOVEOS_HOZOPER.NAME1_Операция' : Column {
      Index = 4;
    } // c_PMOVEOS_HOZOPER.NAME1_Операция : Column
    object 'c_PMOVEOS_SPMOVE.NEWSTOIM_Общая_стоимость' : Column {
      Index = 5;
    } // c_PMOVEOS_SPMOVE.NEWSTOIM_Общая_стоимость : Column
    object 'c_PMOVEOS_SPMOVE.NEWSUMIZN_Общая_сумма_износа' : Column {
      Index = 6;
    } // c_PMOVEOS_SPMOVE.NEWSUMIZN_Общая_сумма_износа : Column
    object c_PMOVEOS_ISMARKED : Column {
      Index = 7;
    } // c_PMOVEOS_ISMARKED : Column
  } // PMOVEOS : Browser
} // F_OSOPER::MOVEOS : InterfaceWindow
