object 'F_GETAN::GTCGKAU_OS' : InterfaceWindow {
  object TRGETKAU : TreeBrowser {
    // Информация: объект "'ExtAttr: KATOS,89509042593989104'" типа TreeColumn не найден в базовой конфигурации!
    object 'ExtAttr: KATOS,89509042593989104' : TreeColumn {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 9024;
      PickButton = False;
      CalcButton = False;
      Calendar = False;
      Title = 'Предыд.инв.№';
      HelpLine = '';
      FieldName = 'ExtAttr: KATOS,89509042593989104';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Size_X = 152;
      Index = 3;
      DefaultWidth = 14;
      TextAlign = 0;
      SpinButton = False;
      SpinInc = 0.0;
      SpinMin = 0.0;
      SpinMax = 0.0;
      NoAutoSize = False;
      EnumValues = ( // Список целых
      )
      PassiveFormat = '';
      Points = 0;
      MaxLen = 255;
      PrecisionVarName = '';
      HistoryID = 0;
      DropTarget = False;
      DropSource = False;
    } // ExtAttr: KATOS,89509042593989104 : TreeColumn
    object 'c_TRGETKAU_VIDNORMA.KOD_Вид_ОС' : TreeColumn {
      Index = 4;
    } // c_TRGETKAU_VIDNORMA.KOD_Вид_ОС : TreeColumn
  } // TRGETKAU : TreeBrowser
} // F_GETAN::GTCGKAU_OS : InterfaceWindow
//-----------------------------------------------------------------------------
object 'F_OS::KATOSS' : InterfaceWindow {
  object PDOCUMENT : Browser {
    // Информация: объект "'ExtAttr: KATOS,89509042593989104#1'" типа Column не найден в базовой конфигурации!
    object 'ExtAttr: KATOS,89509042593989104#1' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 9024;
      PickButton = False;
      CalcButton = False;
      Calendar = False;
      Title = 'Предыд.инв.№';
      HelpLine = '';
      FieldName = 'ExtAttr: KATOS,89509042593989104';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Index = 2;
      DefaultWidth = 18;
      TextAlign = 0;
      SpinButton = False;
      SpinInc = 0.0;
      SpinMin = 0.0;
      SpinMax = 0.0;
      NoAutoSize = False;
      EnumValues = ( // Список целых
      )
      PassiveFormat = '';
      Points = 0;
      MaxLen = 255;
      PrecisionVarName = '';
      HistoryID = 0;
      DropTarget = False;
      DropSource = False;
    } // ExtAttr: KATOS,89509042593989104#1 : Column
    object 'c_PDOCUMENT_KATOS.NAMEOS_Наименование' : Column {
      Index = 3;
    } // c_PDOCUMENT_KATOS.NAMEOS_Наименование : Column
    object 'c_PDOCUMENT_KATOS.DATEK_Дата_ввода' : Column {
      Index = 4;
    } // c_PDOCUMENT_KATOS.DATEK_Дата_ввода : Column
    object 'c_PDOCUMENT_Стоимость' : Column {
      Index = 5;
    } // c_PDOCUMENT_Стоимость : Column
    object 'c_PDOCUMENT_BRCOLUMNSUMIZN_Износ' : Column {
      HelpLine = 'Сумма износа на начало отчетного периода';
      Index = 6;
    } // c_PDOCUMENT_BRCOLUMNSUMIZN_Износ : Column
    object 'c_PDOCUMENT_BRCOLUMNSIZNM_Износ_за_период' : Column {
      Index = 7;
    } // c_PDOCUMENT_BRCOLUMNSIZNM_Износ_за_период : Column
    object 'c_PDOCUMENT_OSTSROKPOLISP_Срок_использования' : Column {
      Index = 8;
    } // c_PDOCUMENT_OSTSROKPOLISP_Срок_использования : Column
    object 'c_PDOCUMENT_KATOS.REGNUM_Регистрац._номер' : Column {
      Index = 9;
    } // c_PDOCUMENT_KATOS.REGNUM_Регистрац._номер : Column
    object 'c_PDOCUMENT_PROBTRCURR.MES[13]_Текущий_месяц' : Column {
      Index = 10;
    } // c_PDOCUMENT_PROBTRCURR.MES[13]_Текущий_месяц : Column
    object 'c_PDOCUMENT_KATOS.OTCHPER_Отчетный_период' : Column {
      Index = 11;
    } // c_PDOCUMENT_KATOS.OTCHPER_Отчетный_период : Column
    object c_PDOCUMENT_VBR : Column {
      Index = 12;
    } // c_PDOCUMENT_VBR : Column
  } // PDOCUMENT : Browser

  // Информация: объект "'ExtAttr: KATOS,89509042593989104'" типа TreeColumn не найден в базовой конфигурации!
  object TRDOCUMENT : TreeBrowser {
    object 'ExtAttr: KATOS,89509042593989104' : TreeColumn {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 9024;
      PickButton = False;
      CalcButton = False;
      Calendar = False;
      Title = 'Предыд. инв. №';
      HelpLine = '';
      FieldName = 'ExtAttr: KATOS,89509042593989104';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Size_X = 85;
      Index = 1;
      DefaultWidth = 18;
      TextAlign = 0;
      SpinButton = False;
      SpinInc = 0.0;
      SpinMin = 0.0;
      SpinMax = 0.0;
      NoAutoSize = False;
      EnumValues = ( // Список целых
      )
      PassiveFormat = '';
      Points = 0;
      MaxLen = 255;
      PrecisionVarName = '';
      HistoryID = 0;
      DropTarget = False;
      DropSource = False;
    } // ExtAttr: KATOS,89509042593989104 : TreeColumn
    object 'c_TRDOCUMENT_KATOS.NAMEOS_Наименование' : TreeColumn {
      Index = 3;
    } // c_TRDOCUMENT_KATOS.NAMEOS_Наименование : TreeColumn
    object 'c_TRDOCUMENT_KATOS.DATEK_Дата_ввода' : TreeColumn {
      Index = 4;
    } // c_TRDOCUMENT_KATOS.DATEK_Дата_ввода : TreeColumn
    object 'c_TRDOCUMENT_Стоимость' : TreeColumn {
      Index = 5;
    } // c_TRDOCUMENT_Стоимость : TreeColumn
    object 'c_TRDOCUMENT_TRCOLUMNSUMIZN_Износ' : TreeColumn {
      Index = 6;
    } // c_TRDOCUMENT_TRCOLUMNSUMIZN_Износ : TreeColumn
    object 'c_TRDOCUMENT_TRCOLUMNSIZNM_Износ_за_период' : TreeColumn {
      Index = 7;
    } // c_TRDOCUMENT_TRCOLUMNSIZNM_Износ_за_период : TreeColumn
    object 'c_TRDOCUMENT_OSTSROKPOLISP_Срок_использования' : TreeColumn {
      Index = 8;
    } // c_TRDOCUMENT_OSTSROKPOLISP_Срок_использования : TreeColumn
    object 'c_TRDOCUMENT_KATOS.REGNUM_Регистрац._номер' : TreeColumn {
      Index = 9;
    } // c_TRDOCUMENT_KATOS.REGNUM_Регистрац._номер : TreeColumn
    object 'c_TRDOCUMENT_PROBTRCURR.MES[13]_Текущий_месяц' : TreeColumn {
      Index = 10;
    } // c_TRDOCUMENT_PROBTRCURR.MES[13]_Текущий_месяц : TreeColumn
    object 'c_TRDOCUMENT_KATOS.OTCHPER_Отчетный_период' : TreeColumn {
      Index = 11;
    } // c_TRDOCUMENT_KATOS.OTCHPER_Отчетный_период : TreeColumn
    object c_TRDOCUMENT_VBR : TreeColumn {
      Index = 12;
    } // c_TRDOCUMENT_VBR : TreeColumn
  } // TRDOCUMENT : TreeBrowser
} // F_OS::KATOSS : InterfaceWindow
//-----------------------------------------------------------------------------
