object 'F_OS::GETARC' : InterfaceWindow {
  object BRARC : Browser {
    // Информация: объект "'ExtAttr: ARCIZNOS,28147497671066246'" типа Column не найден в базовой конфигурации!
    object 'ExtAttr: ARCIZNOS,28147497671066246' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 9024;
      PickButton = False;
      CalcButton = False;
      Calendar = False;
      Title = 'ПР к начислению';
      HelpLine = '';
      FieldName = 'ExtAttr: ARCIZNOS,28147497671066246';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Index = 8;
      DefaultWidth = 10;
      TextAlign = 0;
      SpinButton = False;
      SpinInc = 0.0;
      SpinMin = 0.0;
      SpinMax = 0.0;
      NoAutoSize = False;
      EnumValues = ( // Список целых
      )
      PassiveFormat = '';
      Points = 2;
      MaxLen = 22;
      PrecisionVarName = '';
      HistoryID = 0;
      DropTarget = False;
      DropSource = False;
      FontBold = 'Значение не определено или не известно.';
      FontItalic = 'Значение не определено или не известно.';
      FontColor = 'Значение не определено или не известно.';
      FontBackColor = 'Значение не определено или не известно.';
      InputMask = 'Значение не определено или не известно.';
    } // ExtAttr: ARCIZNOS,28147497671066246 : Column
    object 'c_BRARC_VIDNORMA.SROKISP_Нормативный_срок' : Column {
      Visible = False;
      Index = 9;
    } // c_BRARC_VIDNORMA.SROKISP_Нормативный_срок : Column
    object c_BRARC_PRMOD : Column {
      Index = 10;
    } // c_BRARC_PRMOD : Column
  } // BRARC : Browser
  object WIFULLINFOARC : InterfaceWindow {
      // Информация: объект "'ExtAttr: ARCIZNOS,28147497671066246#1'" типа PanelInputLine не найден в базовой конфигурации!
    object SCFULLINFOARCOS : Screen {
      object 'ExtAttr: ARCIZNOS,28147497671066246#1' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = False;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        PickButton = False;
        CalcButton = False;
        Calendar = False;
        LessNull = False;
        StatusCtx = 9024;
        Strings = ( // Список строк
        )
        StringsNull = 0;
        HelpLine = '';
        FieldName = 'ExtAttr: ARCIZNOS,28147497671066246';
        DefaultValue = '';
        Origin_X = 193;
        Origin_Y = 584;
        Size_X = 134;
        Size_Y = 14;
        TextAlign = 0;
        SpinButton = False;
        SpinInc = 0.0;
        SpinMin = 0.0;
        SpinMax = 0.0;
        NoStatic = False;
        EnumValues = ( // Список целых
        )
        PassiveFormat = '';
        Points = 2;
        MaxLen = 22;
        PrecisionVarName = '';
        HistoryID = 0;
        DropTarget = False;
        DropSource = False;
        FontBold = 'Значение не определено или не известно.';
        FontItalic = 'Значение не определено или не известно.';
        FontColor = 'Значение не определено или не известно.';
        FontBackColor = 'Значение не определено или не известно.';
        InputMask = 'Значение не определено или не известно.';
      } // ExtAttr: ARCIZNOS,28147497671066246#1 : PanelInputLine
      // Информация: объект "'LbExtAttr: ARCIZNOS,28147497671066246#1'" типа Label не найден в базовой конфигурации!
      object 'LbExtAttr: ARCIZNOS,28147497671066246#1' : Label {
        Original = False;
        Title = 'ПР к начислению';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 8;
        Origin_Y = 587;
        Size_X = 98;
        Size_Y = 14;
      } // LbExtAttr: ARCIZNOS,28147497671066246#1 : Label
    } // SCFULLINFOARCOS : Screen
  } // WIFULLINFOARC : InterfaceWindow
} // F_OS::GETARC : InterfaceWindow
//-----------------------------------------------------------------------------
object 'F_OS::KATOSS' : InterfaceWindow {
  object PDOCUMENT : Browser {
    // Информация: объект "'ExtAttr: KATOS,89509042593989104#1'" типа Column не найден в базовой конфигурации!
    object 'ExtAttr: KATOS,89509042593989104#1' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 9024;
      PickButton = False;
      CalcButton = False;
      Calendar = False;
      Title = 'Предыд.инв.№';
      HelpLine = '';
      FieldName = 'ExtAttr: KATOS,89509042593989104';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Index = 2;
      DefaultWidth = 18;
      TextAlign = 0;
      SpinButton = False;
      SpinInc = 0.0;
      SpinMin = 0.0;
      SpinMax = 0.0;
      NoAutoSize = False;
      EnumValues = ( // Список целых
      )
      PassiveFormat = '';
      Points = 0;
      MaxLen = 255;
      PrecisionVarName = '';
      HistoryID = 0;
      DropTarget = False;
      DropSource = False;
      FontBold = 'Значение не определено или не известно.';
      FontItalic = 'Значение не определено или не известно.';
      FontColor = 'Значение не определено или не известно.';
      FontBackColor = 'Значение не определено или не известно.';
      InputMask = 'Значение не определено или не известно.';
    } // ExtAttr: KATOS,89509042593989104#1 : Column
    object 'c_PDOCUMENT_KATOS.NAMEOS_Наименование' : Column {
      Index = 3;
    } // c_PDOCUMENT_KATOS.NAMEOS_Наименование : Column
    object 'c_PDOCUMENT_KATOS.DATEK_Дата_ввода' : Column {
      Index = 4;
    } // c_PDOCUMENT_KATOS.DATEK_Дата_ввода : Column
    object 'c_PDOCUMENT_Стоимость' : Column {
      Index = 5;
    } // c_PDOCUMENT_Стоимость : Column
    object 'c_PDOCUMENT_BRCOLUMNSUMIZN_Износ' : Column {
      HelpLine = 'Сумма износа на начало отчетного периода';
      Index = 6;
    } // c_PDOCUMENT_BRCOLUMNSUMIZN_Износ : Column
    object 'c_PDOCUMENT_BRCOLUMNSIZNM_Износ_за_период' : Column {
      Title = ^C'Износ'^M+
              ^C'за месяц';
      HelpLine = 'Сумма начисленного износа в отчетном периоде ИК';
      Index = 7;
    } // c_PDOCUMENT_BRCOLUMNSIZNM_Износ_за_период : Column
    object 'c_PDOCUMENT_OSTSROKPOLISP_Срок_использования' : Column {
      Index = 8;
    } // c_PDOCUMENT_OSTSROKPOLISP_Срок_использования : Column
    object 'c_PDOCUMENT_KATOS.REGNUM_Регистрац._номер' : Column {
      Visible = False;
      Index = 9;
    } // c_PDOCUMENT_KATOS.REGNUM_Регистрац._номер : Column
    object 'c_PDOCUMENT_PROBTRCURR.MES[13]_Текущий_месяц' : Column {
      Visible = False;
      Index = 10;
    } // c_PDOCUMENT_PROBTRCURR.MES[13]_Текущий_месяц : Column
    object 'c_PDOCUMENT_KATOS.OTCHPER_Отчетный_период' : Column {
      Index = 11;
    } // c_PDOCUMENT_KATOS.OTCHPER_Отчетный_период : Column
    object c_PDOCUMENT_VBR : Column {
      Index = 12;
    } // c_PDOCUMENT_VBR : Column
  } // PDOCUMENT : Browser
    // Информация: объект "'ExtAttr: KATOS,89509042593989104'" типа TreeColumn не найден в базовой конфигурации!
  object TRDOCUMENT : TreeBrowser {
    object 'ExtAttr: KATOS,89509042593989104' : TreeColumn {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 9024;
      PickButton = False;
      CalcButton = False;
      Calendar = False;
      Title = 'Предыд. инв. №';
      HelpLine = '';
      FieldName = 'ExtAttr: KATOS,89509042593989104';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Size_X = 182;
      Index = 1;
      DefaultWidth = 18;
      TextAlign = 0;
      SpinButton = False;
      SpinInc = 0.0;
      SpinMin = 0.0;
      SpinMax = 0.0;
      NoAutoSize = False;
      EnumValues = ( // Список целых
      )
      PassiveFormat = '';
      Points = 0;
      MaxLen = 255;
      PrecisionVarName = '';
      HistoryID = 0;
      DropTarget = False;
      DropSource = False;
    } // ExtAttr: KATOS,89509042593989104 : TreeColumn
    object 'c_TRDOCUMENT_KATOS.NAMEOS_Наименование' : TreeColumn {
      Index = 2;
    } // c_TRDOCUMENT_KATOS.NAMEOS_Наименование : TreeColumn
    object 'c_TRDOCUMENT_KATOS.DATEK_Дата_ввода' : TreeColumn {
      Index = 3;
    } // c_TRDOCUMENT_KATOS.DATEK_Дата_ввода : TreeColumn
    object 'c_TRDOCUMENT_Стоимость' : TreeColumn {
      Index = 4;
    } // c_TRDOCUMENT_Стоимость : TreeColumn
    object 'c_TRDOCUMENT_TRCOLUMNSUMIZN_Износ' : TreeColumn {
      Index = 5;
    } // c_TRDOCUMENT_TRCOLUMNSUMIZN_Износ : TreeColumn
    object 'c_TRDOCUMENT_TRCOLUMNSIZNM_Износ_за_период' : TreeColumn {
      Index = 6;
    } // c_TRDOCUMENT_TRCOLUMNSIZNM_Износ_за_период : TreeColumn
    object 'c_TRDOCUMENT_OSTSROKPOLISP_Срок_использования' : TreeColumn {
      Index = 7;
    } // c_TRDOCUMENT_OSTSROKPOLISP_Срок_использования : TreeColumn
    object 'c_TRDOCUMENT_KATOS.REGNUM_Регистрац._номер' : TreeColumn {
      Index = 8;
    } // c_TRDOCUMENT_KATOS.REGNUM_Регистрац._номер : TreeColumn
    object 'c_TRDOCUMENT_PROBTRCURR.MES[13]_Текущий_месяц' : TreeColumn {
      Index = 9;
    } // c_TRDOCUMENT_PROBTRCURR.MES[13]_Текущий_месяц : TreeColumn
    object 'c_TRDOCUMENT_KATOS.OTCHPER_Отчетный_период' : TreeColumn {
      Index = 10;
    } // c_TRDOCUMENT_KATOS.OTCHPER_Отчетный_период : TreeColumn
    object c_TRDOCUMENT_VBR : TreeColumn {
      Index = 11;
    } // c_TRDOCUMENT_VBR : TreeColumn
  } // TRDOCUMENT : TreeBrowser

  object WIDOPINFOOS : InterfaceWindow {
    object DOPINFOOS : Screen {
      // Информация: объект "'ExtAttr: KATOS,28147497671066245'" типа PanelInputLine не найден в базовой конфигурации!
      object 'ExtAttr: KATOS,28147497671066245' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = False;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        PickButton = False;
        CalcButton = False;
        Calendar = False;
        LessNull = False;
        StatusCtx = 9024;
        Strings = ( // Список строк
        )
        StringsNull = 0;
        HelpLine = '';
        FieldName = 'ExtAttr: KATOS,28147497671066245';
        DefaultValue = '';
        Origin_X = 463;
        Origin_Y = 261;
        Size_X = 101;
        Size_Y = 14;
        TextAlign = 0;
        SpinButton = False;
        SpinInc = 0.0;
        SpinMin = 0.0;
        SpinMax = 0.0;
        NoStatic = False;
        EnumValues = ( // Список целых
        )
        PassiveFormat = '';
        Points = 2;
        MaxLen = 22;
        PrecisionVarName = '';
        HistoryID = 0;
        DropTarget = False;
        DropSource = False;
        FontBold = 'Значение не определено или не известно.';
        FontItalic = 'Значение не определено или не известно.';
        FontColor = 'Значение не определено или не известно.';
        FontBackColor = 'Значение не определено или не известно.';
        InputMask = 'Значение не определено или не известно.';
      } // ExtAttr: KATOS,28147497671066245 : PanelInputLine
      // Информация: объект "'LbExtAttr: KATOS,28147497671066245'" типа Label не найден в базовой конфигурации!
      object 'LbExtAttr: KATOS,28147497671066245' : Label {
        Original = False;
        Title = 'ПР к начислению';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 359;
        Origin_Y = 262;
        Size_X = 86;
        Size_Y = 14;
      } // LbExtAttr: KATOS,28147497671066245 : Label
    } // DOPINFOOS : Screen
  } // WIDOPINFOOS : InterfaceWindow
} // F_OS::KATOSS : InterfaceWindow
//-----------------------------------------------------------------------------
