//Кириллов - добавлено поле для хранения значения счётчика колонки
//Гаврилов - в инт-фейс списка ЛЗВ добавлена колонка с номером заправочной колонки (азс)
//в табл.части лзв - атрибут-ссылка номинал талона (ед.изм), номер талона
//по дефолту теперь время заправки ставится = тек. время
//бак по умолчанию ставится первый
object 'M_TRANSP::LIM_ZAP' : InterfaceWindow {
  Centered = True;
  object EDIT_LIM : InterfaceWindow {
      // Информация: объект "'Field: LIMZAPH.LASTUSER'" типа PanelInputLine не найден в базовой конфигурации!
    object SCREDIT_LIM : Screen {
      object 'T_SCREDIT_LIM_Доверенность_N' : StaticText {
        Title = 'Колонка/довереность';
      } // T_SCREDIT_LIM_Доверенность_N : StaticText
      object 'i_SCREDIT_LIM_LIMZAPH.NOMDOVE' : PanelInputLine {
        Origin_X = 137;
        Size_X = 141;
      } // i_SCREDIT_LIM_LIMZAPH.NOMDOVE : PanelInputLine
      object 'Field: LIMZAPH.LASTUSER' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = False;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        PickButton = False;
        CalcButton = False;
        Calendar = False;
        LessNull = False;
        StatusCtx = 16;
        Strings = ( // Список строк
        )
        StringsNull = 0;
        HelpLine = 'Показание счетчика на начало';
        FieldName = 'Field: LIMZAPH.LASTUSER';
        DefaultValue = '';
        Origin_X = 511;
        Origin_Y = 166;
        Size_X = 101;
        Size_Y = 14;
        TextAlign = 0;
        SpinButton = False;
        SpinInc = 0.0;
        SpinMin = 0.0;
        SpinMax = 0.0;
        NoStatic = False;
        EnumValues = ( // Список целых
        )
        PassiveFormat = '';
        Points = 0;
        MaxLen = 20;
        PrecisionVarName = '';
        HistoryID = 0;
        DropTarget = False;
        DropSource = False;
      } // Field: LIMZAPH.LASTUSER : PanelInputLine
      // Информация: объект "'LbField: LIMZAPH.LASTUSER'" типа Label не найден в базовой конфигурации!
      object 'LbField: LIMZAPH.LASTUSER' : Label {
        Original = False;
        Title = 'Показание счетчика на начало';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 345;
        Origin_Y = 166;
        Size_X = 162;
        Size_Y = 14;
      } // LbField: LIMZAPH.LASTUSER : Label
    } // SCREDIT_LIM : Screen
    object BREDIT_LIM : Browser {
      object 'c_BREDIT_LIM_LIMZAPL.DATEZAP_Дата' : Column {
        DefaultWidth = 8;
      } // c_BREDIT_LIM_LIMZAPL.DATEZAP_Дата : Column
      object 'c_BREDIT_LIM_LIMZAPL.TIMEZAP_Время' : Column {
        Index = 2;
        DefaultWidth = 6;
        PickButton = False;
        DefaultValue=Cur_Time;
      } // c_BREDIT_LIM_LIMZAPL.TIMEZAP_Время : Column
      object 'c_BREDIT_LIM_LIMZAPL.NAMETOPL_ГСМ' : Column {
        Index = 3;
      } // c_BREDIT_LIM_LIMZAPL.NAMETOPL_ГСМ : Column
      object 'c_BREDIT_LIM_LIMZAPL.KOL_Кол-во' : Column {
        Index = 4;
      } // c_BREDIT_LIM_LIMZAPL.KOL_Кол-во : Column
      object 'c_BREDIT_LIM_LIMZAPL.GASTANK_Бак' : Column {
        Index = 5;
        DefaultValue = 1;
      } // c_BREDIT_LIM_LIMZAPL.GASTANK_Бак : Column

      object 'c_BREDIT_LIM_LIMZAPL.NOMPUT_Пут.лист' : Column {
        Index = 6;
      } // c_BREDIT_LIM_LIMZAPL.NOMPUT_Пут.лист : Column
 // Информация: объект "'LIMZAPL.TEMP4+if(LIMZAPH.LASTUSER<>'',longint(LIMZAPH.LASTUSER),0)'" типа Column не найден в базовой конфигурации!
      object 'LIMZAPL.TEMP4+LIMZAPL.KOL+if(LIMZAPH.LASTUSER<>'''',longint(LIMZAPH.LASTUSER),0)' : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        StatusCtx = 16;
        PickButton = False;
        CalcButton = False;
        Calendar = False;
        Title = 'Счетчик итого';
        HelpLine = 'Итого счетчик';
        FieldName = 'LIMZAPL.TEMP4+LIMZAPL.KOL+if(LIMZAPH.LASTUSER<>'''',longint(LIMZAPH.LASTUSER),0)';
        DefaultValue = '';
        Strings = ( // Список строк
        )
        StringsNull = 0;
        Index = 7;
        DefaultWidth = 15;
        TextAlign = 0;
        SpinButton = False;
        SpinInc = 0.0;
        SpinMin = 0.0;
        SpinMax = 0.0;
        NoAutoSize = False;
        EnumValues = ( // Список целых
        )
        PassiveFormat = '';
        Points = 0;
        MaxLen = 15;
        PrecisionVarName = '';
        HistoryID = 0;
        DropTarget = False;
        DropSource = False;
      } // LIMZAPL.TEMP4+if(LIMZAPH.LASTUSER<>'',longint(LIMZAPH.LASTUSER),0) : Column

      // Информация: объект "'ExtAttr: LIMZAPL,88664617663857345'" типа Column не найден в базовой конфигурации!
      object 'ExtAttr: LIMZAPL,88664617663857345' : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = False;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        StatusCtx = 145;
        PickButton = False;
        CalcButton = False;
        Calendar = False;
        Title = 'Ном. талона';
        HelpLine = 'Номер талона на топливо';
        FieldName = 'ExtAttr: LIMZAPL,88664617663857345';
        DefaultValue = '';
        Strings = ( // Список строк
        )
        StringsNull = 0;
        Index = 8;
        DefaultWidth = 12;
        TextAlign = 0;
        SpinButton = False;
        SpinInc = 0.0;
        SpinMin = 0.0;
        SpinMax = 0.0;
        NoAutoSize = False;
        EnumValues = ( // Список целых
        )
        PassiveFormat = '';
        Points = 0;
        MaxLen = 20;
        PrecisionVarName = '';
        HistoryID = 0;
        DropTarget = False;
        DropSource = False;
      } // ExtAttr: LIMZAPL,88664617663857345 : Column
//ед.изм.талона
   object 'ExtAttr: LIMZAPL,88664617663857362' : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = False;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        StatusCtx = 150;
        PickButton = True;
        CalcButton = False;
        Calendar = False;
        Title = 'Номинал';
        HelpLine = 'Номинал талона на топливо';
        FieldName = 'ExtAttr: LIMZAPL,88664617663857362';
        DefaultValue = '';
        Strings = ( // Список строк
        )
        StringsNull = 0;
        Index = 9;
        DefaultWidth = 7;
        TextAlign = 0;
        SpinButton = False;
        SpinInc = 0.0;
        SpinMin = 0.0;
        SpinMax = 0.0;
        NoAutoSize = False;
        EnumValues = ( // Список целых
        )
        PassiveFormat = '';
        Points = 0;
        MaxLen = 255;
        PrecisionVarName = '';
        HistoryID = 0;
        DropTarget = False;
        DropSource = False;
      } // ExtAttr: LIMZAPL,88664617663857362 : Column
      object 'c_BREDIT_LIM_KNDRIVER_TABN_Таб.N' : Column {
        Index = 10;
        Hidden = True;
        DefaultWidth = 7;
      } // c_BREDIT_LIM_KNDRIVER_TABN_Таб.N : Column
      object 'c_BREDIT_LIM_LIMZAPL.NAME_Водитель' : Column {
        Index = 11;
        DefaultWidth = 7;
      } // c_BREDIT_LIM_LIMZAPL.NAME_Водитель : Column
      object 'c_BREDIT_LIM_LIMZAPL.SMENA_C' : Column {
        Hidden = True;
        Index = 12;
      } // c_BREDIT_LIM_LIMZAPL.SMENA_C : Column
      object 'c_BREDIT_LIM_LIMZAPL.TEMP3_Плотность' : Column {
        Index = 13;
      } // c_BREDIT_LIM_LIMZAPL.TEMP3_Плотность : Column
      object 'c_BREDIT_LIM_LIMZAPL.TEMP4_Счетчик' : Column {
        Hidden = True;
        Index = 14;
      } // c_BREDIT_LIM_LIMZAPL.TEMP4_Счетчик : Column
     object 'c_BREDIT_LIM_LIMZAPL.FIOPERS_Заправщик' : Column {
        Index = 15;
      } // c_BREDIT_LIM_LIMZAPL.FIOPERS_Заправщик : Column
      object 'c_BREDIT_LIM_LIMZAPLDESGR_Группа' : Column {
        Hidden = True;
        Index = 16;
      } // c_BREDIT_LIM_LIMZAPLDESGR_Группа : Column
      object 'c_BREDIT_LIM_LIMZAPLDESCR_Дескриптор' : Column {
        Hidden = True;
        Index = 17;
      } // c_BREDIT_LIM_LIMZAPLDESCR_Дескриптор : Column
    } // BREDIT_LIM : Browser
  } // EDIT_LIM : InterfaceWindow
//Гаврилов
  object BRVIEW_LIM : Browser {
   // Информация: объект "'Field: TRANSP.NOMER'" типа Column не найден в базовой конфигурации!
    object 'Field: TRANSP.NOMER' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 16;
      PickButton = False;
      CalcButton = False;
      Calendar = False;
      Title = 'Гос.номер';
      HelpLine = 'Гос.номер ТС из шапки ЛЗВ';
      FieldName = 'Field: TRANSP.NOMER';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Index = 3;
      DefaultWidth = 11;
      TextAlign = 0;
      SpinButton = False;
      SpinInc = 0.0;
      SpinMin = 0.0;
      SpinMax = 0.0;
      NoAutoSize = False;
      EnumValues = ( // Список целых
      )
      PassiveFormat = '';
      Points = 0;
      MaxLen = 18;
      PrecisionVarName = '';
      HistoryID = 0;
      DropTarget = False;
      DropSource = False;
    } // Field: TRANSP.NOMER : Column
    object 'c_BRVIEW_LIM_ORGTO.NAME_Получатель' : Column {
      Hidden = True;
      Index = 4;
    } // c_BRVIEW_LIM_ORGTO.NAME_Получатель : Column
    object 'c_BRVIEW_LIM_ORGFROM.NAME_Плательщик' : Column {
      Hidden = True;
      Index = 5;
    } // c_BRVIEW_LIM_ORGFROM.NAME_Плательщик : Column
    // Информация: объект "'Field: LIMZAPH.NOMDOVE'" типа Column не найден в базовой конфигурации!
    object 'Field: LIMZAPH.NOMDOVE' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 16;
      PickButton = False;
      CalcButton = False;
      Calendar = False;
      Title = '№ Кол.';
      HelpLine = '№ Кол.';
      FieldName = 'Field: LIMZAPH.NOMDOVE';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Index = 6;
      DefaultWidth = 7;
      TextAlign = 0;
      SpinButton = False;
      SpinInc = 0.0;
      SpinMin = 0.0;
      SpinMax = 0.0;
      NoAutoSize = False;
      EnumValues = ( // Список целых
      )
      PassiveFormat = '';
      Points = 0;
      MaxLen = 7;
      PrecisionVarName = '';
      HistoryID = 0;
      DropTarget = False;
      DropSource = False;
    } // Field: LIMZAPH.NOMDOVE : Column
    // Информация: объект "'Field: KATPODR.NAME'" типа Column не найден в базовой конфигурации!
    object 'Field: KATPODR.NAME' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 16;
      PickButton = False;
      CalcButton = False;
      Calendar = False;
      Title = 'Подразделение - получатель';
      HelpLine = 'Подразделение - получатель из шапки ЛЗВ';
      FieldName = 'Field: KATPODR.NAME';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Index = 7;
      DefaultWidth = 20;
      TextAlign = 0;
      SpinButton = False;
      SpinInc = 0.0;
      SpinMin = 0.0;
      SpinMax = 0.0;
      NoAutoSize = False;
      EnumValues = ( // Список целых
      )
      PassiveFormat = '';
      Points = 0;
      MaxLen = 150;
      PrecisionVarName = '';
      HistoryID = 0;
      DropTarget = False;
      DropSource = False;
    } // Field: KATPODR.NAME : Column
  } // BRVIEW_LIM : Browser
} // M_TRANSP::LIM_ZAP : InterfaceWindow
//-----------------------------------------------------------------------------
