//Gavrilov P.A.
//obavlena kolonka data izgotovleniya v spisok komplektuushih (rej prosm. i redakt.)
object 'M_TRANSP::KAR_COMP' : InterfaceWindow {
    // Информация: объект "'ExtAttr: COMPON,88664617663857343'" типа Column не найден в базовой конфигурации!
  object BRCOMPON : Browser {
    object 'ExtAttr: COMPON,88664617663857343' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 148;
      PickButton = False;
      CalcButton = False;
      Calendar = True;
      Title = 'Дата изг.';
      HelpLine = 'Дата изг.';
      FieldName = 'ExtAttr: COMPON,88664617663857343';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Index = 9;
      DefaultWidth = 11;
      TextAlign = 0;
      SpinButton = False;
      SpinInc = 0.0;
      SpinMin = 0.0;
      SpinMax = 0.0;
      NoAutoSize = False;
      EnumValues = ( // Список целых
      )
      PassiveFormat = '';
      Points = 0;
      MaxLen = 10;
      PrecisionVarName = '';
      HistoryID = 0;
      DropTarget = False;
      DropSource = False;
    } // ExtAttr: COMPON,88664617663857343 : Column
  } // BRCOMPON : Browser
   object WNDKAR_COMP_EDIT_OLD : InterfaceWindow {
    Centered = True;
      // Информация: объект "'ExtAttr: COMPON,88664617663857343#1'" типа Column не найден в базовой конфигурации!
    object BRKAR_COMP_EDIT_OLD : Browser {
      object 'Field: TIPCOMP.NAME' : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        StatusCtx = 16;
        PickButton = False;
        CalcButton = False;
        Calendar = False;
        Title = 'Тип компл.';
        HelpLine = 'Тип компл.';
        FieldName = 'Field: TIPCOMP.NAME';
        DefaultValue = '';
        Strings = ( // Список строк
        )
        StringsNull = 0;
        Index = 1;
        DefaultWidth = 14;
        TextAlign = 0;
        SpinButton = False;
        SpinInc = 0.0;
        SpinMin = 0.0;
        SpinMax = 0.0;
        NoAutoSize = False;
        EnumValues = ( // Список целых
        )
        PassiveFormat = '';
        Points = 0;
        MaxLen = 50;
        PrecisionVarName = '';
        HistoryID = 0;
        DropTarget = False;
        DropSource = False;
      } // Field: TIPCOMP.NAME : Column
      object 'c_BRKAR_COMP_EDIT_OLD_MARCOMP.NAME_Марка_комплектующей' : Column {
        Index = 2;
      } // c_BRKAR_COMP_EDIT_OLD_MARCOMP.NAME_Марка_комплектующей : Column
      object 'c_BRKAR_COMP_EDIT_OLD_COMPON.NOMCOMP_Номер_комплектующей' : Column {
        Index = 3;
      } // c_BRKAR_COMP_EDIT_OLD_COMPON.NOMCOMP_Номер_комплектующей : Column
      object 'c_BRKAR_COMP_EDIT_OLD_TRANSP.NOMER_Гос._номер' : Column {
        Index = 4;
      } // c_BRKAR_COMP_EDIT_OLD_TRANSP.NOMER_Гос._номер : Column
      object 'c_BRKAR_COMP_EDIT_OLD_TRANSP.GARNOM_Гаражный_номер' : Column {
        Index = 5;
      } // c_BRKAR_COMP_EDIT_OLD_TRANSP.GARNOM_Гаражный_номер : Column
      object 'c_BRKAR_COMP_EDIT_OLD_WRDVI_Тип_открепления' : Column {
        Index = 6;
      } // c_BRKAR_COMP_EDIT_OLD_WRDVI_Тип_открепления : Column
      object 'c_BRKAR_COMP_EDIT_OLD_COMPON.DATZAK_Дата_выполн.' : Column {
        Index = 7;
      } // c_BRKAR_COMP_EDIT_OLD_COMPON.DATZAK_Дата_выполн. : Column
      object 'c_BRKAR_COMP_EDIT_OLD_COMPON.DATSP_Дата_снятия' : Column {
        Index = 8;
      } // c_BRKAR_COMP_EDIT_OLD_COMPON.DATSP_Дата_снятия : Column
      object 'ExtAttr: COMPON,88664617663857343#1' : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = False;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        StatusCtx = 148;
        PickButton = False;
        CalcButton = False;
        Calendar = True;
        Title = 'Дата изг.';
        HelpLine = 'Дата изг.';
        FieldName = 'ExtAttr: COMPON,88664617663857343';
        DefaultValue = '';
        Strings = ( // Список строк
        )
        StringsNull = 0;
        Index = 9;
        DefaultWidth = 11;
        TextAlign = 0;
        SpinButton = False;
        SpinInc = 0.0;
        SpinMin = 0.0;
        SpinMax = 0.0;
        NoAutoSize = False;
        EnumValues = ( // Список целых
        )
        PassiveFormat = '';
        Points = 0;
        MaxLen = 10;
        PrecisionVarName = '';
        HistoryID = 0;
        DropTarget = False;
        DropSource = False;
      } // ExtAttr: COMPON,88664617663857343#1 : Column
    } // BRKAR_COMP_EDIT_OLD : Browser
   } // WNDKAR_COMP_EDIT_OLD : InterfaceWindow
} // M_TRANSP::KAR_COMP : InterfaceWindow
//-----------------------------------------------------------------------------
