object 'F_MBP::LINE_MBP' : InterfaceWindow {
  Title = 'Выбор предметов (по всем карточкам, по всем работникам)';
  Centered = True;
  object BROWSEMBPIN : Browser {
    object c_BROWSEMBPIN_TOCALLCOUNT : Column {
      Visible = False;
    } // c_BROWSEMBPIN_TOCALLCOUNT : Column
    object 'c_BROWSEMBPIN_MBPIN.DATEEKSP_Дата_ввода' : Column {
      Visible = False;
    } // c_BROWSEMBPIN_MBPIN.DATEEKSP_Дата_ввода : Column
    // Информация: объект "'ExtAttr: MBPIN,89509042593989134'" типа Column не найден в базовой конфигурации!
    object 'ExtAttr: MBPIN,89509042593989134' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 150;
      PickButton = False;
      CalcButton = False;
      Calendar = False;
      Title = 'Предыдущий работник';
      HelpLine = '';
      FieldName = 'ExtAttr: MBPIN,89509042593989134';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Index = 7;
      DefaultWidth = 26;
      TextAlign = 0;
      SpinButton = False;
      SpinInc = 0.0;
      SpinMin = 0.0;
      SpinMax = 0.0;
      NoAutoSize = False;
      EnumValues = ( // Список целых
      )
      PassiveFormat = '';
      Points = 0;
      MaxLen = 255;
      PrecisionVarName = '';
      HistoryID = 0;
      DropTarget = False;
      DropSource = False;
      FontBold = 'Значение не определено или не известно.';
      FontItalic = 'Значение не определено или не известно.';
      FontColor = 'Значение не определено или не известно.';
      FontBackColor = 'Значение не определено или не известно.';
      InputMask = 'Значение не определено или не известно.';
    } // ExtAttr: MBPIN,89509042593989134 : Column
    object 'c_BROWSEMBPIN_KATMBP.NNUMBER_Номенкл._N' : Column {
      Index = 8;
    } // c_BROWSEMBPIN_KATMBP.NNUMBER_Номенкл._N : Column
    object 'c_BROWSEMBPIN_MBPIN.PRICE_Цена' : Column {
      Index = 9;
    } // c_BROWSEMBPIN_MBPIN.PRICE_Цена : Column
    object 'c_BROWSEMBPIN_MBPIN.TPERCENT_%' : Column {
      Index = 10;
    } // c_BROWSEMBPIN_MBPIN.TPERCENT_% : Column
    object 'c_BROWSEMBPIN_PLANIZN_Пл.%' : Column {
      Index = 11;
    } // c_BROWSEMBPIN_PLANIZN_Пл.% : Column
    object 'c_BROWSEMBPIN_INEKSPLSHORTTXT_c/э' : Column {
      Index = 12;
    } // c_BROWSEMBPIN_INEKSPLSHORTTXT_c/э : Column
    object 'c_BROWSEMBPIN_SIZESTR_Размер' : Column {
      Index = 13;
    } // c_BROWSEMBPIN_SIZESTR_Размер : Column
    object 'c_BROWSEMBPIN_PERSONS.FIO_Работник' : Column {
      Index = 14;
    } // c_BROWSEMBPIN_PERSONS.FIO_Работник : Column
  } // BROWSEMBPIN : Browser
  object SELECTMBPIN : Browser {
    object c_SELECTMBPIN_TOCALLCOUNT : Column {
      Visible = False;
    } // c_SELECTMBPIN_TOCALLCOUNT : Column
    object 'c_SELECTMBPIN_MBPIN.DATEEKSP_Дата_ввода' : Column {
      Visible = False;
    } // c_SELECTMBPIN_MBPIN.DATEEKSP_Дата_ввода : Column
  } // SELECTMBPIN : Browser
  object BRLISTMBPIN : Browser {
    object 'c_BRLISTMBPIN_MBPIN3.DATEEKSP_Дата_ввода' : Column {
      Visible = False;
    } // c_BRLISTMBPIN_MBPIN3.DATEEKSP_Дата_ввода : Column
  } // BRLISTMBPIN : Browser
  object WNCARD : InterfaceWindow {
    object BRINSBYCRD : Browser {
      object c_BRINSBYCRD_TOCALLCOUNT : Column {
        Visible = False;
      } // c_BRINSBYCRD_TOCALLCOUNT : Column
      object 'c_BRINSBYCRD_MBPIN.DATEEKSP_Дата_ввода' : Column {
        Visible = False;
      } // c_BRINSBYCRD_MBPIN.DATEEKSP_Дата_ввода : Column
    } // BRINSBYCRD : Browser
  } // WNCARD : InterfaceWindow
} // F_MBP::LINE_MBP : InterfaceWindow
//- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Layout 'F_MBP::LINE_MBP' : InterfaceWindow {
  BROWSEPODR : Browser {
    'c_BROWSEPODR_KATPODR.NAME_Подразделение' : Column;
  }
  SCREENPODR : Screen {
    'T_SCREENPODR_Подразделение' : StaticText;
    'T_SCREENPODR_не_задано' : StaticText;
  }
  BROWSEMOL : Browser {
    'c_BROWSEMOL_KATMOL.NAME_Материально-ответственное_лицо' : Column;
  }
  SCREENMOL : Screen {
    'T_SCREENMOL_МОЛ' : StaticText;
    'T_SCREENMOL_не_задано' : StaticText;
  }
  BROWSEKATMBP : Browser {
    'c_BROWSEKATMBP_SELMBP_Выбрано' : Column;
    'c_BROWSEKATMBP_SEL_MBP.KOLFACT_Имеется' : Column;
    'c_BROWSEKATMBP_SEL_MBP.KOLPLAN_Резерв' : Column;
    'c_BROWSEKATMBP_SEL_MBP.NAME_Наименование' : Column;
    'c_BROWSEKATMBP_SEL_MBP.NNUMBER_Номенкл._N' : Column;
    'c_BROWSEKATMBP_GROUPMC.NAME_Группа_МЦ' : Column;
    'c_BROWSEKATMBP_GROUPMC.KOD_Код_группы' : Column;
  }
  BROWSEMBPIN : Browser {
    c_BROWSEMBPIN_TOCALLCOUNT : Column;
    'c_BROWSEMBPIN_PICK.PICKKOL_Выбрано' : Column;
    'c_BROWSEMBPIN_MBPIN.KOLFACT_Имеется' : Column;
    'c_BROWSEMBPIN_PLANKOL_Резерв' : Column;
    'c_BROWSEMBPIN_MBPIN.DIN_Дата_опер.' : Column;
    'c_BROWSEMBPIN_MBPIN.DATEEKSP_Дата_ввода' : Column;
    'c_BROWSEMBPIN_KATMBP.NAME_Наименование' : Column;
    'c_BROWSEMBPIN_KATMBP.NNUMBER_Номенкл._N' : Column;
    'c_BROWSEMBPIN_MBPIN.PRICE_Цена' : Column;
    'c_BROWSEMBPIN_MBPIN.TPERCENT_%' : Column;
    'c_BROWSEMBPIN_PLANIZN_Пл.%' : Column;
    'c_BROWSEMBPIN_INEKSPLSHORTTXT_c/э' : Column;
    'c_BROWSEMBPIN_SIZESTR_Размер' : Column;
    'c_BROWSEMBPIN_PERSONS.FIO_Работник' : Column;
  }
  SELECTMBPIN : Browser {
    c_SELECTMBPIN_TOCALLCOUNT : Column;
    c_SELECTMBPIN_SHOWPICK_V : Column;
    'c_SELECTMBPIN_MBPIN.KOLFACT_Имеется' : Column;
    'c_SELECTMBPIN_PLANKOL_Резерв' : Column;
    'c_SELECTMBPIN_MBPIN.DIN_Дата_опер.' : Column;
    'c_SELECTMBPIN_MBPIN.DATEEKSP_Дата_ввода' : Column;
    'c_SELECTMBPIN_KATMBP.NAME_Наименование' : Column;
    'c_SELECTMBPIN_KATMBP.NNUMBER_Номенкл._N' : Column;
    'c_SELECTMBPIN_MBPIN.PRICE_Цена' : Column;
    'c_SELECTMBPIN_MBPIN.TPERCENT_%' : Column;
    'c_SELECTMBPIN_PLANIZN_Пл.%' : Column;
    'c_SELECTMBPIN_INEKSPLSHORTTXT_c/э' : Column;
    'c_SELECTMBPIN_SIZESTR_Размер' : Column;
    'c_SELECTMBPIN_PERSONS.FIO_Работник' : Column;
    'c_SELECTMBPIN_KATPARTY.NAME_Партия' : Column;
  }
  BRLISTMBPIN : Browser {
    'c_BRLISTMBPIN_SELMBP_Выбрано' : Column;
    'c_BRLISTMBPIN_SEL_MBP.KOLFACT_Имеется' : Column;
    'c_BRLISTMBPIN_SEL_MBP.KOLPLAN_Резерв' : Column;
    'c_BRLISTMBPIN_SEL_MBP.DIN_Дата_опер.' : Column;
    'c_BRLISTMBPIN_MBPIN3.DATEEKSP_Дата_ввода' : Column;
    'c_BRLISTMBPIN_SEL_MBP.NAME_Наименование' : Column;
    'c_BRLISTMBPIN_SEL_MBP.NNUMBER_Номенкл._N' : Column;
    'c_BRLISTMBPIN_MBPIN3.PRICE_Цена' : Column;
    'c_BRLISTMBPIN_MBPIN3.TPERCENT_%' : Column;
    'c_BRLISTMBPIN_IZNPLANVIEW_Пл.%' : Column;
    'c_BRLISTMBPIN_INEKSPLSHORTTXT_c/э' : Column;
    'c_BRLISTMBPIN_SIZESTR_Размер' : Column;
    'c_BRLISTMBPIN_PERSONS.FIO_Работник' : Column;
  }
  WGETKOL : InterfaceWindow {
    SCGETKOL : Screen {
      'i_SCGETKOL_PICK.PICKKOL' : PanelInputLine;
    }
  }
  WNGETKOL : InterfaceWindow {
    SCNGETKOL : Screen {
      i_SCNGETKOL_SelKol : PanelInputLine;
    }
  }
  WNCARD : InterfaceWindow {
    BRINSBYCRD : Browser {
      c_BRINSBYCRD_TOCALLCOUNT : Column;
      'c_BRINSBYCRD_PICK.PICKKOL_Выбрано' : Column;
      'c_BRINSBYCRD_MBPIN.KOLFACT_Имеется' : Column;
      'c_BRINSBYCRD_PLANKOL_Резерв' : Column;
      'c_BRINSBYCRD_MBPIN.DIN_Дата_опер.' : Column;
      'c_BRINSBYCRD_MBPIN.DATEEKSP_Дата_ввода' : Column;
      'c_BRINSBYCRD_PERSONS.FIO_Работник' : Column;
      'c_BRINSBYCRD_KATPARTY.NAME_Партия' : Column;
      'c_BRINSBYCRD_MBPIN.PRICE_Цена' : Column;
      'c_BRINSBYCRD_INEKSPLSHORTTXT_c/э' : Column;
      'c_BRINSBYCRD_MBPIN.TPERCENT_%' : Column;
      'c_BRINSBYCRD_PLANIZN_Пл.%' : Column;
      'c_BRINSBYCRD_SIZESTR_Размер' : Column;
    }
  }
}
//-----------------------------------------------------------------------------
object 'F_SFO::ISSFOINSTOCK' : InterfaceWindow {
  Title = 'Наличие в запасе предметов СФО (по группе СФО, по размеру)';
  Centered = True;
    // Информация: объект "'ExtAttr: MBPIN,89509042593989134'" типа Column не найден в базовой конфигурации!
  object BRGROUPREQMENTS : Browser {
    object 'ExtAttr: MBPIN,89509042593989134' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 150;
      PickButton = False;
      CalcButton = False;
      Calendar = False;
      Title = 'Предыдущий работник';
      HelpLine = '';
      FieldName = 'ExtAttr: MBPIN,89509042593989134';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Index = 8;
      DefaultWidth = 26;
      TextAlign = 0;
      SpinButton = False;
      SpinInc = 0.0;
      SpinMin = 0.0;
      SpinMax = 0.0;
      NoAutoSize = False;
      EnumValues = ( // Список целых
      )
      PassiveFormat = '';
      Points = 0;
      MaxLen = 255;
      PrecisionVarName = '';
      HistoryID = 0;
      DropTarget = False;
      DropSource = False;
      FontBold = 'Значение не определено или не известно.';
      FontItalic = 'Значение не определено или не известно.';
      FontColor = 'Значение не определено или не известно.';
      FontBackColor = 'Значение не определено или не известно.';
      InputMask = 'Значение не определено или не известно.';
    } // ExtAttr: MBPIN,89509042593989134 : Column
    object 'c_BRGROUPREQMENTS_S_TEKNAL.KOLFACT_Нал' : Column {
      Index = 9;
    } // c_BRGROUPREQMENTS_S_TEKNAL.KOLFACT_Нал : Column
    object 'c_BRGROUPREQMENTS_S_TEKNAL.KOLPLAN_Рез' : Column {
      Index = 10;
    } // c_BRGROUPREQMENTS_S_TEKNAL.KOLPLAN_Рез : Column
    object 'c_BRGROUPREQMENTS_S_TEKNAL.PERC_Изн.%' : Column {
      Index = 11;
    } // c_BRGROUPREQMENTS_S_TEKNAL.PERC_Изн.% : Column
    object 'c_BRGROUPREQMENTS_S_TEKNAL.IZNPLAN_Пл.%' : Column {
      Index = 12;
    } // c_BRGROUPREQMENTS_S_TEKNAL.IZNPLAN_Пл.% : Column
    object 'c_BRGROUPREQMENTS_KATPARTY.NAME_Партия' : Column {
      Index = 13;
    } // c_BRGROUPREQMENTS_KATPARTY.NAME_Партия : Column
  } // BRGROUPREQMENTS : Browser
} // F_SFO::ISSFOINSTOCK : InterfaceWindow
//- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Layout 'F_SFO::ISSFOINSTOCK' : InterfaceWindow {
  SCGROUPREQMENTS : Screen {
    'L_SCGROUPREQMENTS_Группа_СФО' : Label;
    'i_SCGROUPREQMENTS_GROUPSFO.NAME' : PanelInputLine;
    'i_SCGROUPREQMENTS_GROUPSFO.KOD' : PanelInputLine;
    'L_SCGROUPREQMENTS_По_норме' : Label;
    'i_SCGROUPREQMENTS_SPREQSFO.NORMKOL' : PanelInputLine;
    'L_SCGROUPREQMENTS_Затребовано' : Label;
    'i_SCGROUPREQMENTS_SPREQSFO.REQKOL' : PanelInputLine;
    'L_SCGROUPREQMENTS_Имеется' : Label;
    i_SCGROUPREQMENTS_AVAIL : PanelInputLine;
    'L_SCGROUPREQMENTS_Отпущено' : Label;
    i_SCGROUPREQMENTS_SELECTED : PanelInputLine;
    'L_SCGROUPREQMENTS_Рост' : Label;
    'i_SCGROUPREQMENTS_IPERSCARD.SIZE1' : PanelInputLine;
    'L_SCGROUPREQMENTS_Од_1' : Label;
    'i_SCGROUPREQMENTS_IPERSCARD.SIZE2' : PanelInputLine;
    'L_SCGROUPREQMENTS_Од_2' : Label;
    'i_SCGROUPREQMENTS_IPERSCARD.SIZE3' : PanelInputLine;
    'L_SCGROUPREQMENTS_Обувь' : Label;
    'i_SCGROUPREQMENTS_IPERSCARD.SIZE4' : PanelInputLine;
    'L_SCGROUPREQMENTS_Головной_убор' : Label;
    'i_SCGROUPREQMENTS_IPERSCARD.SIZE5' : PanelInputLine;
    'L_SCGROUPREQMENTS_Перчатки' : Label;
    'i_SCGROUPREQMENTS_IPERSCARD.SIZE6' : PanelInputLine;
    'L_SCGROUPREQMENTS_ИндСЗ' : Label;
    'i_SCGROUPREQMENTS_IPERSCARD.SIZE7' : PanelInputLine;
  }
  BRGROUPREQMENTS : Browser {
    'c_BRGROUPREQMENTS_SPTEKNALKOL_Отпущ' : Column;
    'c_BRGROUPREQMENTS_Имеет' : Column;
    'c_BRGROUPREQMENTS_S_TEKNAL.KODGRP_Код_группы' : Column;
    'c_BRGROUPREQMENTS_S_TEKNAL.NAME_Название' : Column;
    'c_BRGROUPREQMENTS_S_TEKNAL.NNUMBER_Номенкл_N' : Column;
    'c_BRGROUPREQMENTS_S_TEKNAL.INSIZE_Размер' : Column;
    'c_BRGROUPREQMENTS_KATPODR.NAME_Подраздел' : Column;
    'c_BRGROUPREQMENTS_KATMOL.NAME_МОЛ' : Column;
    'c_BRGROUPREQMENTS_S_TEKNAL.KOLFACT_Нал' : Column;
    'c_BRGROUPREQMENTS_S_TEKNAL.KOLPLAN_Рез' : Column;
    'c_BRGROUPREQMENTS_S_TEKNAL.PERC_Изн.%' : Column;
    'c_BRGROUPREQMENTS_S_TEKNAL.IZNPLAN_Пл.%' : Column;
    'c_BRGROUPREQMENTS_KATPARTY.NAME_Партия' : Column;
  }
  SCMBPININFO : Screen {
    'T_SCMBPININFO_По_текущему_разрезу_хранения:' : StaticText;
    'L_SCMBPININFO_Дата_поступления' : Label;
    'i_SCMBPININFO_S_TEKNAL.OPDATE' : PanelInputLine;
    'L_SCMBPININFO_Дескриптор' : Label;
    'i_SCMBPININFO_SOPRHOZ.DESCR' : PanelInputLine;
    'L_SCMBPININFO_Документ_N' : Label;
    'i_SCMBPININFO_S_TEKNAL.NODOC' : PanelInputLine;
    'L_SCMBPININFO_Цена' : Label;
    'i_SCMBPININFO_S_TEKNAL.PRICE' : PanelInputLine;
  }
}
//-----------------------------------------------------------------------------
