object 'Z_LSCHET::LSCHET' : InterfaceWindow {
  Title = 'Лицевые счета (Строительно-монтажный участок №3 (рабочие))';
  object RRR : Browser {
    object 'c_RRR_CURLSCHET.STRTABN_Таб.N' : Column {
      Visible = False;
    } // c_RRR_CURLSCHET.STRTABN_Таб.N : Column
  } // RRR : Browser
  object RRR1 : Browser {
    object 'c_RRR1_CURLSCHET.STRTABN_Таб.N' : Column {
      Visible = False;
    } // c_RRR1_CURLSCHET.STRTABN_Таб.N : Column
  } // RRR1 : Browser
  object 'Memo_NOTES.NOTE' : MemoViewer {
    StatusCtx = 366;
  } // Memo_NOTES.NOTE : MemoViewer
  object SMEGTAB : InterfaceWindow {
    Title = 'Смежные данные (таб. № 153, Паршин Владимир Алексеевич)';
    object ARCHIVEDATASCREEN : Screen {
      object 'b_ARCHIVEDATASCREEN_Суммы_по_видам_оплат' : Button {
        Hidden = True;
      } // b_ARCHIVEDATASCREEN_Суммы_по_видам_оплат : Button
      object 'b_ARCHIVEDATASCREEN_Суммы_по_видам_удержаний' : Button {
        Hidden = True;
      } // b_ARCHIVEDATASCREEN_Суммы_по_видам_удержаний : Button
      object 'b_ARCHIVEDATASCREEN_Неначисленные_суммы' : Button {
        Hidden = True;
      } // b_ARCHIVEDATASCREEN_Неначисленные_суммы : Button
      object 'b_ARCHIVEDATASCREEN_Архив_налогов_на_ФОТ' : Button {
        Hidden = True;
      } // b_ARCHIVEDATASCREEN_Архив_налогов_на_ФОТ : Button
      object 'b_ARCHIVEDATASCREEN_Архив_тарифов_и_коэффициентов' : Button {
        Hidden = True;
      } // b_ARCHIVEDATASCREEN_Архив_тарифов_и_коэффициентов : Button
      object 'b_ARCHIVEDATASCREEN_Сальдо_на_начало_месяца' : Button {
        Hidden = True;
      } // b_ARCHIVEDATASCREEN_Сальдо_на_начало_месяца : Button
    } // ARCHIVEDATASCREEN : Screen
    object CURRENTDATASCREEN : Screen {
      object 'b_CURRENTDATASCREEN_Рабочая_корзина' : Button {
        Hidden = True;
      } // b_CURRENTDATASCREEN_Рабочая_корзина : Button
    } // CURRENTDATASCREEN : Screen
    object ACCOUNTINGDATASCREEN : Screen {
      object 'b_ACCOUNTINGDATASCREEN_Распределение_затрат' : Button {
        Hidden = True;
      } // b_ACCOUNTINGDATASCREEN_Распределение_затрат : Button
      object 'b_ACCOUNTINGDATASCREEN_Расчет_заработной_платы' : Button {
        Hidden = True;
      } // b_ACCOUNTINGDATASCREEN_Расчет_заработной_платы : Button
      object 'b_ACCOUNTINGDATASCREEN_Предварительная_разноска' : Button {
        Hidden = True;
      } // b_ACCOUNTINGDATASCREEN_Предварительная_разноска : Button
      object 'b_ACCOUNTINGDATASCREEN_Результаты_расчета' : Button {
        Hidden = True;
      } // b_ACCOUNTINGDATASCREEN_Результаты_расчета : Button
      object 'b_ACCOUNTINGDATASCREEN_Предварительный_просмотр' : Button {
        Hidden = True;
      } // b_ACCOUNTINGDATASCREEN_Предварительный_просмотр : Button
      object 'b_ACCOUNTINGDATASCREEN_Расчетный_лист' : Button {
        Hidden = True;
      } // b_ACCOUNTINGDATASCREEN_Расчетный_лист : Button
    } // ACCOUNTINGDATASCREEN : Screen
  } // SMEGTAB : InterfaceWindow
} // Z_LSCHET::LSCHET : InterfaceWindow
//-----------------------------------------------------------------------------
object 'MENU_Z_MENU::MENUZARP2' : Menu {
  object 'M_Z_MENU::menuzarp2_Z_MENU::zarnet_Документы' : Menu {
    object 'M_cmRunInterface(Z_LSCHET::LSCHET)' : MenuItem {
      HelpCtxAvail = 'MenuZarp';
    } // M_cmRunInterface(Z_LSCHET::LSCHET) : MenuItem
    object 'M_cmRunInterface(Z_ZAR::GRRAB)' : MenuItem {
      HelpCtxAvail = 'MenuZarp';
    } // M_cmRunInterface(Z_ZAR::GRRAB) : MenuItem
    object 'M_cmRunInterface(Z_ZAR::FIXEDADDITIONALPAYMENTS)' : MenuItem {
      HelpCtxAvail = 'MenuZarp';
    } // M_cmRunInterface(Z_ZAR::FIXEDADDITIONALPAYMENTS) : MenuItem
    object 'M_cmRunInterface(Z_ZAR::ZSHTRAF1)' : MenuItem {
      HelpCtxAvail = 'MenuZarp';
    } // M_cmRunInterface(Z_ZAR::ZSHTRAF1) : MenuItem
    object 'M_cmRunInterface(Z_ZAR::GRPDOPL)' : MenuItem {
      HelpCtxAvail = 'MenuZarp';
    } // M_cmRunInterface(Z_ZAR::GRPDOPL) : MenuItem
    object 'M_cmRunInterface(Z_LSCHET::PEREXOD1)' : MenuItem {
      HelpCtxAvail = 'MenuZarp';
    } // M_cmRunInterface(Z_LSCHET::PEREXOD1) : MenuItem
    object 'M_Z_MENU::zarnet_Табели_учета_рабочего_времени' : Menu {
      HelpCtxAvail = 'MenuZarp';
      object 'M_cmRunInterface(Z_WT::ARCFORMWRKTABEL(1))' : MenuItem {
        HelpCtxAvail = 'MenuZarp';
      } // M_cmRunInterface(Z_WT::ARCFORMWRKTABEL(1)) : MenuItem
      object 'M_cmRunInterface(Z_WT::VARIANCESPROCESSING)' : MenuItem {
        HelpCtxAvail = 'MenuZarp';
      } // M_cmRunInterface(Z_WT::VARIANCESPROCESSING) : MenuItem
      object 'M_cmRunInterface(Z_WT::CALCPAYROLLAVGFACTOR)' : MenuItem {
        HelpCtxAvail = 'MenuZarp';
      } // M_cmRunInterface(Z_WT::CALCPAYROLLAVGFACTOR) : MenuItem
      object 'M_cmRunInterface(Z_WT::ZLSTAB)' : MenuItem {
        HelpCtxAvail = 'MenuZarp';
      } // M_cmRunInterface(Z_WT::ZLSTAB) : MenuItem
      object 'M_cmRunInterface(Z_WT::PRINTWRKTABEL)' : MenuItem {
        HelpCtxAvail = 'MenuZarp';
      } // M_cmRunInterface(Z_WT::PRINTWRKTABEL) : MenuItem
      object 'M_Z_MENU::zarnet_Табели_учета_рабочего_времени_Отчеты_по_видам_неявок...' : Menu {
        HelpCtxAvail = 'MenuZarp';
        object 'M_cmRunInterface(Z_WT::VIDNEJ)' : MenuItem {
          HelpCtxAvail = 'MenuZarp';
        } // M_cmRunInterface(Z_WT::VIDNEJ) : MenuItem
        object 'M_cmRunInterface(Z_WT::KINDOFABSENCESREPORT)' : MenuItem {
          HelpCtxAvail = 'MenuZarp';
        } // M_cmRunInterface(Z_WT::KINDOFABSENCESREPORT) : MenuItem
        object 'M_cmRunInterface(Z_WT::VIDNEJDAY)' : MenuItem {
          HelpCtxAvail = 'MenuZarp';
        } // M_cmRunInterface(Z_WT::VIDNEJDAY) : MenuItem
      } // M_Z_MENU::zarnet_Табели_учета_рабочего_времени_Отчеты_по_видам_неявок... : Menu
      object 'M_cmRunInterface(Z_WT::OVERWORKCONTROLREPORT)' : MenuItem {
        HelpCtxAvail = 'MenuZarp';
      } // M_cmRunInterface(Z_WT::OVERWORKCONTROLREPORT) : MenuItem
      object 'M_cmRunInterface(Z_WT::WORKINGTIMEBALANCEREPORT)' : MenuItem {
        HelpCtxAvail = 'MenuZarp';
      } // M_cmRunInterface(Z_WT::WORKINGTIMEBALANCEREPORT) : MenuItem
      object 'M_cmRunInterface(Z_WT::VEDT12(0))' : MenuItem {
        HelpCtxAvail = 'MenuZarp';
      } // M_cmRunInterface(Z_WT::VEDT12(0)) : MenuItem
      object 'M_cmRunInterface(Z_WT::PRINTT13)' : MenuItem {
        HelpCtxAvail = 'MenuZarp';
      } // M_cmRunInterface(Z_WT::PRINTT13) : MenuItem
      object 'M_cmRunInterface(Z_WT::VEDT12(1))' : MenuItem {
        HelpCtxAvail = 'MenuZarp';
      } // M_cmRunInterface(Z_WT::VEDT12(1)) : MenuItem
    } // M_Z_MENU::zarnet_Табели_учета_рабочего_времени : Menu
    object 'M_Z_MENU::zarnet_Данные_из_других_модулей' : Menu {
      HelpCtxAvail = 'MenuZarp';
      object 'M_cmRunInterface(Z_ZAR::PODOTCHZ)' : MenuItem {
        HelpCtxAvail = 'MenuZarp';
      } // M_cmRunInterface(Z_ZAR::PODOTCHZ) : MenuItem
      object 'M_Z_MENU::zarnet_Данные_из_других_модулей_Путевые_листы' : Menu {
        HelpCtxAvail = 'MenuZarp';
        object 'M_cmRunInterface(Z_MP::SYS_MBF(6))' : MenuItem {
          HelpCtxAvail = 'MenuZarp';
        } // M_cmRunInterface(Z_MP::SYS_MBF(6)) : MenuItem
        object 'M_cmRunInterface(Z_MP::SYS_MBF(10))' : MenuItem {
          HelpCtxAvail = 'MenuZarp';
        } // M_cmRunInterface(Z_MP::SYS_MBF(10)) : MenuItem
      } // M_Z_MENU::zarnet_Данные_из_других_модулей_Путевые_листы : Menu
      object 'M_cmRunInterface(Z_MP::DRESS)' : MenuItem {
        HelpCtxAvail = 'MenuZarp';
      } // M_cmRunInterface(Z_MP::DRESS) : MenuItem
      object 'M_cmRunInterface(Z_LSCHET::BASKET(2))' : MenuItem {
        Visible = False;
        HelpCtxAvail = 'MenuZarp';
      } // M_cmRunInterface(Z_LSCHET::BASKET(2)) : MenuItem
    } // M_Z_MENU::zarnet_Данные_из_других_модулей : Menu
  } // M_Z_MENU::menuzarp2_Z_MENU::zarnet_Документы : Menu
  object 'M_Z_MENU::menuzarp2_Z_MENU::megper_Операции' : Menu {
    object 'M_Z_MENU::MEGPER_Отпуска' : Menu {
      HelpCtxAvail = 'megper';
      object 'M_cmRunInterface(Z_SREDN::ZOTPUSK1(0,0,0,0))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_SREDN::ZOTPUSK1(0,0,0,0)) : MenuItem
      object 'M_cmRunInterface(Z_SREDN::VOZOTPUSK(0,0,0,4))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_SREDN::VOZOTPUSK(0,0,0,4)) : MenuItem
      object 'M_cmRunInterface(Z_SREDN::ZOTPUSK1(0,0,0,4))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_SREDN::ZOTPUSK1(0,0,0,4)) : MenuItem
      object 'M_cmRunInterface(Z_PAYREP::TABLVED(10))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_PAYREP::TABLVED(10)) : MenuItem
      object 'M_cmRunInterface(Z_SREDN::KONTROTP)' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_SREDN::KONTROTP) : MenuItem
      object 'M_cmRunInterface(Z_PAYREP::TABLREES(9))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_PAYREP::TABLREES(9)) : MenuItem
    } // M_Z_MENU::MEGPER_Отпуска : Menu
    object 'M_Z_MENU::MEGPER_Больничные' : Menu {
      HelpCtxAvail = 'megper';
      object 'M_cmRunInterface(Z_SREDN::ZBLISNET1(0,0,0,0))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_SREDN::ZBLISNET1(0,0,0,0)) : MenuItem
      object 'M_cmRunInterface(Z_SREDN::CLASSIFBOLN)' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_SREDN::CLASSIFBOLN) : MenuItem
      object 'M_cmRunInterface(Z_SREDN::PICKSRED(0))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_SREDN::PICKSRED(0)) : MenuItem
      object 'M_cmRunInterface(Z_SREDN::FVEDOM2)' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_SREDN::FVEDOM2) : MenuItem
      object 'M_cmRunInterface(Z_SREDN::REESBOL)' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_SREDN::REESBOL) : MenuItem
      object 'M_cmRunInterface(Z_PAYREP::TABLVED(13))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_PAYREP::TABLVED(13)) : MenuItem
      object 'M_cmRunInterface(Z_PAYREP::TABLREES(11))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_PAYREP::TABLREES(11)) : MenuItem
    } // M_Z_MENU::MEGPER_Больничные : Menu
    object 'M_Z_MENU::MEGPER_Аванс' : Menu {
      HelpCtxAvail = 'megper';
      object 'M_cmRunInterface(Z_MP::AVANS)' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_MP::AVANS) : MenuItem
      object 'M_cmRunInterface(Z_PAYREP::TABLVED(2))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_PAYREP::TABLVED(2)) : MenuItem
      object 'M_cmRunInterface(Z_PAYREP::ORDVED(2))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_PAYREP::ORDVED(2)) : MenuItem
      object 'M_cmRunInterface(Z_PAYREP::TABLREES(3))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_PAYREP::TABLREES(3)) : MenuItem
      object 'M_cmRunInterface(AVANS)' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(AVANS) : MenuItem
    } // M_Z_MENU::MEGPER_Аванс : Menu
    object 'M_Z_MENU::MEGPER_Начисления_и_выплаты' : Menu {
      HelpCtxAvail = 'megper';
      object 'M_cmRunInterface(Z_MP::SYS_MBF(0))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_MP::SYS_MBF(0)) : MenuItem
      object 'M_cmRunInterface(Z_PAYREP::TABLVED(6))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_PAYREP::TABLVED(6)) : MenuItem
      object 'M_cmRunInterface(Z_PAYREP::TABLREES(1))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_PAYREP::TABLREES(1)) : MenuItem
      object 'M_cmRunInterface(Z_MP::MEGOTCH(0))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_MP::MEGOTCH(0)) : MenuItem
    } // M_Z_MENU::MEGPER_Начисления_и_выплаты : Menu
    object 'M_Z_MENU::MEGPER_Удержания_и_выплаты' : Menu {
      HelpCtxAvail = 'megper';
      object 'M_cmRunInterface(Z_MP::SYS_MBF(1))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_MP::SYS_MBF(1)) : MenuItem
      object 'M_cmRunInterface(Z_PAYREP::TABLVED(7))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_PAYREP::TABLVED(7)) : MenuItem
      object 'M_cmRunInterface(Z_PAYREP::TABLREES(2))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_PAYREP::TABLREES(2)) : MenuItem
      object 'M_cmRunInterface(Z_MP::MEGOTCH(1))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_MP::MEGOTCH(1)) : MenuItem
    } // M_Z_MENU::MEGPER_Удержания_и_выплаты : Menu
    object 'M_Z_MENU::MEGPER_Ежемесячные_пособия_детям' : Menu {
      HelpCtxAvail = 'megper';
      object 'M_cmRunInterface(Z_MP::KLCHILD)' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_MP::KLCHILD) : MenuItem
      object 'M_cmRunInterface(Z_MP::PCHILD(0))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_MP::PCHILD(0)) : MenuItem
      object 'M_cmRunInterface(Z_ZAR::RUNPROCESSSTUB(SVCHILD))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_ZAR::RUNPROCESSSTUB(SVCHILD)) : MenuItem
      object 'M_cmRunInterface(Z_PAYREP::TABLVED(4))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_PAYREP::TABLVED(4)) : MenuItem
      object 'M_cmRunInterface(Z_PAYREP::TABLREES(5))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_PAYREP::TABLREES(5)) : MenuItem
    } // M_Z_MENU::MEGPER_Ежемесячные_пособия_детям : Menu
    object 'M_Z_MENU::MEGPER_Ежемесячные_пособия_матерям' : Menu {
      HelpCtxAvail = 'megper';
      object 'M_cmRunInterface(Z_MP::KLCHILDM)' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_MP::KLCHILDM) : MenuItem
      object 'M_cmRunInterface(Z_MP::PCHILD(1))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_MP::PCHILD(1)) : MenuItem
      object 'M_cmRunInterface(Z_ZAR::RUNPROCESSSTUB(SVCHILDM))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_ZAR::RUNPROCESSSTUB(SVCHILDM)) : MenuItem
      object 'M_cmRunInterface(Z_PAYREP::TABLVED(3))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_PAYREP::TABLVED(3)) : MenuItem
      object 'M_cmRunInterface(Z_PAYREP::TABLREES(4))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_PAYREP::TABLREES(4)) : MenuItem
    } // M_Z_MENU::MEGPER_Ежемесячные_пособия_матерям : Menu
    object 'M_Z_MENU::MEGPER_Разовые_пособия_на_детей' : Menu {
      HelpCtxAvail = 'megper';
      object 'M_cmRunInterface(Z_MP::KLCHILDN)' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_MP::KLCHILDN) : MenuItem
      object 'M_cmRunInterface(Z_ZAR::RUNPROCESSSTUB(FORMCHILD REP))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_ZAR::RUNPROCESSSTUB(FORMCHILD REP)) : MenuItem
      object 'M_cmRunInterface(Z_MP::CHILDONE)' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_MP::CHILDONE) : MenuItem
      object 'M_cmRunInterface(Z_PAYREP::TABLVED(5))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_PAYREP::TABLVED(5)) : MenuItem
      object 'M_cmRunInterface(Z_PAYREP::TABLREES(6))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_PAYREP::TABLREES(6)) : MenuItem
    } // M_Z_MENU::MEGPER_Разовые_пособия_на_детей : Menu
    object 'M_cmRunInterface(Z_SREDN::PICKSRED(1))' : MenuItem {
      HelpCtxAvail = 'megper';
    } // M_cmRunInterface(Z_SREDN::PICKSRED(1)) : MenuItem
    object 'M_cmRunInterface(Z_ZAR::KINDVED)' : MenuItem {
      HelpCtxAvail = 'megper';
    } // M_cmRunInterface(Z_ZAR::KINDVED) : MenuItem
    object 'M_Z_MENU::MEGPER_Договоры_подряда' : Menu {
      HelpCtxAvail = 'megper';
      object 'M_cmRunInterface(Z_MP::DOGPODR)' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_MP::DOGPODR) : MenuItem
      object 'M_cmRunInterface(Z_MP::SYS_MBF(2))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_MP::SYS_MBF(2)) : MenuItem
      object 'M_cmRunInterface(Z_MP::PRFORM(2))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_MP::PRFORM(2)) : MenuItem
      object 'M_cmRunInterface(Z_PAYREP::TABLVED(9))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_PAYREP::TABLVED(9)) : MenuItem
      object 'M_cmRunInterface(Z_PAYREP::TABLREES(8))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_PAYREP::TABLREES(8)) : MenuItem
      object 'M_cmRunInterface(Z_PAYREP::TABLVED(8))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_PAYREP::TABLVED(8)) : MenuItem
      object 'M_cmRunInterface(Z_PAYREP::TABLREES(7))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_PAYREP::TABLREES(7)) : MenuItem
      object 'M_cmRunInterface(Z_MP::DOGSVOD)' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_MP::DOGSVOD) : MenuItem
      object 'M_cmRunInterface(Z_MP::ZDOGARX(0))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_MP::ZDOGARX(0)) : MenuItem
      object 'M_cmRunInterface(Z_ZAR::SUMVID)' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_ZAR::SUMVID) : MenuItem
      object 'M_cmRunInterface(Z_ZAR::CHISL)' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_ZAR::CHISL) : MenuItem
      object 'M_cmRunInterface(Z_PFREP::CONVVO_D)' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_PFREP::CONVVO_D) : MenuItem
      object 'M_cmRunInterface(Z_PFREP::STAJDOG)' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_PFREP::STAJDOG) : MenuItem
    } // M_Z_MENU::MEGPER_Договоры_подряда : Menu
    object 'M_Z_MENU::MEGPER_Наряды' : Menu {
      HelpCtxAvail = 'megper';
      object 'M_cmRunInterface(Z_MP::BRIGADES)' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_MP::BRIGADES) : MenuItem
      object 'M_cmRunInterface(Z_ZAR::COSTSASSIGNMENTCODES)' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_ZAR::COSTSASSIGNMENTCODES) : MenuItem
      object 'M_Z_MENU::MEGPER_Наряды_Бригадные_наряды' : Menu {
        HelpCtxAvail = 'megper';
        object 'M_cmRunInterface(Z_MP::BRIGADEDUTYPACKETINPUT)' : MenuItem {
          HelpCtxAvail = 'megper';
        } // M_cmRunInterface(Z_MP::BRIGADEDUTYPACKETINPUT) : MenuItem
        object 'M_cmRunInterface(Z_MP::ROUTINGPACKETPROCESSING)' : MenuItem {
          HelpCtxAvail = 'megper';
        } // M_cmRunInterface(Z_MP::ROUTINGPACKETPROCESSING) : MenuItem
        object 'M_cmRunInterface(Z_MP::SYS_NAR(1))' : MenuItem {
          HelpCtxAvail = 'megper';
        } // M_cmRunInterface(Z_MP::SYS_NAR(1)) : MenuItem
        object 'M_cmRunInterface(Z_MP::BRIGADEDUTIES)' : MenuItem {
          HelpCtxAvail = 'megper';
        } // M_cmRunInterface(Z_MP::BRIGADEDUTIES) : MenuItem
        object 'M_cmRunInterface(Z_MP::VEDNAR(1))' : MenuItem {
          HelpCtxAvail = 'megper';
        } // M_cmRunInterface(Z_MP::VEDNAR(1)) : MenuItem
        object 'M_cmRunInterface(Z_MP::CHANGEJOBCOSTSASSIGNMENT)' : MenuItem {
          HelpCtxAvail = 'megper';
        } // M_cmRunInterface(Z_MP::CHANGEJOBCOSTSASSIGNMENT) : MenuItem
      } // M_Z_MENU::MEGPER_Наряды_Бригадные_наряды : Menu
      object 'M_Z_MENU::MEGPER_Наряды_Индивидуальные_наряды_без_учета_КТУ' : Menu {
        HelpCtxAvail = 'megper';
        object 'M_cmRunInterface(Z_MP::SYS_NAR(2))' : MenuItem {
          HelpCtxAvail = 'megper';
        } // M_cmRunInterface(Z_MP::SYS_NAR(2)) : MenuItem
        object 'M_cmRunInterface(Z_MP::VEDMIX(3))' : MenuItem {
          HelpCtxAvail = 'megper';
        } // M_cmRunInterface(Z_MP::VEDMIX(3)) : MenuItem
        object 'M_cmRunInterface(Z_MP::VEDMIX(4))' : MenuItem {
          HelpCtxAvail = 'megper';
        } // M_cmRunInterface(Z_MP::VEDMIX(4)) : MenuItem
        object 'M_cmRunInterface(Z_MP::VEDNAR(2))' : MenuItem {
          HelpCtxAvail = 'megper';
        } // M_cmRunInterface(Z_MP::VEDNAR(2)) : MenuItem
      } // M_Z_MENU::MEGPER_Наряды_Индивидуальные_наряды_без_учета_КТУ : Menu
      object 'M_Z_MENU::MEGPER_Наряды_Индивидуальные_наряды_с_учетом_КТУ' : Menu {
        HelpCtxAvail = 'megper';
        object 'M_cmRunInterface(Z_MP::SYS_NAR(3))' : MenuItem {
          HelpCtxAvail = 'megper';
        } // M_cmRunInterface(Z_MP::SYS_NAR(3)) : MenuItem
        object 'M_cmRunInterface(Z_MP::VEDMIX(1))' : MenuItem {
          HelpCtxAvail = 'megper';
        } // M_cmRunInterface(Z_MP::VEDMIX(1)) : MenuItem
        object 'M_cmRunInterface(Z_MP::VEDMIX(2))' : MenuItem {
          HelpCtxAvail = 'megper';
        } // M_cmRunInterface(Z_MP::VEDMIX(2)) : MenuItem
        object 'M_cmRunInterface(Z_MP::VEDNAR(3))' : MenuItem {
          HelpCtxAvail = 'megper';
        } // M_cmRunInterface(Z_MP::VEDNAR(3)) : MenuItem
      } // M_Z_MENU::MEGPER_Наряды_Индивидуальные_наряды_с_учетом_КТУ : Menu
      object 'M_cmRunInterface(Z_MP::SYS_NAR(5))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_MP::SYS_NAR(5)) : MenuItem
      object 'M_cmRunInterface(Z_MP::VIEW_NORM)' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_MP::VIEW_NORM) : MenuItem
    } // M_Z_MENU::MEGPER_Наряды : Menu
    object 'M_Z_MENU::MEGPER_Расчет_премии_с_учетом_КТУ' : Menu {
      HelpCtxAvail = 'megper';
      object 'M_cmRunInterface(Z_MP::BON_RAS)' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_MP::BON_RAS) : MenuItem
      object 'M_cmRunInterface(Z_MP::SYS_MBF(4))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_MP::SYS_MBF(4)) : MenuItem
      object 'M_cmRunInterface(Z_MP::MEGPARM(1))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_MP::MEGPARM(1)) : MenuItem
      object 'M_cmRunInterface(Z_MP::MEGPARM(2))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_MP::MEGPARM(2)) : MenuItem
      object 'M_cmRunInterface(Z_PAYREP::TABLVED(11))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_PAYREP::TABLVED(11)) : MenuItem
      object 'M_cmRunInterface(Z_PAYREP::TABLREES(10))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_PAYREP::TABLREES(10)) : MenuItem
    } // M_Z_MENU::MEGPER_Расчет_премии_с_учетом_КТУ : Menu
    object 'M_Z_MENU::MEGPER_Расчет_дневной_зарплаты' : Menu {
      HelpCtxAvail = 'megper';
      object 'M_cmRunInterface(Z_MP::SAL_DAY)' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_MP::SAL_DAY) : MenuItem
      object 'M_cmRunInterface(Z_MP::VEDNAR(4))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_MP::VEDNAR(4)) : MenuItem
      object 'M_cmRunInterface(Z_MP::SAL_VED)' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_MP::SAL_VED) : MenuItem
      object 'M_cmRunInterface(Z_MP::SYS_MBF(5))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_MP::SYS_MBF(5)) : MenuItem
      object 'M_cmRunInterface(Z_MP::MEGPARM(4))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_MP::MEGPARM(4)) : MenuItem
    } // M_Z_MENU::MEGPER_Расчет_дневной_зарплаты : Menu
    object 'M_Z_MENU::MEGPER_Формирование_проводок_межрасчетного_периода' : Menu {
      HelpCtxAvail = 'megper';
      object 'M_cmRunInterface(Z_ZAR::FORMPLP)' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_ZAR::FORMPLP) : MenuItem
      object 'M_cmRunInterface(Z_ZAR::PROVPARM(2))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_ZAR::PROVPARM(2)) : MenuItem
      object 'M_cmRunInterface(Z_ZAR::PROVPARM(3))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_ZAR::PROVPARM(3)) : MenuItem
    } // M_Z_MENU::MEGPER_Формирование_проводок_межрасчетного_периода : Menu
    object 'M_cmRunInterface(Z_PAYREP::TABLVED(99))' : MenuItem {
      HelpCtxAvail = 'megper';
    } // M_cmRunInterface(Z_PAYREP::TABLVED(99)) : MenuItem
    object 'M_cmRunInterface(Z_ZAR::RPMEGPERIOD)' : MenuItem {
      HelpCtxAvail = 'megper';
    } // M_cmRunInterface(Z_ZAR::RPMEGPERIOD) : MenuItem
    object 'M_Z_MENU::MEGPER_Расчет_зарплаты' : Menu {
      Visible = False;
      HelpCtxAvail = 'megper';
      object 'M_cmRunInterface(Z_SREDN::SICKLISTWITHLEAVEINTERSECTIONSETUP)' : MenuItem {
        Visible = False;
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_SREDN::SICKLISTWITHLEAVEINTERSECTIONSETUP) : MenuItem
      object 'M_cmRunInterface(Z_ZAR::RABUCH)' : MenuItem {
        Visible = False;
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_ZAR::RABUCH) : MenuItem
      object 'M_cmRunInterface(Z_ZAR::ZUCHRABVR)' : MenuItem {
        Visible = False;
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_ZAR::ZUCHRABVR) : MenuItem
      object 'M_cmRunInterface(Z_ZAR::STORNZAP)' : MenuItem {
        Visible = False;
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_ZAR::STORNZAP) : MenuItem
      object 'M_cmRunInterface(Z_ZAR::ZARNETR)' : MenuItem {
        Visible = False;
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_ZAR::ZARNETR) : MenuItem
      object 'M_cmRunInterface(Z_ZAR::UNZARNET)' : MenuItem {
        Visible = False;
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_ZAR::UNZARNET) : MenuItem
      object 'M_cmRunInterface(Z_ZAR::ZREZULT(0,0))' : MenuItem {
        Visible = False;
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_ZAR::ZREZULT(0,0)) : MenuItem
      object 'M_cmRunInterface(Z_RLIST::RLISTPAR(0))' : MenuItem {
        Visible = False;
      } // M_cmRunInterface(Z_RLIST::RLISTPAR(0)) : MenuItem
      object 'M_cmRunInterface(FRO)' : MenuItem {
        Visible = False;
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(FRO) : MenuItem
      object 'M_cmRunInterface(MVZ)' : MenuItem {
        Visible = False;
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(MVZ) : MenuItem
      object 'M_cmRunInterface(MyNdfl)' : MenuItem {
        Visible = False;
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(MyNdfl) : MenuItem
    } // M_Z_MENU::MEGPER_Расчет_зарплаты : Menu
    object 'M_Z_MENU::MEGPER_Обратный_расчет' : Menu {
      Visible = False;
      HelpCtxAvail = 'megper';
      object 'M_cmRunInterface(Z_MP::SYS_MBF(17))' : MenuItem {
        Visible = False;
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_MP::SYS_MBF(17)) : MenuItem
      object 'M_cmRunInterface(Z_MP::RAS_SALO)' : MenuItem {
        Visible = False;
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_MP::RAS_SALO) : MenuItem
    } // M_Z_MENU::MEGPER_Обратный_расчет : Menu
    object 'M_cmRunInterface(Z_PayRep::Prmonthv(0, 0))' : MenuItem {
      HelpCtxAvail = 'megper';
    } // M_cmRunInterface(Z_PayRep::Prmonthv(0, 0)) : MenuItem
    object 'M_Z_MENU::MEGPER_Формирование_проводок' : Menu {
      HelpCtxAvail = 'megper';
      object 'M_cmRunInterface(Z_ZAR::PROVPARM(0))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_ZAR::PROVPARM(0)) : MenuItem
      object 'M_cmRunInterface(Z_ZAR::PROVPARM(1))' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_ZAR::PROVPARM(1)) : MenuItem
      object 'M_cmRunInterface(Z_ZAR::CHECKSCH)' : MenuItem {
        HelpCtxAvail = 'megper';
      } // M_cmRunInterface(Z_ZAR::CHECKSCH) : MenuItem
    } // M_Z_MENU::MEGPER_Формирование_проводок : Menu
  } // M_Z_MENU::menuzarp2_Z_MENU::megper_Операции : Menu
  object 'M_Z_MENU::menuzarp2_Z_MENU::zarnastr_Настройка' : Menu {
    object 'M_Z_MENU::ZarNastr_Заполнение_каталогов' : Menu {
      object 'M_cmRunInterface(Z_SREDN::PICKSRED(1))#1' : MenuItem {
        HelpCtxAvail = 'Zar_MenuNastr';
      } // M_cmRunInterface(Z_SREDN::PICKSRED(1))#1 : MenuItem
    } // M_Z_MENU::ZarNastr_Заполнение_каталогов : Menu
  } // M_Z_MENU::menuzarp2_Z_MENU::zarnastr_Настройка : Menu
} // MENU_Z_MENU::MENUZARP2 : Menu
//-----------------------------------------------------------------------------
