object 'L_SOPRDOC::AKTUSL' : InterfaceWindow {
  Centered = True;
  object SPECIFINFO : InterfaceWindow {
    object SCRSPECIFINFO : Screen {
      object i_SCRSPECIFINFO_SUMNALUCH_S : PanelInputLine {
        Visible = False;
      } // i_SCRSPECIFINFO_SUMNALUCH_S : PanelInputLine
      object i_SCRSPECIFINFO_SUMNALUCH : PanelInputLine {
        Visible = False;
      } // i_SCRSPECIFINFO_SUMNALUCH : PanelInputLine
    } // SCRSPECIFINFO : Screen
  } // SPECIFINFO : InterfaceWindow
  object EDITSOPR : InterfaceWindow {
    Centered = True;
    object SCRHEADER : Screen {
      object 'L_SCRHEADER_Наряд-заказ' : Label {
        Hidden = True;
      } // L_SCRHEADER_Наряд-заказ : Label
      object i_SCRHEADER_NZAKNOMDES : PanelInputLine {
        Hidden = True;
      } // i_SCRHEADER_NZAKNOMDES : PanelInputLine
      object 'b_SCRHEADER_Расширенная_информация' : Button {
        Origin_X = 567;
        Origin_Y = 23;
      } // b_SCRHEADER_Расширенная_информация : Button
      object 'b_SCRHEADER_Формирование_ДО' : Button {
        Origin_X = 566;
        Origin_Y = 56;
      } // b_SCRHEADER_Формирование_ДО : Button
      object i_SCRHEADER_HOZOPERVIEWNAME : PanelInputLine {
        Size_X = 402;
      } // i_SCRHEADER_HOZOPERVIEWNAME : PanelInputLine
      object 'i_SCRHEADER_KATPAYMENT.NAME' : PanelInputLine {
        Size_X = 373;
      } // i_SCRHEADER_KATPAYMENT.NAME : PanelInputLine
      object i_SCRHEADER_SCHFACTNUM : PanelInputLine {
        Size_X = 310;
      } // i_SCRHEADER_SCHFACTNUM : PanelInputLine
      // Информация: объект "'ExtAttr: KATSOPR,28147497671065628'" типа PanelInputLine не найден в базовой конфигурации!
      object 'ExtAttr: KATSOPR,28147497671065628' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        PickButton = True;
        CalcButton = False;
        Calendar = False;
        LessNull = False;
        StatusCtx = 150;
        Strings = ( // Список строк
        )
        StringsNull = 0;
        HelpLine = 'Виды продукции, работ, услуг';
        FieldName = 'ExtAttr: KATSOPR,28147497671065628';
        DefaultValue = '';
        Origin_X = 508;
        Origin_Y = 123;
        Size_X = 217;
        Size_Y = 14;
        TextAlign = 0;
        SpinButton = False;
        SpinInc = 0.0;
        SpinMin = 0.0;
        SpinMax = 0.0;
        NoStatic = False;
        EnumValues = ( // Список целых
        )
        PassiveFormat = '';
        Points = 0;
        MaxLen = 255;
        PrecisionVarName = '';
        HistoryID = 0;
        DropTarget = False;
        DropSource = False;
      } // ExtAttr: KATSOPR,28147497671065628 : PanelInputLine
      // Информация: объект "'LbExtAttr: KATSOPR,28147497671065628'" типа Label не найден в базовой конфигурации!
      object 'LbExtAttr: KATSOPR,28147497671065628' : Label {
        Original = False;
        Title = 'Виды продукции, работ, услуг';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 568;
        Origin_Y = 101;
        Size_X = 160;
        Size_Y = 14;
      } // LbExtAttr: KATSOPR,28147497671065628 : Label
      // Информация: объект "'ExtAttr: KATSOPR,28147497671066155'" типа PanelInputLine не найден в базовой конфигурации!
      object 'ExtAttr: KATSOPR,28147497671066155' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        PickButton = True;
        CalcButton = False;
        Calendar = False;
        LessNull = False;
        StatusCtx = 150;
        Strings = ( // Список строк
        )
        StringsNull = 0;
        HelpLine = 'Объекты строительства';
        FieldName = 'ExtAttr: KATSOPR,28147497671066155';
        DefaultValue = '';
        Origin_X = 507;
        Origin_Y = 164;
        Size_X = 218;
        Size_Y = 14;
        TextAlign = 0;
        SpinButton = False;
        SpinInc = 0.0;
        SpinMin = 0.0;
        SpinMax = 0.0;
        NoStatic = False;
        EnumValues = ( // Список целых
        )
        PassiveFormat = '';
        Points = 0;
        MaxLen = 255;
        PrecisionVarName = '';
        HistoryID = 0;
        DropTarget = False;
        DropSource = False;
      } // ExtAttr: KATSOPR,28147497671066155 : PanelInputLine
      // Информация: объект "'LbExtAttr: KATSOPR,28147497671066155'" типа Label не найден в базовой конфигурации!
      object 'LbExtAttr: KATSOPR,28147497671066155' : Label {
        Original = False;
        Title = 'Объекты строительства';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 592;
        Origin_Y = 143;
        Size_X = 140;
        Size_Y = 14;
      } // LbExtAttr: KATSOPR,28147497671066155 : Label
    } // SCRHEADER : Screen
  } // EDITSOPR : InterfaceWindow
} // L_SOPRDOC::AKTUSL : InterfaceWindow
//-----------------------------------------------------------------------------
