object 'L_SOPRDOC::AKTUSLB' : InterfaceWindow {
  Centered = True;
  object SPECIFINFO : InterfaceWindow {
    object SCRSPECIFINFO : Screen {
      object 'i_SCRSPECIFINFO_SPSOPR.KOL' : PanelInputLine {
        Visible = False;
      } // i_SCRSPECIFINFO_SPSOPR.KOL : PanelInputLine
      object i_SCRSPECIFINFO_sumNalUch_s : PanelInputLine {
        Visible = False;
      } // i_SCRSPECIFINFO_sumNalUch_s : PanelInputLine
      object i_SCRSPECIFINFO_sumNalUch : PanelInputLine {
        Visible = False;
      } // i_SCRSPECIFINFO_sumNalUch : PanelInputLine
    } // SCRSPECIFINFO : Screen
    object SCRSPECIFINFO110 : Screen {
      object 'i_SCRSPECIFINFO110_SPSOPR.KOL' : PanelInputLine {
        Visible = False;
      } // i_SCRSPECIFINFO110_SPSOPR.KOL : PanelInputLine
      object 'L_SCRSPECIFINFO110_Цена_базовая' : Label {
        Visible = False;
      } // L_SCRSPECIFINFO110_Цена_базовая : Label
      object i_SCRSPECIFINFO110_BASECOST : PanelInputLine {
        Visible = False;
      } // i_SCRSPECIFINFO110_BASECOST : PanelInputLine
      object 'L_SCRSPECIFINFO110_Стоимость_базовая' : Label {
        Visible = False;
      } // L_SCRSPECIFINFO110_Стоимость_базовая : Label
      object 'i_SCRSPECIFINFO110_TBLBASECOST.DOPSUM2' : PanelInputLine {
        Visible = False;
      } // i_SCRSPECIFINFO110_TBLBASECOST.DOPSUM2 : PanelInputLine
      object i_SCRSPECIFINFO110_sumNalUch_s : PanelInputLine {
        Visible = False;
      } // i_SCRSPECIFINFO110_sumNalUch_s : PanelInputLine
      object i_SCRSPECIFINFO110_sumNalUch : PanelInputLine {
        Visible = False;
      } // i_SCRSPECIFINFO110_sumNalUch : PanelInputLine
    } // SCRSPECIFINFO110 : Screen
    object SCRSPECIFINFOUSL : Screen {
      object 'i_SCRSPECIFINFOUSL_SPSOPR.KOL' : PanelInputLine {
        Visible = False;
      } // i_SCRSPECIFINFOUSL_SPSOPR.KOL : PanelInputLine
      object 'L_SCRSPECIFINFOUSL_Цена_базовая' : Label {
        Visible = False;
      } // L_SCRSPECIFINFOUSL_Цена_базовая : Label
      object i_SCRSPECIFINFOUSL_BASECOST : PanelInputLine {
        Visible = False;
      } // i_SCRSPECIFINFOUSL_BASECOST : PanelInputLine
      object 'L_SCRSPECIFINFOUSL_Стоимость_базовая' : Label {
        Visible = False;
      } // L_SCRSPECIFINFOUSL_Стоимость_базовая : Label
      object 'i_SCRSPECIFINFOUSL_TBLBASECOST.DOPSUM2' : PanelInputLine {
        Visible = False;
      } // i_SCRSPECIFINFOUSL_TBLBASECOST.DOPSUM2 : PanelInputLine
      object i_SCRSPECIFINFOUSL_sumNalUch_s : PanelInputLine {
        Visible = False;
      } // i_SCRSPECIFINFOUSL_sumNalUch_s : PanelInputLine
      object i_SCRSPECIFINFOUSL_sumNalUch : PanelInputLine {
        Visible = False;
      } // i_SCRSPECIFINFOUSL_sumNalUch : PanelInputLine
    } // SCRSPECIFINFOUSL : Screen
    object SCRSPECIFINFO2 : Screen {
      object 'i_SCRSPECIFINFO2_SPSOPR.KOL' : PanelInputLine {
        Visible = False;
      } // i_SCRSPECIFINFO2_SPSOPR.KOL : PanelInputLine
      object i_SCRSPECIFINFO2_sumNalUch_s : PanelInputLine {
        Visible = False;
      } // i_SCRSPECIFINFO2_sumNalUch_s : PanelInputLine
      object i_SCRSPECIFINFO2_sumNalUch : PanelInputLine {
        Visible = False;
      } // i_SCRSPECIFINFO2_sumNalUch : PanelInputLine
    } // SCRSPECIFINFO2 : Screen
    object SCLONGNAME : Screen {
      StatusCtx = 6911;
    } // SCLONGNAME : Screen
  } // SPECIFINFO : InterfaceWindow
  object EDITSOPR : InterfaceWindow {
    Centered = True;
    object SCRHEADER : Screen {
      object 'b_SCRHEADER_Расширенная_информация' : Button {
        Origin_X = 566;
        Origin_Y = 23;
      } // b_SCRHEADER_Расширенная_информация : Button
      object 'b_SCRHEADER_Формирование_ДО' : Button {
        Origin_X = 567;
        Origin_Y = 60;
      } // b_SCRHEADER_Формирование_ДО : Button
      object i_SCRHEADER_HOZOPERVIEWNAME : PanelInputLine {
        Size_X = 373;
      } // i_SCRHEADER_HOZOPERVIEWNAME : PanelInputLine
      object 'i_SCRHEADER_KATPAYMENT.NAME' : PanelInputLine {
        Size_X = 171;
      } // i_SCRHEADER_KATPAYMENT.NAME : PanelInputLine
      object i_SCRHEADER_BDNKLDES : PanelInputLine {
        Origin_X = 285;
        Origin_Y = 143;
        Size_X = 174;
      } // i_SCRHEADER_BDNKLDES : PanelInputLine
      object i_SCRHEADER_SCHFACTNUM : PanelInputLine {
        Size_X = 288;
      } // i_SCRHEADER_SCHFACTNUM : PanelInputLine
      // Информация: объект "'ExtAttr: KATSOPR,28147497671065631'" типа PanelInputLine не найден в базовой конфигурации!
      object 'ExtAttr: KATSOPR,28147497671065631' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        PickButton = True;
        CalcButton = False;
        Calendar = False;
        LessNull = False;
        StatusCtx = 150;
        Strings = ( // Список строк
        )
        StringsNull = 0;
        HelpLine = 'Направление расходов';
        FieldName = 'ExtAttr: KATSOPR,28147497671065631';
        DefaultValue = '';
        Origin_X = 469;
        Origin_Y = 123;
        Size_X = 255;
        Size_Y = 14;
        TextAlign = 0;
        SpinButton = False;
        SpinInc = 0.0;
        SpinMin = 0.0;
        SpinMax = 0.0;
        NoStatic = False;
        EnumValues = ( // Список целых
        )
        PassiveFormat = '';
        Points = 0;
        MaxLen = 255;
        PrecisionVarName = '';
        HistoryID = 0;
        DropTarget = False;
        DropSource = False;
      } // ExtAttr: KATSOPR,28147497671065631 : PanelInputLine
      // Информация: объект "'LbExtAttr: KATSOPR,28147497671065631'" типа Label не найден в базовой конфигурации!
      object 'LbExtAttr: KATSOPR,28147497671065631' : Label {
        Original = False;
        Title = 'Направление расходов';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 595;
        Origin_Y = 103;
        Size_X = 133;
        Size_Y = 14;
      } // LbExtAttr: KATSOPR,28147497671065631 : Label
      // Информация: объект "'ExtAttr: KATSOPR,28147497671066155'" типа PanelInputLine не найден в базовой конфигурации!
      object 'ExtAttr: KATSOPR,28147497671066155' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        PickButton = True;
        CalcButton = False;
        Calendar = False;
        LessNull = False;
        StatusCtx = 150;
        Strings = ( // Список строк
        )
        StringsNull = 0;
        HelpLine = 'Объекты строительства';
        FieldName = 'ExtAttr: KATSOPR,28147497671066155';
        DefaultValue = '';
        Origin_X = 469;
        Origin_Y = 163;
        Size_X = 254;
        Size_Y = 14;
        TextAlign = 0;
        SpinButton = False;
        SpinInc = 0.0;
        SpinMin = 0.0;
        SpinMax = 0.0;
        NoStatic = False;
        EnumValues = ( // Список целых
        )
        PassiveFormat = '';
        Points = 0;
        MaxLen = 255;
        PrecisionVarName = '';
        HistoryID = 0;
        DropTarget = False;
        DropSource = False;
      } // ExtAttr: KATSOPR,28147497671066155 : PanelInputLine
      // Информация: объект "'LbExtAttr: KATSOPR,28147497671066155'" типа Label не найден в базовой конфигурации!
      object 'LbExtAttr: KATSOPR,28147497671066155' : Label {
        Original = False;
        Title = 'Объекты строительства';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 592;
        Origin_Y = 143;
        Size_X = 140;
        Size_Y = 14;
      } // LbExtAttr: KATSOPR,28147497671066155 : Label
    } // SCRHEADER : Screen
    object BRSPECIF : Browser {
      object c_BRSPECIF_PRSOPUSL : Column {
        Visible = False;
      } // c_BRSPECIF_PRSOPUSL : Column
      object 'c_BRSPECIF_SPSOPR.KOL_Процент' : Column {
        Visible = False;
      } // c_BRSPECIF_SPSOPR.KOL_Процент : Column
      object 'c_BRSPECIF_SPSOPRPRSUM_Сумма' : Column {
        Visible = False;
      } // c_BRSPECIF_SPSOPRPRSUM_Сумма : Column
    } // BRSPECIF : Browser
    object BRSPECIF1 : Browser {
      object c_BRSPECIF1_PRSOPUSL : Column {
        Visible = False;
      } // c_BRSPECIF1_PRSOPUSL : Column
      object 'c_BRSPECIF1_SPSOPR.KOL_Процент' : Column {
        Visible = False;
      } // c_BRSPECIF1_SPSOPR.KOL_Процент : Column
      object 'c_BRSPECIF1_SPSOPRPRSUM_Сумма' : Column {
        Visible = False;
      } // c_BRSPECIF1_SPSOPRPRSUM_Сумма : Column
    } // BRSPECIF1 : Browser
    object BRSPECIF3 : Browser {
      object 'c_BRSPECIF3_KATDOPED1.SHORTNAME_ДЕИ_1' : Column {
        Visible = False;
      } // c_BRSPECIF3_KATDOPED1.SHORTNAME_ДЕИ_1 : Column
      object 'c_BRSPECIF3_SPDOPED1.KOL_Количество' : Column {
        Visible = False;
      } // c_BRSPECIF3_SPDOPED1.KOL_Количество : Column
      object 'c_BRSPECIF3_KATDOPED2.SHORTNAME_ДЕИ_2' : Column {
        Visible = False;
      } // c_BRSPECIF3_KATDOPED2.SHORTNAME_ДЕИ_2 : Column
      object 'c_BRSPECIF3_SPDOPED2.KOL_Количество' : Column {
        Visible = False;
      } // c_BRSPECIF3_SPDOPED2.KOL_Количество : Column
    } // BRSPECIF3 : Browser
    object BRSPECIFNAKT : Browser {
      object c_BRSPECIFNAKT_PRSOPUSL : Column {
        Visible = False;
      } // c_BRSPECIFNAKT_PRSOPUSL : Column
      object 'c_BRSPECIFNAKT_SPSOPR.KOL_Процент' : Column {
        Visible = False;
      } // c_BRSPECIFNAKT_SPSOPR.KOL_Процент : Column
      object 'c_BRSPECIFNAKT_SPSOPRPRSUM_Сумма' : Column {
        Visible = False;
      } // c_BRSPECIFNAKT_SPSOPRPRSUM_Сумма : Column
    } // BRSPECIFNAKT : Browser
  } // EDITSOPR : InterfaceWindow
} // L_SOPRDOC::AKTUSLB : InterfaceWindow
//-----------------------------------------------------------------------------
