object 'L_SKLAD::AKT_SPIS' : InterfaceWindow {
  Centered = True;
  object EDITSOPR : InterfaceWindow {
    Centered = True;
    object SCRHEADER2 : Screen {
      object 'L_SCRHEADER2_Центр_ответственности' : Label {
        Hidden = True;
      } // L_SCRHEADER2_Центр_ответственности : Label
      object 'i_SCRHEADER2_OTVPODR.NAME' : PanelInputLine {
        Hidden = True;
      } // i_SCRHEADER2_OTVPODR.NAME : PanelInputLine
      object 'b_SCRHEADER2_Примечание' : Button {
        Origin_X = 641;
        Origin_Y = 127;
      } // b_SCRHEADER2_Примечание : Button
      object 'T_SCRHEADER2_На_сумму' : StaticText {
        Origin_X = 7;
        Origin_Y = 167;
      } // T_SCRHEADER2_На_сумму : StaticText
      object i_SCRHEADER2_SUM : PanelInputLine {
        Origin_X = 75;
        Origin_Y = 170;
      } // i_SCRHEADER2_SUM : PanelInputLine
      object i_SCRHEADER2_VALUT : PanelInputLine {
        Origin_X = 235;
        Origin_Y = 171;
      } // i_SCRHEADER2_VALUT : PanelInputLine
      object i_SCRHEADER2_DOCNALSUMMA : PanelInputLine {
        Visible = False;
      } // i_SCRHEADER2_DOCNALSUMMA : PanelInputLine
      object i_SCRHEADER2_VHNAL : PanelInputLine {
        Visible = False;
      } // i_SCRHEADER2_VHNAL : PanelInputLine
      object i_SCRHEADER2_SDOC_NDS : PanelInputLine {
        Visible = False;
      } // i_SCRHEADER2_SDOC_NDS : PanelInputLine
      object i_SCRHEADER2_SCHFACTNUM : PanelInputLine {
        Visible = False;
      } // i_SCRHEADER2_SCHFACTNUM : PanelInputLine
      object i_SCRHEADER2_SDEISUMLABEL : PanelInputLine {
        Visible = False;
      } // i_SCRHEADER2_SDEISUMLABEL : PanelInputLine
      object i_SCRHEADER2_FOSNKOL : PanelInputLine {
        Visible = False;
      } // i_SCRHEADER2_FOSNKOL : PanelInputLine
      object i_SCRHEADER2_SDEI1NAME : PanelInputLine {
        Visible = False;
      } // i_SCRHEADER2_SDEI1NAME : PanelInputLine
      object i_SCRHEADER2_FDEI1KOL : PanelInputLine {
        Visible = False;
      } // i_SCRHEADER2_FDEI1KOL : PanelInputLine
      object i_SCRHEADER2_SDEI2NAME : PanelInputLine {
        Visible = False;
      } // i_SCRHEADER2_SDEI2NAME : PanelInputLine
      object i_SCRHEADER2_FDEI2KOL : PanelInputLine {
        Visible = False;
      } // i_SCRHEADER2_FDEI2KOL : PanelInputLine
      // Информация: объект "'ExtAttr: KATSOPR,28147497671065628'" типа PanelInputLine не найден в базовой конфигурации!
      object 'ExtAttr: KATSOPR,28147497671065628' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        PickButton = True;
        CalcButton = False;
        Calendar = False;
        LessNull = False;
        StatusCtx = 150;
        Strings = ( // Список строк
        )
        StringsNull = 0;
        HelpLine = '';
        FieldName = 'ExtAttr: KATSOPR,28147497671065628';
        DefaultValue = '';
        Origin_X = 493;
        Origin_Y = 194;
        Size_X = 258;
        Size_Y = 14;
        TextAlign = 0;
        SpinButton = False;
        SpinInc = 0.0;
        SpinMin = 0.0;
        SpinMax = 0.0;
        NoStatic = False;
        EnumValues = ( // Список целых
        )
        PassiveFormat = '';
        Points = 0;
        MaxLen = 255;
        PrecisionVarName = '';
        HistoryID = 0;
        DropTarget = False;
        DropSource = False;
      } // ExtAttr: KATSOPR,28147497671065628 : PanelInputLine
      // Информация: объект "'LbExtAttr: KATSOPR,28147497671065628'" типа Label не найден в базовой конфигурации!
      object 'LbExtAttr: KATSOPR,28147497671065628' : Label {
        Original = False;
        Title = 'Виды продукции, работ, услуг';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 328;
        Origin_Y = 195;
        Size_X = 163;
        Size_Y = 14;
      } // LbExtAttr: KATSOPR,28147497671065628 : Label
      // Информация: объект "'ExtAttr: KATSOPR,28147497671065634'" типа PanelInputLine не найден в базовой конфигурации!
      object 'ExtAttr: KATSOPR,28147497671065634' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        PickButton = True;
        CalcButton = False;
        Calendar = False;
        LessNull = False;
        StatusCtx = 150;
        Strings = ( // Список строк
        )
        StringsNull = 0;
        HelpLine = '';
        FieldName = 'ExtAttr: KATSOPR,28147497671065634';
        DefaultValue = '';
        Origin_X = 100;
        Origin_Y = 195;
        Size_X = 216;
        Size_Y = 14;
        TextAlign = 0;
        SpinButton = False;
        SpinInc = 0.0;
        SpinMin = 0.0;
        SpinMax = 0.0;
        NoStatic = False;
        EnumValues = ( // Список целых
        )
        PassiveFormat = '';
        Points = 0;
        MaxLen = 255;
        PrecisionVarName = '';
        HistoryID = 0;
        DropTarget = False;
        DropSource = False;
      } // ExtAttr: KATSOPR,28147497671065634 : PanelInputLine
      // Информация: объект "'LbExtAttr: KATSOPR,28147497671065634'" типа Label не найден в базовой конфигурации!
      object 'LbExtAttr: KATSOPR,28147497671065634' : Label {
        Original = False;
        Title = 'Статьи затрат';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 5;
        Origin_Y = 196;
        Size_X = 84;
        Size_Y = 14;
      } // LbExtAttr: KATSOPR,28147497671065634 : Label
      // Информация: объект "'ExtAttr: KATSOPR,28147497671065834'" типа PanelInputLine не найден в базовой конфигурации!
      object 'ExtAttr: KATSOPR,28147497671065834' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        PickButton = True;
        CalcButton = False;
        Calendar = False;
        LessNull = False;
        StatusCtx = 150;
        Strings = ( // Список строк
        )
        StringsNull = 0;
        HelpLine = '';
        FieldName = 'ExtAttr: KATSOPR,28147497671065834';
        DefaultValue = '';
        Origin_X = 255;
        Origin_Y = 146;
        Size_X = 372;
        Size_Y = 14;
        TextAlign = 0;
        SpinButton = False;
        SpinInc = 0.0;
        SpinMin = 0.0;
        SpinMax = 0.0;
        NoStatic = False;
        EnumValues = ( // Список целых
        )
        PassiveFormat = '';
        Points = 0;
        MaxLen = 255;
        PrecisionVarName = '';
        HistoryID = 0;
        DropTarget = False;
        DropSource = False;
      } // ExtAttr: KATSOPR,28147497671065834 : PanelInputLine
      // Информация: объект "'LbExtAttr: KATSOPR,28147497671065834'" типа Label не найден в базовой конфигурации!
      object 'LbExtAttr: KATSOPR,28147497671065834' : Label {
        Original = False;
        Title = 'Центр ответственности ( внешний атрибут)';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 8;
        Origin_Y = 145;
        Size_X = 237;
        Size_Y = 14;
      } // LbExtAttr: KATSOPR,28147497671065834 : Label
    } // SCRHEADER2 : Screen
    object BRSPECIF : Browser {
      object 'c_BRSPECIF_KATDOPED1.SHORTNAME_ДЕИ_1' : Column {
        Visible = False;
      } // c_BRSPECIF_KATDOPED1.SHORTNAME_ДЕИ_1 : Column
      object 'c_BRSPECIF_SPDOPED1.KOL_Количество' : Column {
        Visible = False;
      } // c_BRSPECIF_SPDOPED1.KOL_Количество : Column
      object 'c_BRSPECIF_KATDOPED2.SHORTNAME_ДЕИ_2' : Column {
        Visible = False;
      } // c_BRSPECIF_KATDOPED2.SHORTNAME_ДЕИ_2 : Column
      object 'c_BRSPECIF_SPDOPED2.KOL_Количество' : Column {
        Visible = False;
      } // c_BRSPECIF_SPDOPED2.KOL_Количество : Column
      object 'c_BRSPECIF_CAPACITY_Объем' : Column {
        Visible = False;
      } // c_BRSPECIF_CAPACITY_Объем : Column
      object 'c_BRSPECIF_CAPACITYPRICE_Цена_(объем)' : Column {
        Visible = False;
      } // c_BRSPECIF_CAPACITYPRICE_Цена_(объем) : Column
      object 'c_BRSPECIF_BOXNAME_Ячейка_хранения' : Column {
        Visible = False;
      } // c_BRSPECIF_BOXNAME_Ячейка_хранения : Column
    } // BRSPECIF : Browser
    object BRSPECIF1 : Browser {
      object 'c_BRSPECIF1_KATDOPED1.SHORTNAME_ДЕИ_1' : Column {
        Visible = False;
      } // c_BRSPECIF1_KATDOPED1.SHORTNAME_ДЕИ_1 : Column
      object 'c_BRSPECIF1_SPDOPED1.KOL_Количество' : Column {
        Visible = False;
      } // c_BRSPECIF1_SPDOPED1.KOL_Количество : Column
      object 'c_BRSPECIF1_KATDOPED2.SHORTNAME_ДЕИ_2' : Column {
        Visible = False;
      } // c_BRSPECIF1_KATDOPED2.SHORTNAME_ДЕИ_2 : Column
      object 'c_BRSPECIF1_SPDOPED2.KOL_Количество' : Column {
        Visible = False;
      } // c_BRSPECIF1_SPDOPED2.KOL_Количество : Column
      object 'c_BRSPECIF1_CAPACITY_Объем' : Column {
        Visible = False;
      } // c_BRSPECIF1_CAPACITY_Объем : Column
      object 'c_BRSPECIF1_CAPACITYPRICE_Цена_(объем)' : Column {
        Visible = False;
      } // c_BRSPECIF1_CAPACITYPRICE_Цена_(объем) : Column
      object 'c_BRSPECIF1_BOXNAME_Ячейка_хранения' : Column {
        Visible = False;
      } // c_BRSPECIF1_BOXNAME_Ячейка_хранения : Column
      object 'c_BRSPECIF1_ATTRVALSP.VSTRING_Причина_списания' : Column {
        Hidden = True;
      } // c_BRSPECIF1_ATTRVALSP.VSTRING_Причина_списания : Column
      // Информация: объект "'ExtAttr: SPSOPR,89509042593988954'" типа Column не найден в базовой конфигурации!
      object 'ExtAttr: SPSOPR,89509042593988954' : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = False;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        StatusCtx = 145;
        PickButton = False;
        CalcButton = False;
        Calendar = False;
        Title = 'Причина списание';
        HelpLine = '';
        FieldName = 'ExtAttr: SPSOPR,89509042593988954';
        DefaultValue = '';
        Strings = ( // Список строк
        )
        StringsNull = 0;
        Index = 17;
        DefaultWidth = 26;
        TextAlign = 0;
        SpinButton = False;
        SpinInc = 0.0;
        SpinMin = 0.0;
        SpinMax = 0.0;
        NoAutoSize = False;
        EnumValues = ( // Список целых
        )
        PassiveFormat = '';
        Points = 0;
        MaxLen = 255;
        PrecisionVarName = '';
        HistoryID = 0;
        DropTarget = False;
        DropSource = False;
      } // ExtAttr: SPSOPR,89509042593988954 : Column
      object 'c_BRSPECIF1_VSKAU1_КАУ_1' : Column {
        Index = 18;
      } // c_BRSPECIF1_VSKAU1_КАУ_1 : Column
      object 'c_BRSPECIF1_VSKAU2_КАУ_2' : Column {
        Index = 19;
      } // c_BRSPECIF1_VSKAU2_КАУ_2 : Column
      object 'c_BRSPECIF1_VSKAU3_КАУ_3' : Column {
        Index = 20;
      } // c_BRSPECIF1_VSKAU3_КАУ_3 : Column
      object 'c_BRSPECIF1_VSKAU4_КАУ_4' : Column {
        Index = 21;
      } // c_BRSPECIF1_VSKAU4_КАУ_4 : Column
      object 'c_BRSPECIF1_VSKAU5_КАУ_5' : Column {
        Index = 22;
      } // c_BRSPECIF1_VSKAU5_КАУ_5 : Column
      object 'c_BRSPECIF1_VSKAU6_КАУ_6' : Column {
        Index = 23;
      } // c_BRSPECIF1_VSKAU6_КАУ_6 : Column
      object 'c_BRSPECIF1_VSKAU7_КАУ_7' : Column {
        Index = 24;
      } // c_BRSPECIF1_VSKAU7_КАУ_7 : Column
      object 'c_BRSPECIF1_VSKAU8_КАУ_8' : Column {
        Index = 25;
      } // c_BRSPECIF1_VSKAU8_КАУ_8 : Column
      object 'c_BRSPECIF1_VSKAU9_КАУ_9' : Column {
        Index = 26;
      } // c_BRSPECIF1_VSKAU9_КАУ_9 : Column
      object 'c_BRSPECIF1_VSKAU10_КАУ_10' : Column {
        Index = 27;
      } // c_BRSPECIF1_VSKAU10_КАУ_10 : Column
      object 'c_BRSPECIF1_SMETAMY_Смета' : Column {
        Index = 28;
      } // c_BRSPECIF1_SMETAMY_Смета : Column
      object 'c_BRSPECIF1_SMETASPMY_Спецификация_сметы' : Column {
        Index = 29;
      } // c_BRSPECIF1_SMETASPMY_Спецификация_сметы : Column
    } // BRSPECIF1 : Browser
  } // EDITSOPR : InterfaceWindow
} // L_SKLAD::AKT_SPIS : InterfaceWindow
//- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Layout 'L_SKLAD::AKT_SPIS' : InterfaceWindow {
  BRSELECTNAKL : Browser {
    'c_BRSELECTNAKL_PICKED_√' : Column;
    'c_BRSELECTNAKL_KATSOPR.DSOPR_Дата' : Column;
    'c_BRSELECTNAKL_KATSOPR.NSOPR_Номер' : Column;
    'c_BRSELECTNAKL_KATSOPR.DESCR_Дск' : Column;
    'c_BRSELECTNAKL_KATNOTES.NAME_Статус' : Column;
    'c_BRSELECTNAKL_KATPODR.NAME_Склад' : Column;
    'c_BRSELECTNAKL_KATMOL.NAME_МОЛ' : Column;
    'c_BRSELECTNAKL_SUM_Сумма' : Column;
    'c_BRSELECTNAKL_VALUT_Валюта' : Column;
    'c_BRSELECTNAKL_SKLORDER_Списан' : Column;
    'c_BRSELECTNAKL_П' : Column;
  }
  WMCRASPR : InterfaceWindow {
    BRMCTORASPR : Browser {
      'c_BRMCTORASPR_SPSOPRREP.NPP_N' : Column;
      'c_BRMCTORASPR_KATMCREP.BARKOD_Код_МЦ' : Column;
      'c_BRMCTORASPR_KATMCREP.NAME_Наименование_МЦ' : Column;
      'c_BRMCTORASPR_SPSOPRREP.KOLFACT_Коли-_чество' : Column;
      'c_BRMCTORASPR_Ед.Изм' : Column;
    }
    BRMCRASPR : Browser {
      'c_BRMCRASPR_KATPODRREP.NAME_Подразделение' : Column;
      'c_BRMCRASPR_PERSONS.FIO_Сотрудник' : Column;
      'c_BRMCRASPR_TTNDOC.DOPSUM1_Количество_МЦ_к_выдаче' : Column;
      'c_BRMCRASPR_TTNDOC.DOPSUM2_Цена' : Column;
      'c_BRMCRASPR_TTNDOC.DOPSUM3_Стоимость' : Column;
    }
    SCRPRINTMCRASPR : Screen {
      'b_SCRPRINTMCRASPR_Закрыть' : Button;
    }
  }
  WIPRINTPARAMOSONE : InterfaceWindow {
    SCRFILTR2 : Screen {
      'L_SCRFILTR2_Тип_отчета:' : Label;
      i_SCRFILTR2_TOC : PanelInputLine;
      'L_SCRFILTR2_Отчет:' : Label;
      i_SCRFILTR2_TOC1 : PanelInputLine;
      'L_SCRFILTR2_Комиссия:' : Label;
      i_SCRFILTR2_SCOMMISSION : PanelInputLine;
      'b_SCRFILTR2_Сформировать' : Button;
      'b_SCRFILTR2_Настройка_шаблона' : Button;
      'b_SCRFILTR2_Отмена' : Button;
    }
  }
  WIPRINTAKTMBP : InterfaceWindow {
    SCRPRINTAKTMBP : Screen {
      'L_SCRPRINTAKTMBP_Комиссия:' : Label;
      i_SCRPRINTAKTMBP_SCOMMISSION : PanelInputLine;
      'b_SCRPRINTAKTMBP_Сформировать' : Button;
      'b_SCRPRINTAKTMBP_Отмена' : Button;
    }
  }
  WINPROCESSPRLPRICES : InterfaceWindow {
    SC : Screen {
      'T_SC_Обнулять_цену_в_спецификации_документа_N' : StaticText;
      'i_SC_KATSOPR.NSOPR' : PanelInputLine;
      'T_SC_которой_нет_в_прайс-листе?' : StaticText;
      cb_SC_W1_ProcessPrlPrices : PanelCheckBox {
        'ci_SC_W1_ProcessPrlPrices_применить_для_всех_документов' : ClusterItem;
      }
      'b_SC_Обнулять_цену' : Button;
      'b_SC_Не_обнулять_цену' : Button;
    }
  }
  EDITNALOGS : InterfaceWindow {
    BREDITSPDOCNAL : Browser {
      'c_BREDITSPDOCNAL_KATNALOG.NAME_Налог' : Column;
      'c_BREDITSPDOCNAL_NALORG.NAME_Организация' : Column;
      'c_BREDITSPDOCNAL_SPDOCNAL.NALOG_Ставка' : Column;
      'c_BREDITSPDOCNAL_SPDOCNAL.SUMMA_Сумма_в_НДЕ' : Column;
      'c_BREDITSPDOCNAL_SPDOCNAL.SUMVAL_В_вал.док.' : Column;
      'c_BREDITSPDOCNAL_KLVAL.SIMVOLV_Вал.' : Column;
      'c_BREDITSPDOCNAL_SPDOCNAL.SUMNAL_В_вал.нал.' : Column;
      'c_BREDITSPDOCNAL_VALUTNAL_Вал.' : Column;
    }
  }
  WINFILTR2 : InterfaceWindow {
    SCRFILTR22 : Screen {
      'T_SCRFILTR22_Временной_интервал:' : StaticText;
      'L_SCRFILTR22_с' : Label;
      i_SCRFILTR22_BEGDATE : PanelInputLine;
      'L_SCRFILTR22_по' : Label;
      i_SCRFILTR22_ENDDATE : PanelInputLine;
      cb_SCRFILTR22_FilterParam : PanelCheckBox {
        'ci_SCRFILTR22_FilterParam_Склад' : ClusterItem;
        'ci_SCRFILTR22_FilterParam_МОЛ' : ClusterItem;
        'ci_SCRFILTR22_FilterParam_Дескриптор_пользователя' : ClusterItem;
        'ci_SCRFILTR22_FilterParam_Группа_пользователей' : ClusterItem;
        'ci_SCRFILTR22_FilterParam_Дата_ордеров' : ClusterItem;
        'ci_SCRFILTR22_FilterParam_Назначение' : ClusterItem;
      }
      'i_SCRFILTR22_KATPODRFROM.NAME' : PanelInputLine;
      'i_SCRFILTR22_KATMOLFROM.NAME' : PanelInputLine;
      i_SCRFILTR22_SDESCR : PanelInputLine;
      i_SCRFILTR22_SDESGR : PanelInputLine;
      i_SCRFILTR22_DOPR : PanelInputLine;
      'i_SCRFILTR22_KATNAZNA2.NAME' : PanelInputLine;
      'b_SCRFILTR22_Установить_фильтр' : Button;
      'b_SCRFILTR22_Снять_фильтр' : Button;
      'b_SCRFILTR22_Отмена' : Button;
    }
  }
  SPEXTENDETINFO : InterfaceWindow {
    SPSCREXTENDETINFO : Screen {
      'T_SPSCREXTENDETINFO_Наименование' : StaticText;
      'T_SPSCREXTENDETINFO_:' : StaticText;
      'i_SPSCREXTENDETINFO_KATMC.NAME' : PanelInputLine;
      'T_SPSCREXTENDETINFO_Ном.номер' : StaticText;
      'T_SPSCREXTENDETINFO_:#1' : StaticText;
      'i_SPSCREXTENDETINFO_KATMC.BARKOD' : PanelInputLine;
      'T_SPSCREXTENDETINFO_Партия' : StaticText;
      'T_SPSCREXTENDETINFO_:#2' : StaticText;
      'i_SPSCREXTENDETINFO_KATPARTY.NAME' : PanelInputLine;
      'T_SPSCREXTENDETINFO_Выбрано' : StaticText;
      'T_SPSCREXTENDETINFO_:#3' : StaticText;
      'i_SPSCREXTENDETINFO_SPSOPR.KOLFACT' : PanelInputLine;
      'T_SPSCREXTENDETINFO_Кол.по_документу_:' : StaticText;
      'i_SPSCREXTENDETINFO_SPSOPR.KOL' : PanelInputLine;
      'T_SPSCREXTENDETINFO_Кол.грузовых_мест:' : StaticText;
      'i_SPSCREXTENDETINFO_SPSOPR.KOLGRM' : PanelInputLine;
      'T_SPSCREXTENDETINFO_Налоги' : StaticText;
      i_SPSCREXTENDETINFO_AUTONALOGS : PanelInputLine;
      'T_SPSCREXTENDETINFO_на_сумму' : StaticText;
      i_SPSCREXTENDETINFO_STRSUMNAL : PanelInputLine;
      'b_SPSCREXTENDETINFO_Налоги_к_позиции' : Button;
    }
    SCKAUEDIT : EmbeddedPanel;
  }
  EDITTEXTREPR : InterfaceWindow {
    'Memo_DOCINFO.TEXTDATA' : MemoViewer;
  }
  EDITSOPR : InterfaceWindow {
    SCRHEADER2 : Screen {
      'T_SCRHEADER2_Группа' : StaticText;
      'T_SCRHEADER2_Дескр.' : StaticText;
      'T_SCRHEADER2_Номер' : StaticText;
      'T_SCRHEADER2_Дата' : StaticText;
      'T_SCRHEADER2_Статус' : StaticText;
      'T_SCRHEADER2_Списание_проведено' : StaticText;
      'i_SCRHEADER2_KATSOPR.DESGR' : PanelInputLine;
      'i_SCRHEADER2_KATSOPR.DESCR' : PanelInputLine;
      'i_SCRHEADER2_KATSOPR.NSOPR' : PanelInputLine;
      'i_SCRHEADER2_KATSOPR.DSOPR' : PanelInputLine;
      'i_SCRHEADER2_KATNOTES.NAME' : PanelInputLine;
      i_SCRHEADER2 : PanelInputLine;
      'T_SCRHEADER2_Причина' : StaticText;
      'i_SCRHEADER2_KATSOPR.NAME' : PanelInputLine;
      'b_SCRHEADER2_Списание' : Button;
      'T_SCRHEADER2_Назначение' : StaticText;
      'i_SCRHEADER2_KATNAZNA.NAME' : PanelInputLine;
      'T_SCRHEADER2_Склад' : StaticText;
      'i_SCRHEADER2_KATPODR.NAME' : PanelInputLine;
      'b_SCRHEADER2_Отмена_списания' : Button;
      'T_SCRHEADER2_МОЛ' : StaticText;
      'i_SCRHEADER2_KATMOL.NAME' : PanelInputLine;
      'L_SCRHEADER2_Операция' : Label;
      i_SCRHEADER2_HOZOPERVIEWNAME : PanelInputLine;
      'L_SCRHEADER2_Центр_ответственности' : Label;
      'i_SCRHEADER2_OTVPODR.NAME' : PanelInputLine;
      'b_SCRHEADER2_Примечание' : Button;
      'T_SCRHEADER2_На_сумму' : StaticText;
      i_SCRHEADER2_SUM : PanelInputLine;
      i_SCRHEADER2_VALUT : PanelInputLine;
      i_SCRHEADER2_DOCNALSUMMA : PanelInputLine;
      i_SCRHEADER2_VHNAL : PanelInputLine;
      i_SCRHEADER2_SDOC_NDS : PanelInputLine;
      i_SCRHEADER2_SCHFACTNUM : PanelInputLine;
      i_SCRHEADER2_SDEISUMLABEL : PanelInputLine;
      i_SCRHEADER2_FOSNKOL : PanelInputLine;
      i_SCRHEADER2_SDEI1NAME : PanelInputLine;
      i_SCRHEADER2_FDEI1KOL : PanelInputLine;
      i_SCRHEADER2_SDEI2NAME : PanelInputLine;
      i_SCRHEADER2_FDEI2KOL : PanelInputLine;
    }
    BRSPECIF : Browser {
      'c_BRSPECIF_SPSOPR.NPP_N' : Column;
      'c_BRSPECIF_KATMC.BARKOD_Код_МЦ' : Column;
      'c_BRSPECIF_KATMC.NAME_Наименование_МЦ' : Column;
      'c_BRSPECIF_OTPED_ЕдИзм' : Column;
      'c_BRSPECIF_SPSOPR.KOLFACT_Количество_для_проведения_операции' : Column;
      'c_BRSPECIF_KATDOPED1.SHORTNAME_ДЕИ_1' : Column;
      'c_BRSPECIF_SPDOPED1.KOL_Количество' : Column;
      'c_BRSPECIF_KATDOPED2.SHORTNAME_ДЕИ_2' : Column;
      'c_BRSPECIF_SPDOPED2.KOL_Количество' : Column;
      'c_BRSPECIF_CAPACITY_Объем' : Column;
      'c_BRSPECIF_CAPACITYPRICE_Цена_(объем)' : Column;
      'c_BRSPECIF_PRV_Цена' : Column;
      'c_BRSPECIF_SUMPRICE_Стоимость' : Column;
      'c_BRSPECIF_KATPARTY.NAME_Партия' : Column;
      'c_BRSPECIF_BOXNAME_Ячейка_хранения' : Column;
      'c_BRSPECIF_ATTRVALSP.VSTRING_Причина_списания' : Column;
      'c_BRSPECIF_SALDTUNE.NAME_Объект_ЦУ' : Column;
      'c_BRSPECIF_VSKAU1_КАУ_1' : Column;
      'c_BRSPECIF_VSKAU2_КАУ_2' : Column;
      'c_BRSPECIF_VSKAU3_КАУ_3' : Column;
      'c_BRSPECIF_VSKAU4_КАУ_4' : Column;
      'c_BRSPECIF_VSKAU5_КАУ_5' : Column;
      'c_BRSPECIF_VSKAU6_КАУ_6' : Column;
      'c_BRSPECIF_VSKAU7_КАУ_7' : Column;
      'c_BRSPECIF_VSKAU8_КАУ_8' : Column;
      'c_BRSPECIF_VSKAU9_КАУ_9' : Column;
      'c_BRSPECIF_VSKAU10_КАУ_10' : Column;
    }
    BRSPECIF1 : Browser {
      'c_BRSPECIF1_SPSOPR.NPP_N' : Column;
      'c_BRSPECIF1_KATMC.NAME_Наименование_МЦ' : Column;
      'c_BRSPECIF1_KATMC.BARKOD_Код_МЦ' : Column;
      'c_BRSPECIF1_OTPED_ЕдИзм' : Column;
      'c_BRSPECIF1_SPSOPR.KOLFACT_Количество_для_проведения_операции' : Column;
      'c_BRSPECIF1_KATDOPED1.SHORTNAME_ДЕИ_1' : Column;
      'c_BRSPECIF1_SPDOPED1.KOL_Количество' : Column;
      'c_BRSPECIF1_KATDOPED2.SHORTNAME_ДЕИ_2' : Column;
      'c_BRSPECIF1_SPDOPED2.KOL_Количество' : Column;
      'c_BRSPECIF1_CAPACITY_Объем' : Column;
      'c_BRSPECIF1_CAPACITYPRICE_Цена_(объем)' : Column;
      'c_BRSPECIF1_PRV_Цена' : Column;
      'c_BRSPECIF1_SUMPRICE_Стоимость' : Column;
      'c_BRSPECIF1_KATPARTY.NAME_Партия' : Column;
      'c_BRSPECIF1_BOXNAME_Ячейка_хранения' : Column;
      'c_BRSPECIF1_ATTRVALSP.VSTRING_Причина_списания' : Column;
      'c_BRSPECIF1_SALDTUNE.NAME_Объект_ЦУ' : Column;
      'c_BRSPECIF1_VSKAU1_КАУ_1' : Column;
      'c_BRSPECIF1_VSKAU2_КАУ_2' : Column;
      'c_BRSPECIF1_VSKAU3_КАУ_3' : Column;
      'c_BRSPECIF1_VSKAU4_КАУ_4' : Column;
      'c_BRSPECIF1_VSKAU5_КАУ_5' : Column;
      'c_BRSPECIF1_VSKAU6_КАУ_6' : Column;
      'c_BRSPECIF1_VSKAU7_КАУ_7' : Column;
      'c_BRSPECIF1_VSKAU8_КАУ_8' : Column;
      'c_BRSPECIF1_VSKAU9_КАУ_9' : Column;
      'c_BRSPECIF1_VSKAU10_КАУ_10' : Column;
      'c_BRSPECIF1_SMETAMY_Смета' : Column;
      'c_BRSPECIF1_SMETASPMY_Спецификация_сметы' : Column;
    }
    SCLONGNAME : Screen {
      i_SCLONGNAME : PanelInputLine;
      'i_SCLONGNAME#1' : PanelInputLine;
    }
  }
}
//-----------------------------------------------------------------------------
