object 'L_SOPRDOC::SOPRDOCB' : InterfaceWindow {
  Title = 'Список накладных на прием МЦ';
  Centered = True;
  object BRSELECT : Browser {
    object 'c_BRSELECT_KATSOPR.NSOPR_Номер_накладной' : Column {
      DropSource = True;
    } // c_BRSELECT_KATSOPR.NSOPR_Номер_накладной : Column
  } // BRSELECT : Browser
  object WINPROCESSPRLPRICES : InterfaceWindow {
    object SC : Screen {
      object 'i_SC_KATSOPR.NSOPR' : PanelInputLine {
        Skip = False;
      } // i_SC_KATSOPR.NSOPR : PanelInputLine
    } // SC : Screen
  } // WINPROCESSPRLPRICES : InterfaceWindow
  object EDITNALOGS : InterfaceWindow {
    object BREDITSPDOCNAL : Browser {
      object 'c_BREDITSPDOCNAL_KLVAL.SIMVOLV_Вал.' : Column {
        Skip = False;
      } // c_BREDITSPDOCNAL_KLVAL.SIMVOLV_Вал. : Column
    } // BREDITSPDOCNAL : Browser
  } // EDITNALOGS : InterfaceWindow
  object SPSOPUSLNALOGS : InterfaceWindow {
    object BRSPDOCNALSOPUSL : Browser {
      object 'c_BRSPDOCNALSOPUSL_KLVAL.SIMVOLV_Вал.' : Column {
        Skip = False;
      } // c_BRSPDOCNALSOPUSL_KLVAL.SIMVOLV_Вал. : Column
    } // BRSPDOCNALSOPUSL : Browser
  } // SPSOPUSLNALOGS : InterfaceWindow
  object SPSOPUSLINFO : InterfaceWindow {
    object SCRSPSOPUSLINFO : Screen {
      object i_SCRSPSOPUSLINFO_SUMNALUCH_S : PanelInputLine {
        Visible = False;
      } // i_SCRSPSOPUSLINFO_SUMNALUCH_S : PanelInputLine
      object i_SCRSPSOPUSLINFO_SUMNALUCH : PanelInputLine {
        Visible = False;
      } // i_SCRSPSOPUSLINFO_SUMNALUCH : PanelInputLine
    } // SCRSPSOPUSLINFO : Screen
  } // SPSOPUSLINFO : InterfaceWindow
  object EXTENDETINFO : InterfaceWindow {
    object SCREXTENDETINFO : Screen {
      object i_SCREXTENDETINFO_FIELDINFO : PanelInputLine {
        Visible = False;
      } // i_SCREXTENDETINFO_FIELDINFO : PanelInputLine
      object 'i_SCREXTENDETINFO_KATSOPR.USERFIELD' : PanelInputLine {
        Visible = False;
      } // i_SCREXTENDETINFO_KATSOPR.USERFIELD : PanelInputLine
    } // SCREXTENDETINFO : Screen
  } // EXTENDETINFO : InterfaceWindow
  object SPECIFINFO : InterfaceWindow {
    object SCRSPECIFINFO : Screen {
      object i_SCRSPECIFINFO_SUMNALUCH_S : PanelInputLine {
        Visible = False;
      } // i_SCRSPECIFINFO_SUMNALUCH_S : PanelInputLine
      object i_SCRSPECIFINFO_SUMNALUCH : PanelInputLine {
        Visible = False;
      } // i_SCRSPECIFINFO_SUMNALUCH : PanelInputLine
      object i_SCRSPECIFINFO_FACTORYPROCNAC : PanelInputLine {
        Visible = False;
      } // i_SCRSPECIFINFO_FACTORYPROCNAC : PanelInputLine
      object i_SCRSPECIFINFO_SUMMANADBAVKI : PanelInputLine {
        Visible = False;
      } // i_SCRSPECIFINFO_SUMMANADBAVKI : PanelInputLine
      object i_SCRSPECIFINFO_FACTORYPRICE : PanelInputLine {
        Visible = False;
      } // i_SCRSPECIFINFO_FACTORYPRICE : PanelInputLine
      object i_SCRSPECIFINFO_VALUT2 : PanelInputLine {
        Visible = False;
      } // i_SCRSPECIFINFO_VALUT2 : PanelInputLine
    } // SCRSPECIFINFO : Screen
  } // SPECIFINFO : InterfaceWindow
  object EDITSOPR : InterfaceWindow {
    Title = 'Редактирование накладной на получение МЦ';
    Centered = True;
    object SCRHEADER : Screen {
      object 'i_SCRHEADER_KATSOPR.NSOPR' : PanelInputLine {
        DropSource = True;
      } // i_SCRHEADER_KATSOPR.NSOPR : PanelInputLine
      object 'i_SCRHEADER_KATSOPR.DPRICE' : PanelInputLine {
        Skip = False;
      } // i_SCRHEADER_KATSOPR.DPRICE : PanelInputLine
      object 'T_SCRHEADER_Тара' : StaticText {
        Hidden = True;
      } // T_SCRHEADER_Тара : StaticText
      object 'i_SCRHEADER_KATSOPR.TARAVOZ' : PanelInputLine {
        Hidden = True;
      } // i_SCRHEADER_KATSOPR.TARAVOZ : PanelInputLine
      object 'T_SCRHEADER_Транспортировка' : StaticText {
        Hidden = True;
      } // T_SCRHEADER_Транспортировка : StaticText
      object 'i_SCRHEADER_KATSOPR.TYPEDOC' : PanelInputLine {
        Hidden = True;
      } // i_SCRHEADER_KATSOPR.TYPEDOC : PanelInputLine
      object 'T_SCRHEADER_Единица_подвижного_состава' : StaticText {
        Hidden = True;
      } // T_SCRHEADER_Единица_подвижного_состава : StaticText
      object 'i_SCRHEADER_MOVECELLUZBEK.NAME' : PanelInputLine {
        Visible = False;
      } // i_SCRHEADER_MOVECELLUZBEK.NAME : PanelInputLine
      object 'T_SCRHEADER_N_вагона' : StaticText {
        Hidden = True;
      } // T_SCRHEADER_N_вагона : StaticText
      object 'i_SCRHEADER_KATSOPR.NVAGON' : PanelInputLine {
        Visible = False;
      } // i_SCRHEADER_KATSOPR.NVAGON : PanelInputLine
      object i_SCRHEADER_DOCUCHNDS : PanelInputLine {
        Origin_X = 9;
        Origin_Y = 170;
      } // i_SCRHEADER_DOCUCHNDS : PanelInputLine
      object i_SCRHEADER_SCHFACTNUM : PanelInputLine {
        Origin_X = 163;
        Origin_Y = 171;
      } // i_SCRHEADER_SCHFACTNUM : PanelInputLine
      object i_SCRHEADER_SDEISUMLABEL : PanelInputLine {
        Visible = False;
      } // i_SCRHEADER_SDEISUMLABEL : PanelInputLine
      object i_SCRHEADER_FOSNKOL : PanelInputLine {
        Visible = False;
      } // i_SCRHEADER_FOSNKOL : PanelInputLine
      object i_SCRHEADER_SDEI1NAME : PanelInputLine {
        Visible = False;
      } // i_SCRHEADER_SDEI1NAME : PanelInputLine
      object i_SCRHEADER_FDEI1KOL : PanelInputLine {
        Visible = False;
      } // i_SCRHEADER_FDEI1KOL : PanelInputLine
      object i_SCRHEADER_SDEI2NAME : PanelInputLine {
        Visible = False;
      } // i_SCRHEADER_SDEI2NAME : PanelInputLine
      object i_SCRHEADER_FDEI2KOL : PanelInputLine {
        Visible = False;
      } // i_SCRHEADER_FDEI2KOL : PanelInputLine
      // Информация: объект "'ExtAttr: KATSOPR,28147497671065631'" типа PanelInputLine не найден в базовой конфигурации!
      object 'ExtAttr: KATSOPR,28147497671065631' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        PickButton = True;
        CalcButton = False;
        Calendar = False;
        LessNull = False;
        StatusCtx = 150;
        Strings = ( // Список строк
        )
        StringsNull = 0;
        HelpLine = '';
        FieldName = 'ExtAttr: KATSOPR,28147497671065631';
        DefaultValue = '';
        Origin_X = 10;
        Origin_Y = 212;
        Size_X = 377;
        Size_Y = 14;
        TextAlign = 0;
        SpinButton = False;
        SpinInc = 0.0;
        SpinMin = 0.0;
        SpinMax = 0.0;
        NoStatic = False;
        EnumValues = ( // Список целых
        )
        PassiveFormat = '';
        Points = 0;
        MaxLen = 255;
        PrecisionVarName = '';
        HistoryID = 0;
        DropTarget = False;
        DropSource = False;
      } // ExtAttr: KATSOPR,28147497671065631 : PanelInputLine
      // Информация: объект "'LbExtAttr: KATSOPR,28147497671065631'" типа Label не найден в базовой конфигурации!
      object 'LbExtAttr: KATSOPR,28147497671065631' : Label {
        Original = False;
        Title = 'Направление расходов';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 16;
        Origin_Y = 194;
        Size_X = 133;
        Size_Y = 14;
      } // LbExtAttr: KATSOPR,28147497671065631 : Label
      // Информация: объект "'ExtAttr: KATSOPR,28147497671066155'" типа PanelInputLine не найден в базовой конфигурации!
      object 'ExtAttr: KATSOPR,28147497671066155' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        PickButton = True;
        CalcButton = False;
        Calendar = False;
        LessNull = False;
        StatusCtx = 150;
        Strings = ( // Список строк
        )
        StringsNull = 0;
        HelpLine = '';
        FieldName = 'ExtAttr: KATSOPR,28147497671066155';
        DefaultValue = '';
        Origin_X = 402;
        Origin_Y = 212;
        Size_X = 381;
        Size_Y = 14;
        TextAlign = 0;
        SpinButton = False;
        SpinInc = 0.0;
        SpinMin = 0.0;
        SpinMax = 0.0;
        NoStatic = False;
        EnumValues = ( // Список целых
        )
        PassiveFormat = '';
        Points = 0;
        MaxLen = 255;
        PrecisionVarName = '';
        HistoryID = 0;
        DropTarget = False;
        DropSource = False;
      } // ExtAttr: KATSOPR,28147497671066155 : PanelInputLine
      // Информация: объект "'LbExtAttr: KATSOPR,28147497671066155'" типа Label не найден в базовой конфигурации!
      object 'LbExtAttr: KATSOPR,28147497671066155' : Label {
        Original = False;
        Title = 'Объекты строительства';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 411;
        Origin_Y = 194;
        Size_X = 140;
        Size_Y = 14;
      } // LbExtAttr: KATSOPR,28147497671066155 : Label
    } // SCRHEADER : Screen
    object BRBYNAME : Browser {
      object 'c_BRBYNAME_OLDKOLFACT_Количество_cтарое' : Column {
        Visible = False;
      } // c_BRBYNAME_OLDKOLFACT_Количество_cтарое : Column
      object 'c_BRBYNAME_OLDPRV_Цена_старая' : Column {
        Visible = False;
      } // c_BRBYNAME_OLDPRV_Цена_старая : Column
      object 'c_BRBYNAME_OLDSUMPRICE_Стоимость_старая' : Column {
        Visible = False;
      } // c_BRBYNAME_OLDSUMPRICE_Стоимость_старая : Column
      object 'c_BRBYNAME_KATDOPED1.SHORTNAME_ДЕИ_1' : Column {
        Visible = False;
      } // c_BRBYNAME_KATDOPED1.SHORTNAME_ДЕИ_1 : Column
      object 'c_BRBYNAME_SPDOPED1.KOL_Количество' : Column {
        Visible = False;
      } // c_BRBYNAME_SPDOPED1.KOL_Количество : Column
      object 'c_BRBYNAME_KATDOPED2.SHORTNAME_ДЕИ_2' : Column {
        Visible = False;
      } // c_BRBYNAME_KATDOPED2.SHORTNAME_ДЕИ_2 : Column
      object 'c_BRBYNAME_SPDOPED2.KOL_Количество' : Column {
        Visible = False;
      } // c_BRBYNAME_SPDOPED2.KOL_Количество : Column
      object 'c_BRBYNAME_CAPACITY_Объем' : Column {
        Visible = False;
      } // c_BRBYNAME_CAPACITY_Объем : Column
      object 'c_BRBYNAME_CAPACITYPRICE_Цена_(объем)' : Column {
        Visible = False;
      } // c_BRBYNAME_CAPACITYPRICE_Цена_(объем) : Column
      object 'c_BRBYNAME_FACTORYPROCNAC_%' : Column {
        Visible = False;
      } // c_BRBYNAME_FACTORYPROCNAC_% : Column
      object 'c_BRBYNAME_FACTORYPRICE_Заводская_цена' : Column {
        Visible = False;
      } // c_BRBYNAME_FACTORYPRICE_Заводская_цена : Column
      object 'c_BRBYNAME_VSKAU1_КАУ_1' : Column {
        Index = 21;
        DefaultWidth = 36;
      } // c_BRBYNAME_VSKAU1_КАУ_1 : Column
      object 'c_BRBYNAME_SPSOPR.RVPRICE_Цена_(вал)' : Column {
        Index = 22;
      } // c_BRBYNAME_SPSOPR.RVPRICE_Цена_(вал) : Column
      object 'c_BRBYNAME_BOXNAME_Ячейка_хранения' : Column {
        Visible = False;
      } // c_BRBYNAME_BOXNAME_Ячейка_хранения : Column
      object 'c_BRBYNAME_KLVAL.SIMVOLV_Вал.' : Column {
        Index = 24;
      } // c_BRBYNAME_KLVAL.SIMVOLV_Вал. : Column
      object 'c_BRBYNAME_SPSOPR.NVAGON_Номер_вагона' : Column {
        Index = 25;
      } // c_BRBYNAME_SPSOPR.NVAGON_Номер_вагона : Column
      object 'c_BRBYNAME_SPSOPR.NETTO_Вес_нетто' : Column {
        Index = 26;
      } // c_BRBYNAME_SPSOPR.NETTO_Вес_нетто : Column
      object 'c_BRBYNAME_SPSOPR.MTARA_Вес_тары' : Column {
        Index = 27;
      } // c_BRBYNAME_SPSOPR.MTARA_Вес_тары : Column
      object 'c_BRBYNAME_TTN_MASSA_ALL_Вес_брутто' : Column {
        Index = 28;
      } // c_BRBYNAME_TTN_MASSA_ALL_Вес_брутто : Column
      object 'c_BRBYNAME_KATPARTY.NAME_Партия_матценности' : Column {
        Index = 29;
      } // c_BRBYNAME_KATPARTY.NAME_Партия_матценности : Column
      object 'c_BRBYNAME_NUMDOOSNV_ДО' : Column {
        Visible = False;
      } // c_BRBYNAME_NUMDOOSNV_ДО : Column
      object 'c_BRBYNAME_SPSOPR.NKVIT_Номер_ж/д_квитанции' : Column {
        Index = 31;
      } // c_BRBYNAME_SPSOPR.NKVIT_Номер_ж/д_квитанции : Column
      object 'c_BRBYNAME_SALDTUNE.NAME_Объект_ЦУ' : Column {
        Index = 32;
        DefaultWidth = 71;
      } // c_BRBYNAME_SALDTUNE.NAME_Объект_ЦУ : Column
    } // BRBYNAME : Browser
    object BRSOPUSL : Browser {
      object 'c_BRSOPUSL_OLDKOLUSL_Старый_процент' : Column {
        Visible = False;
      } // c_BRSOPUSL_OLDKOLUSL_Старый_процент : Column
      object 'c_BRSOPUSL_OLDPRICEUSL_Старая_сумма' : Column {
        Visible = False;
      } // c_BRSOPUSL_OLDPRICEUSL_Старая_сумма : Column
    } // BRSOPUSL : Browser
  } // EDITSOPR : InterfaceWindow
} // L_SOPRDOC::SOPRDOCB : InterfaceWindow
//-----------------------------------------------------------------------------
