object 'Z_ZAR::FIXEDADDITIONALPAYMENTS' : InterfaceWindow {
  Title = 'Постоянные доплаты (несколько подразделений (152 из 550))';
  object DOPLATABROWSE : Browser {
    object 'c_DOPLATABROWSE_DOPLATA.STRTABN_Таб.N' : Column {
      Visible = False;
    } // c_DOPLATABROWSE_DOPLATA.STRTABN_Таб.N : Column
    // Информация: объект "'Field: DOPLATA.DATAN'" типа Column не найден в базовой конфигурации!
    object 'Field: DOPLATA.DATAN' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = False;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 0;
      PickButton = False;
      CalcButton = False;
      Calendar = True;
      Title = 'Дата начала';
      HelpLine = '';
      FieldName = 'Field: DOPLATA.DATAN';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Index = 7;
      DefaultWidth = 11;
      TextAlign = 0;
      SpinButton = False;
      SpinInc = 0.0;
      SpinMin = 0.0;
      SpinMax = 0.0;
      NoAutoSize = False;
      EnumValues = ( // Список целых
      )
      PassiveFormat = '';
      Points = 0;
      MaxLen = 10;
      PrecisionVarName = '';
      HistoryID = 0;
      DropTarget = False;
      DropSource = False;
      FontBold = 'Значение не определено или не известно.';
      FontItalic = 'Значение не определено или не известно.';
      FontColor = 'Значение не определено или не известно.';
      FontBackColor = 'Значение не определено или не известно.';
      InputMask = 'Значение не определено или не известно.';
    } // Field: DOPLATA.DATAN : Column
    // Информация: объект "'Field: DOPLATA.DATOK'" типа Column не найден в базовой конфигурации!
    object 'Field: DOPLATA.DATOK' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = False;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 0;
      PickButton = False;
      CalcButton = False;
      Calendar = True;
      Title = 'Дата окончания';
      HelpLine = '';
      FieldName = 'Field: DOPLATA.DATOK';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Index = 8;
      DefaultWidth = 11;
      TextAlign = 0;
      SpinButton = False;
      SpinInc = 0.0;
      SpinMin = 0.0;
      SpinMax = 0.0;
      NoAutoSize = False;
      EnumValues = ( // Список целых
      )
      PassiveFormat = '';
      Points = 0;
      MaxLen = 10;
      PrecisionVarName = '';
      HistoryID = 0;
      DropTarget = False;
      DropSource = False;
      FontBold = 'Значение не определено или не известно.';
      FontItalic = 'Значение не определено или не известно.';
      FontColor = 'Значение не определено или не известно.';
      FontBackColor = 'Значение не определено или не известно.';
      InputMask = 'Значение не определено или не известно.';
    } // Field: DOPLATA.DATOK : Column
    object 'c_DOPLATABROWSE_DOPLATA.PROC_Процент' : Column {
      Index = 9;
    } // c_DOPLATABROWSE_DOPLATA.PROC_Процент : Column
  } // DOPLATABROWSE : Browser
  object 'Memo_NOTES.NOTE' : MemoViewer {
    StatusCtx = 366;
  } // Memo_NOTES.NOTE : MemoViewer
  object FIXEDADDPAYMENTSTABLEFORMWINDOW : InterfaceWindow {
    Title = 'Постоянные доплаты (несколько подразделений (152 из 550))';
    object RRR : Browser {
      object 'c_RRR_DOPLATA.STRTABN_Таб.N' : Column {
        Visible = False;
      } // c_RRR_DOPLATA.STRTABN_Таб.N : Column
    } // RRR : Browser
  } // FIXEDADDPAYMENTSTABLEFORMWINDOW : InterfaceWindow
  object FIXEDADDPAYMENTSBLANKFORMWINDOW : InterfaceWindow {
    Title = 'Постоянные доплаты (несколько подразделений (152 из 550))';
  } // FIXEDADDPAYMENTSBLANKFORMWINDOW : InterfaceWindow
} // Z_ZAR::FIXEDADDITIONALPAYMENTS : InterfaceWindow
//-----------------------------------------------------------------------------
