object 'F_SFO::GETPERSCARD' : InterfaceWindow {
  Title = 'Личные карточки учета спецодежды (все подразделения)';
  Centered = True;
  object BRPERSCARD : Browser {
    object 'c_BRPERSCARD_LSCHET.STRTABN_Таб._N' : Column {
      Visible = False;
    } // c_BRPERSCARD_LSCHET.STRTABN_Таб._N : Column
  } // BRPERSCARD : Browser
  object BRCURLSCHET : Browser {
    object 'c_BRCURLSCHET_CURLSCHET.STRTABN_Таб._N' : Column {
      Visible = False;
    } // c_BRCURLSCHET_CURLSCHET.STRTABN_Таб._N : Column
  } // BRCURLSCHET : Browser
  object EDITPERSCARD : InterfaceWindow {
    Title = 'Личная карточка учета СФО (в носке)';
    Centered = True;
    object BRPERSSFO : Browser {
      object 'c_BRPERSSFO_ISMATERIAL_Ф' : Column {
        Visible = False;
      } // c_BRPERSSFO_ISMATERIAL_Ф : Column
      object 'c_BRPERSSFO_SHPERSSFO.GIVEDATE_Выдано' : Column {
        Hidden = True;
      } // c_BRPERSSFO_SHPERSSFO.GIVEDATE_Выдано : Column
      object 'c_BRPERSSFO_SHPERSSFO.EXPLDATE_Экспл.' : Column {
        Title = 'Начало';
      } // c_BRPERSSFO_SHPERSSFO.EXPLDATE_Экспл. : Column
      // Информация: объект "'Field: SHMBPIN.DATEEND'" типа Column не найден в базовой конфигурации!
      object 'Field: SHMBPIN.DATEEND' : Column {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = True;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        StatusCtx = 16;
        PickButton = False;
        CalcButton = False;
        Calendar = True;
        Title = 'Окончание';
        HelpLine = 'Окончание';
        FieldName = 'Field: SHMBPIN.DATEEND';
        DefaultValue = '';
        Strings = ( // Список строк
        )
        StringsNull = 0;
        Index = 6;
        DefaultWidth = 11;
        TextAlign = 0;
        SpinButton = False;
        SpinInc = 0.0;
        SpinMin = 0.0;
        SpinMax = 0.0;
        NoAutoSize = False;
        EnumValues = ( // Список целых
        )
        PassiveFormat = '';
        Points = 0;
        MaxLen = 10;
        PrecisionVarName = '';
        HistoryID = 0;
        DropTarget = False;
        DropSource = False;
      } // Field: SHMBPIN.DATEEND : Column
      object 'c_BRPERSSFO_SHPERSSFO.CURKOL_Кол' : Column {
        Index = 7;
      } // c_BRPERSSFO_SHPERSSFO.CURKOL_Кол : Column
      object 'c_BRPERSSFO_SHSROK_Срок' : Column {
        Index = 8;
      } // c_BRPERSSFO_SHSROK_Срок : Column
      object 'c_BRPERSSFO_SHSFOSUMMA_Стоимость' : Column {
        Index = 9;
      } // c_BRPERSSFO_SHSFOSUMMA_Стоимость : Column
      object 'c_BRPERSSFO_SFOSTATBR_С' : Column {
        HelpLine = 'Состояние предметов : "Н"-носится, "В"-возвращено, "У"-утеряно, "С"-списано, "К"-компенсация';
        Index = 10;
      } // c_BRPERSSFO_SFOSTATBR_С : Column
      object 'c_BRPERSSFO_SFOBALANS_Б' : Column {
        Index = 11;
      } // c_BRPERSSFO_SFOBALANS_Б : Column
      object 'c_BRPERSSFO_ISBYNORM_Н' : Column {
        Index = 12;
      } // c_BRPERSSFO_ISBYNORM_Н : Column
    } // BRPERSSFO : Browser
    object SCPERSSFOCOMPENS : Screen {
      object 'L_SCPERSSFOCOMPENS_Сумма_компенсации' : Label {
        Visible = False;
      } // L_SCPERSSFOCOMPENS_Сумма_компенсации : Label
      object i_SCPERSSFOCOMPENS_DSUMCOMPENS : PanelInputLine {
        Visible = False;
      } // i_SCPERSSFOCOMPENS_DSUMCOMPENS : PanelInputLine
      object 'L_SCPERSSFOCOMPENS_Стоимость_предметов' : Label {
        Visible = False;
      } // L_SCPERSSFOCOMPENS_Стоимость_предметов : Label
      object i_SCPERSSFOCOMPENS_DSTOIMPREDM : PanelInputLine {
        Visible = False;
      } // i_SCPERSSFOCOMPENS_DSTOIMPREDM : PanelInputLine
    } // SCPERSSFOCOMPENS : Screen
  } // EDITPERSCARD : InterfaceWindow
} // F_SFO::GETPERSCARD : InterfaceWindow
//-----------------------------------------------------------------------------
