object 'F_OSOPER::CALCAMOR' : InterfaceWindow {
  Title = 'Амортизация за Сентябрь 2011 (Бухгалтерский учет)';
  Centered = True;
    // Информация: объект "'Field: SOPRHOZ.DESGR'" типа Column не найден в базовой конфигурации!
  object BRSPMOVE : Browser {
    object 'Field: SOPRHOZ.DESGR' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 0;
      PickButton = False;
      CalcButton = False;
      Calendar = False;
      Title = 'Группа.';
      HelpLine = '';
      FieldName = 'Field: SOPRHOZ.DESGR';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Index = 1;
      DefaultWidth = 5;
      TextAlign = 0;
      SpinButton = False;
      SpinInc = 0.0;
      SpinMin = 0.0;
      SpinMax = 0.0;
      NoAutoSize = False;
      EnumValues = ( // Список целых
      )
      PassiveFormat = '';
      Points = 0;
      MaxLen = 4;
      PrecisionVarName = '';
      HistoryID = 0;
      DropTarget = False;
      DropSource = False;
      FontBold = 'Значение не определено или не известно.';
      FontItalic = 'Значение не определено или не известно.';
      FontColor = 'Значение не определено или не известно.';
      FontBackColor = 'Значение не определено или не известно.';
      InputMask = 'Значение не определено или не известно.';
    } // Field: SOPRHOZ.DESGR : Column
    // Информация: объект "'Field: SOPRHOZ.DESCR'" типа Column не найден в базовой конфигурации!
    object 'Field: SOPRHOZ.DESCR' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 0;
      PickButton = False;
      CalcButton = False;
      Calendar = False;
      Title = 'Дескриптор.';
      HelpLine = '';
      FieldName = 'Field: SOPRHOZ.DESCR';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Index = 2;
      DefaultWidth = 10;
      TextAlign = 0;
      SpinButton = False;
      SpinInc = 0.0;
      SpinMin = 0.0;
      SpinMax = 0.0;
      NoAutoSize = False;
      EnumValues = ( // Список целых
      )
      PassiveFormat = '';
      Points = 0;
      MaxLen = 20;
      PrecisionVarName = '';
      HistoryID = 0;
      DropTarget = False;
      DropSource = False;
      FontBold = 'Значение не определено или не известно.';
      FontItalic = 'Значение не определено или не известно.';
      FontColor = 'Значение не определено или не известно.';
      FontBackColor = 'Значение не определено или не известно.';
      InputMask = 'Значение не определено или не известно.';
    } // Field: SOPRHOZ.DESCR : Column
    object 'c_BRSPMOVE_HOZOPERO.NAME1_Хозоперация_начисления_амортизации' : Column {
      Index = 3;
    } // c_BRSPMOVE_HOZOPERO.NAME1_Хозоперация_начисления_амортизации : Column
    object 'c_BRSPMOVE_SPMOVE.NEWSUMIZN_Износ_за_период' : Column {
      Title = ^C'Износ за месяц';
      HelpLine = 'Сумма начисленного износа в отчетном периоде';
      Index = 4;
    } // c_BRSPMOVE_SPMOVE.NEWSUMIZN_Износ_за_период : Column
  } // BRSPMOVE : Browser
} // F_OSOPER::CALCAMOR : InterfaceWindow
