object 'F_OBOROT::EDITOBOROT' : InterfaceWindow {
  Title = 'Проводки (Типовой план счетов ТНФ (рабочий))';
  EmbName = 'ALLEDITOBOROT->F_OBOROT::EditOborot';
  object WISCREENFULL : InterfaceWindow {
    Centered = True;
    object SCREENFULL : Screen {
      object 'i_SCREENFULL_FILIAL.NAME' : PanelInputLine {
        Visible = False;
      } // i_SCREENFULL_FILIAL.NAME : PanelInputLine
      object i_SCREENFULL_DBCHISLO5 : PanelInputLine {
        Visible = False;
      } // i_SCREENFULL_DBCHISLO5 : PanelInputLine
      object i_SCREENFULL_DBKAU5 : PanelInputLine {
        Visible = False;
      } // i_SCREENFULL_DBKAU5 : PanelInputLine
      object i_SCREENFULL_DBCHISLO6 : PanelInputLine {
        Visible = False;
      } // i_SCREENFULL_DBCHISLO6 : PanelInputLine
      object i_SCREENFULL_DBKAU6 : PanelInputLine {
        Visible = False;
      } // i_SCREENFULL_DBKAU6 : PanelInputLine
      object i_SCREENFULL_KRCHISLO2 : PanelInputLine {
        Visible = False;
      } // i_SCREENFULL_KRCHISLO2 : PanelInputLine
      object i_SCREENFULL_KRKAU2 : PanelInputLine {
        Visible = False;
      } // i_SCREENFULL_KRKAU2 : PanelInputLine
      object i_SCREENFULL_KRCHISLO3 : PanelInputLine {
        Visible = False;
      } // i_SCREENFULL_KRCHISLO3 : PanelInputLine
      object i_SCREENFULL_KRKAU3 : PanelInputLine {
        Visible = False;
      } // i_SCREENFULL_KRKAU3 : PanelInputLine
      object i_SCREENFULL_KRCHISLO4 : PanelInputLine {
        Visible = False;
      } // i_SCREENFULL_KRCHISLO4 : PanelInputLine
      object i_SCREENFULL_KRKAU4 : PanelInputLine {
        Visible = False;
      } // i_SCREENFULL_KRKAU4 : PanelInputLine
      object i_SCREENFULL_KRCHISLO5 : PanelInputLine {
        Visible = False;
      } // i_SCREENFULL_KRCHISLO5 : PanelInputLine
      object i_SCREENFULL_KRKAU5 : PanelInputLine {
        Visible = False;
      } // i_SCREENFULL_KRKAU5 : PanelInputLine
      object i_SCREENFULL_KRCHISLO6 : PanelInputLine {
        Visible = False;
      } // i_SCREENFULL_KRCHISLO6 : PanelInputLine
      object i_SCREENFULL_KRKAU6 : PanelInputLine {
        Visible = False;
      } // i_SCREENFULL_KRKAU6 : PanelInputLine
      object 'i_SCREENFULL_OBOROT.KOL' : PanelInputLine {
        Skip = True;
      } // i_SCREENFULL_OBOROT.KOL : PanelInputLine
      // Информация: объект "'Field: OBOROT.DATAOT'" типа PanelInputLine не найден в базовой конфигурации!
      object 'Field: OBOROT.DATAOT' : PanelInputLine {
        Original = False;
        Visible = False;
        Hidden = False;
        Protect = False;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        PickButton = False;
        CalcButton = False;
        Calendar = True;
        LessNull = False;
        StatusCtx = 0;
        Strings = ( // Список строк
        )
        StringsNull = 0;
        HelpLine = 'Дата прошлого периода';
        FieldName = 'Field: OBOROT.DATAOT';
        DefaultValue = '';
        Origin_X = 431;
        Origin_Y = 424;
        Size_X = 101;
        Size_Y = 14;
        TextAlign = 0;
        SpinButton = False;
        SpinInc = 0.0;
        SpinMin = 0.0;
        SpinMax = 0.0;
        NoStatic = False;
        EnumValues = ( // Список целых
        )
        PassiveFormat = '';
        Points = 0;
        MaxLen = 10;
        PrecisionVarName = '';
        HistoryID = 0;
        DropTarget = False;
        DropSource = False;
        FontBold = 'Значение не определено или не известно.';
        FontItalic = 'Значение не определено или не известно.';
        FontColor = 'Значение не определено или не известно.';
        FontBackColor = 'Значение не определено или не известно.';
        InputMask = 'Значение не определено или не известно.';
      } // Field: OBOROT.DATAOT : PanelInputLine
      // Информация: объект "'LbField: OBOROT.DATAOT'" типа Label не найден в базовой конфигурации!
      object 'LbField: OBOROT.DATAOT' : Label {
        Original = False;
        Title = 'Дата прошлого периода';
        Visible = False;
        Hidden = False;
        HelpLine = '';
        Origin_X = 429;
        Origin_Y = 402;
        Size_X = 140;
        Size_Y = 14;
      } // LbField: OBOROT.DATAOT : Label
      // Информация: объект "'Field: OBOROT.DATAOT#1'" типа PanelInputLine не найден в базовой конфигурации!
      object 'Field: OBOROT.DATAOT#1' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = False;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        PickButton = False;
        CalcButton = False;
        Calendar = True;
        LessNull = False;
        StatusCtx = 0;
        Strings = ( // Список строк
        )
        StringsNull = 0;
        HelpLine = 'Дата прошлого периода';
        FieldName = 'Field: OBOROT.DATAOT';
        DefaultValue = '';
        Origin_X = 430;
        Origin_Y = 423;
        Size_X = 101;
        Size_Y = 14;
        TextAlign = 0;
        SpinButton = False;
        SpinInc = 0.0;
        SpinMin = 0.0;
        SpinMax = 0.0;
        NoStatic = False;
        EnumValues = ( // Список целых
        )
        PassiveFormat = '';
        Points = 0;
        MaxLen = 10;
        PrecisionVarName = '';
        HistoryID = 0;
        DropTarget = False;
        DropSource = False;
        FontBold = 'Значение не определено или не известно.';
        FontItalic = 'Значение не определено или не известно.';
        FontColor = 'Значение не определено или не известно.';
        FontBackColor = 'Значение не определено или не известно.';
        InputMask = 'Значение не определено или не известно.';
      } // Field: OBOROT.DATAOT#1 : PanelInputLine
      // Информация: объект "'LbField: OBOROT.DATAOT#1'" типа Label не найден в базовой конфигурации!
      object 'LbField: OBOROT.DATAOT#1' : Label {
        Original = False;
        Title = 'Дата прошлого периода';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 429;
        Origin_Y = 404;
        Size_X = 140;
        Size_Y = 14;
      } // LbField: OBOROT.DATAOT#1 : Label
    } // SCREENFULL : Screen
    object SCREENTECH : Screen {
      object i_SCREENTECH_DBKAU5 : PanelInputLine {
        Visible = False;
      } // i_SCREENTECH_DBKAU5 : PanelInputLine
      object i_SCREENTECH_DBKAU6 : PanelInputLine {
        Visible = False;
      } // i_SCREENTECH_DBKAU6 : PanelInputLine
      object i_SCREENTECH_KRKAU2 : PanelInputLine {
        Visible = False;
      } // i_SCREENTECH_KRKAU2 : PanelInputLine
      object i_SCREENTECH_KRKAU3 : PanelInputLine {
        Visible = False;
      } // i_SCREENTECH_KRKAU3 : PanelInputLine
      object i_SCREENTECH_KRKAU4 : PanelInputLine {
        Visible = False;
      } // i_SCREENTECH_KRKAU4 : PanelInputLine
      object i_SCREENTECH_KRKAU5 : PanelInputLine {
        Visible = False;
      } // i_SCREENTECH_KRKAU5 : PanelInputLine
      object i_SCREENTECH_KRKAU6 : PanelInputLine {
        Visible = False;
      } // i_SCREENTECH_KRKAU6 : PanelInputLine
    } // SCREENTECH : Screen
  } // WISCREENFULL : InterfaceWindow
  object WISCREENSHORT : InterfaceWindow {
    object SCREENSHORT : Screen {
      object 'L_SCREENSHORT_Дата_отчета' : Label {
        Visible = False;
      } // L_SCREENSHORT_Дата_отчета : Label
      object 'i_SCREENSHORT_OBOROT.DATAOT' : PanelInputLine {
        Visible = False;
      } // i_SCREENSHORT_OBOROT.DATAOT : PanelInputLine
      object 'i_SCREENSHORT_OBOROT.KOL' : PanelInputLine {
        Skip = True;
      } // i_SCREENSHORT_OBOROT.KOL : PanelInputLine
    } // SCREENSHORT : Screen
  } // WISCREENSHORT : InterfaceWindow
} // F_OBOROT::EDITOBOROT : InterfaceWindow
//-----------------------------------------------------------------------------
object 'F_GETAN::GTCGKAU_OBJBUILD' : InterfaceWindow {
  Title = 'Объекты строительства';
  Centered = True;
  object BRGETKAU : Browser {
    StatusCtx = 6936;
    object c_BRGETKAU_PICKED_V : Column {
      Visible = False;
    } // c_BRGETKAU_PICKED_V : Column
    // Информация: объект "'GetKauReffname('KATSTROY',KATSTROY.nrec,20009)#1'" типа Column не найден в базовой конфигурации!
    object 'GetKauReffname(''KATSTROY'',KATSTROY.nrec,20009)#1' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 0;
      PickButton = False;
      CalcButton = False;
      Calendar = False;
      Title = 'Вид деятельности';
      HelpLine = 'Вид деятельности';
      FieldName = 'GetKauReffname(''KATSTROY'',KATSTROY.nrec,20009)';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Index = 3;
      DefaultWidth = 41;
      TextAlign = 0;
      SpinButton = False;
      SpinInc = 0.0;
      SpinMin = 0.0;
      SpinMax = 0.0;
      NoAutoSize = False;
      EnumValues = ( // Список целых
      )
      PassiveFormat = '';
      Points = 0;
      MaxLen = 255;
      PrecisionVarName = '';
      HistoryID = 0;
      DropTarget = False;
      DropSource = False;
      FontBold = 'Значение не определено или не известно.';
      FontItalic = 'Значение не определено или не известно.';
      FontColor = 'Значение не определено или не известно.';
      FontBackColor = 'Значение не определено или не известно.';
      InputMask = 'Значение не определено или не известно.';
    } // GetKauReffname('KATSTROY',KATSTROY.nrec,20009)#1 : Column
    object 'c_BRGETKAU_KATPLACE.NAME_Место_строительства' : Column {
      Index = 4;
    } // c_BRGETKAU_KATPLACE.NAME_Место_строительства : Column
    object 'c_BRGETKAU_KATSTROY.ABBR_Аббревиатура' : Column {
      Index = 5;
    } // c_BRGETKAU_KATSTROY.ABBR_Аббревиатура : Column
    object 'c_BRGETKAU_KATNOTES.NAME_Состояние' : Column {
      Index = 6;
    } // c_BRGETKAU_KATNOTES.NAME_Состояние : Column
    object c_BRGETKAU : Column {
      Index = 7;
    } // c_BRGETKAU : Column
  } // BRGETKAU : Browser
  object TRGETKAU : TreeBrowser {
    StatusCtx = 6928;
    object c_TRGETKAU_PICKED_V : TreeColumn {
      Visible = False;
    } // c_TRGETKAU_PICKED_V : TreeColumn
    // Информация: объект "'GetKauReffname('KATSTROY',KATSTROY.nrec,20009)'" типа TreeColumn не найден в базовой конфигурации!
    object 'GetKauReffname(''KATSTROY'',KATSTROY.nrec,20009)' : TreeColumn {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 0;
      PickButton = False;
      CalcButton = False;
      Calendar = False;
      Title = 'Вид деятельности';
      HelpLine = 'Вид деятельности';
      FieldName = 'GetKauReffname(''KATSTROY'',KATSTROY.nrec,20009)';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Size_X = 616;
      Index = 3;
      DefaultWidth = 44;
      TextAlign = 0;
      SpinButton = False;
      SpinInc = 0.0;
      SpinMin = 0.0;
      SpinMax = 0.0;
      NoAutoSize = False;
      EnumValues = ( // Список целых
      )
      PassiveFormat = '';
      Points = 0;
      MaxLen = 255;
      PrecisionVarName = '';
      HistoryID = 0;
      DropTarget = False;
      DropSource = False;
    } // GetKauReffname('KATSTROY',KATSTROY.nrec,20009) : TreeColumn
    object 'c_TRGETKAU_KATPLACE.NAME_Место_строительства' : TreeColumn {
      Index = 4;
    } // c_TRGETKAU_KATPLACE.NAME_Место_строительства : TreeColumn
    object 'c_TRGETKAU_KATSTROY.ABBR_Аббревиатура' : TreeColumn {
      Index = 5;
    } // c_TRGETKAU_KATSTROY.ABBR_Аббревиатура : TreeColumn
    object 'c_TRGETKAU_KATNOTES.NAME_Состояние' : TreeColumn {
      Index = 6;
    } // c_TRGETKAU_KATNOTES.NAME_Состояние : TreeColumn
  } // TRGETKAU : TreeBrowser
  object SCEXTENDED : Screen {
    object cb_SCEXTENDED_PICKSUBORD : PanelCheckBox {
      Visible = False;
    } // cb_SCEXTENDED_PICKSUBORD : PanelCheckBox
  } // SCEXTENDED : Screen
} // F_GETAN::GTCGKAU_OBJBUILD : InterfaceWindow
//-----------------------------------------------------------------------------
object 'F_OBOROT::EDITOBOROT' : InterfaceWindow {
  Title = 'Проводки (Типовой план счетов ТНФ (рабочий))';
  EmbName = 'OBOROT->F_OBOROT::EditOborot';
  object WISCREENFULL : InterfaceWindow {
    Centered = True;
    object SCREENFULL : Screen {
      object 'i_SCREENFULL_FILIAL.NAME' : PanelInputLine {
        Visible = False;
      } // i_SCREENFULL_FILIAL.NAME : PanelInputLine
      object i_SCREENFULL_DBCHISLO3 : PanelInputLine {
        Visible = False;
      } // i_SCREENFULL_DBCHISLO3 : PanelInputLine
      object i_SCREENFULL_DBKAU3 : PanelInputLine {
        Visible = False;
      } // i_SCREENFULL_DBKAU3 : PanelInputLine
      object i_SCREENFULL_DBCHISLO4 : PanelInputLine {
        Visible = False;
      } // i_SCREENFULL_DBCHISLO4 : PanelInputLine
      object i_SCREENFULL_DBKAU4 : PanelInputLine {
        Visible = False;
      } // i_SCREENFULL_DBKAU4 : PanelInputLine
      object i_SCREENFULL_DBCHISLO5 : PanelInputLine {
        Visible = False;
      } // i_SCREENFULL_DBCHISLO5 : PanelInputLine
      object i_SCREENFULL_DBKAU5 : PanelInputLine {
        Visible = False;
      } // i_SCREENFULL_DBKAU5 : PanelInputLine
      object i_SCREENFULL_DBCHISLO6 : PanelInputLine {
        Visible = False;
      } // i_SCREENFULL_DBCHISLO6 : PanelInputLine
      object i_SCREENFULL_DBKAU6 : PanelInputLine {
        Visible = False;
      } // i_SCREENFULL_DBKAU6 : PanelInputLine
      object 'i_SCREENFULL_OBOROT.KOL' : PanelInputLine {
        Skip = True;
      } // i_SCREENFULL_OBOROT.KOL : PanelInputLine
      // Информация: объект "'Field: OBOROT.DATAOT'" типа PanelInputLine не найден в базовой конфигурации!
      object 'Field: OBOROT.DATAOT' : PanelInputLine {
        Original = False;
        Visible = True;
        Hidden = False;
        Protect = False;
        Skip = False;
        UpCase = False;
        Password = False;
        NoValidCheck = True;
        PickButton = False;
        CalcButton = False;
        Calendar = True;
        LessNull = False;
        StatusCtx = 0;
        Strings = ( // Список строк
        )
        StringsNull = 0;
        HelpLine = 'Дата прошлого периода';
        FieldName = 'Field: OBOROT.DATAOT';
        DefaultValue = '';
        Origin_X = 429;
        Origin_Y = 424;
        Size_X = 101;
        Size_Y = 14;
        TextAlign = 0;
        SpinButton = False;
        SpinInc = 0.0;
        SpinMin = 0.0;
        SpinMax = 0.0;
        NoStatic = False;
        EnumValues = ( // Список целых
        )
        PassiveFormat = '';
        Points = 0;
        MaxLen = 10;
        PrecisionVarName = '';
        HistoryID = 0;
        DropTarget = False;
        DropSource = False;
        FontBold = 'Значение не определено или не известно.';
        FontItalic = 'Значение не определено или не известно.';
        FontColor = 'Значение не определено или не известно.';
        FontBackColor = 'Значение не определено или не известно.';
        InputMask = 'Значение не определено или не известно.';
      } // Field: OBOROT.DATAOT : PanelInputLine
      // Информация: объект "'LbField: OBOROT.DATAOT'" типа Label не найден в базовой конфигурации!
      object 'LbField: OBOROT.DATAOT' : Label {
        Original = False;
        Title = 'Дата прошлого периода';
        Visible = True;
        Hidden = False;
        HelpLine = '';
        Origin_X = 428;
        Origin_Y = 403;
        Size_X = 140;
        Size_Y = 14;
      } // LbField: OBOROT.DATAOT : Label
    } // SCREENFULL : Screen
    object SCREENTECH : Screen {
      object i_SCREENTECH_DBKAU3 : PanelInputLine {
        Visible = False;
      } // i_SCREENTECH_DBKAU3 : PanelInputLine
      object i_SCREENTECH_DBKAU4 : PanelInputLine {
        Visible = False;
      } // i_SCREENTECH_DBKAU4 : PanelInputLine
      object i_SCREENTECH_DBKAU5 : PanelInputLine {
        Visible = False;
      } // i_SCREENTECH_DBKAU5 : PanelInputLine
      object i_SCREENTECH_DBKAU6 : PanelInputLine {
        Visible = False;
      } // i_SCREENTECH_DBKAU6 : PanelInputLine
    } // SCREENTECH : Screen
  } // WISCREENFULL : InterfaceWindow
  object WISCREENSHORT : InterfaceWindow {
    object SCREENSHORT : Screen {
      object 'i_SCREENSHORT_OBOROT.KOL' : PanelInputLine {
        Skip = True;
      } // i_SCREENSHORT_OBOROT.KOL : PanelInputLine
    } // SCREENSHORT : Screen
  } // WISCREENSHORT : InterfaceWindow
} // F_OBOROT::EDITOBOROT : InterfaceWindow
//-----------------------------------------------------------------------------
