object 'Z_STAFF::SELDISPERS' : InterfaceWindow {
  Title = 'Уволенные сотрудники ( 7038 )';
  Centered = True;
  object BRARHIVEPERS : Browser {
    object 'c_BRARHIVEPERS_TMPPERSONS.STRTABN_Таб._номер' : Column {
      Visible = False;
    } // c_BRARHIVEPERS_TMPPERSONS.STRTABN_Таб._номер : Column
    // Информация: объект "'Field: PERSONS.APPDATE'" типа Column не найден в базовой конфигурации!
    object 'Field: PERSONS.APPDATE' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 0;
      PickButton = False;
      CalcButton = False;
      Calendar = True;
      Title = 'Дата приема';
      HelpLine = 'Дата приема из раздела 1. Общие сведения';
      FieldName = 'Field: PERSONS.APPDATE';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Index = 3;
      DefaultWidth = 11;
      TextAlign = 0;
      SpinButton = False;
      SpinInc = 0.0;
      SpinMin = 0.0;
      SpinMax = 0.0;
      NoAutoSize = False;
      EnumValues = ( // Список целых
      )
      PassiveFormat = '';
      Points = 0;
      MaxLen = 10;
      PrecisionVarName = '';
      HistoryID = 0;
      DropTarget = False;
      DropSource = False;
      FontBold = 'Значение не определено или не известно.';
      FontItalic = 'Значение не определено или не известно.';
      FontColor = 'Значение не определено или не известно.';
      FontBackColor = 'Значение не определено или не известно.';
      InputMask = 'Значение не определено или не известно.';
    } // Field: PERSONS.APPDATE : Column
    // Информация: объект "'Field: PERSONS.DISDATE'" типа Column не найден в базовой конфигурации!
    object 'Field: PERSONS.DISDATE' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 0;
      PickButton = False;
      CalcButton = False;
      Calendar = True;
      Title = 'Дата увольнения';
      HelpLine = 'Дата увольнения из раздела 1. Общие сведения';
      FieldName = 'Field: PERSONS.DISDATE';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Index = 4;
      DefaultWidth = 11;
      TextAlign = 0;
      SpinButton = False;
      SpinInc = 0.0;
      SpinMin = 0.0;
      SpinMax = 0.0;
      NoAutoSize = False;
      EnumValues = ( // Список целых
      )
      PassiveFormat = '';
      Points = 0;
      MaxLen = 10;
      PrecisionVarName = '';
      HistoryID = 0;
      DropTarget = False;
      DropSource = False;
      FontBold = 'Значение не определено или не известно.';
      FontItalic = 'Значение не определено или не известно.';
      FontColor = 'Значение не определено или не известно.';
      FontBackColor = 'Значение не определено или не известно.';
      InputMask = 'Значение не определено или не известно.';
    } // Field: PERSONS.DISDATE : Column
    object 'c_BRARHIVEPERS_TMPPERSONS.FIO_Фамилия,_имя,_отчество' : Column {
      Index = 5;
    } // c_BRARHIVEPERS_TMPPERSONS.FIO_Фамилия,_имя,_отчество : Column
    object 'c_BRARHIVEPERS_Подразделение' : Column {
      Index = 6;
    } // c_BRARHIVEPERS_Подразделение : Column
    object 'c_BRARHIVEPERS_TMPPERSONS.APPDATE_Дата_приема' : Column {
      Visible = False;
      Index = 7;
    } // c_BRARHIVEPERS_TMPPERSONS.APPDATE_Дата_приема : Column
    object 'c_BRARHIVEPERS_TMPPERSONS.DISDATE_Дата_увольнения' : Column {
      Visible = False;
      Index = 8;
    } // c_BRARHIVEPERS_TMPPERSONS.DISDATE_Дата_увольнения : Column
  } // BRARHIVEPERS : Browser
} // Z_STAFF::SELDISPERS : InterfaceWindow
//-----------------------------------------------------------------------------
